.history-header {
  background-image: url(../images/bgs/bg-history-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &-row {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  &-top {
    padding-top: 130px;

    @media (max-width: 1439px) {
      padding-top: 115px;
    }
  }
  &-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex: 0 0 100%;
  }
  &-btn {
    flex: 0 0 170px;
    max-width: 170px;
  }
  &-titles {
    max-width: 1030px;

    @media (max-width: 1439px) {
      max-width: 630px;
    }
  }
  &-text {
    @include fz(42);
    margin-bottom: 30px;
    line-height: 1.1;

    @media (max-width: 1439px) {
      @include fz(32);
    }
  }
}


.ui-top-screen {
  &-title {
    max-width: 920px;
  }

  &-text {
    max-width: 1035px;
    @include fz(42);
    margin-bottom: 44px;
  }
}

.history-upper {
  text-transform: uppercase;
}

.history-body {
  padding-top: 100px;
  color: #000;
  @include fz(22);

  @media (max-width: 1439px) {
    padding-top: 50px;
    @include fz(18);
  }
}
.history-tabs {
  margin-bottom: 120px;
  font-size: 0;

  li {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-right: 16px;
  }

  &-link {
    display: inline-block;
    vertical-align: middle;
    height: 78px;
    line-height: 76px;
    border: 1px dashed $secondary;
    border-radius: 40px;
    padding: 0px 32px;
    color: $secondary;
    @include fz(42);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color .3s, border .3s;

    &:hover,
    &.active {
      color: #000;
      border: 1px solid #000;
    }
  }

  @media (max-width: 1439px) {
    &-link {
      @include fz(32);
      height: 72px;
      line-height: 70px;
    }
  }
  @media (max-width: 1259px) {
    margin-bottom: 100px;

    &-link {
      @include fz(28);
      height: 68px;
      line-height: 66px;
    }
  }
}

.history {
  &-top-screen {
    &-title {
      max-width: 1200px;
      @include fz(140);
    }
  }
  
  &-pos {
    background: $primary;
    padding-top: 200px;
    padding-bottom: 200px;
    
    &-top {
      max-width: 960px;
      color: #222e3f;
      @include fz(400);
      line-height: 1;
      margin-bottom: 200px;
      @media (max-width: 1260px) {
        @include fz(300);
      }
      &-subtitle {
        @include fz(80);
        font-weight: 700;
        line-height: 1;
        @media (max-width: 1260px) {
          @include fz(52);
        }
      }
    }

    &-middle {
      margin-bottom: 100px;
      &-item {
        max-width: 480px;
        @include fz(22);
        line-height: 1.45;
        color: #ffffff;
        @media (max-width: 1260px) {
          @include fz(18);
        }
      }

      &-top {
        @include fz(110);
        line-height: 1;
        @media (max-width: 1260px) {
          @include fz(90);
        }
      }
    }

    &-bottom {
      &-item {
        @include fz(54);
        color: #ffffff;
        @media (max-width: 1260px) {
          @include fz(42);
        }
      }

      &-subtitle {
        @include fz(18);
        @media (max-width: 1260px) {
          @include fz(18);
        }
      }
    }
  }

  &-purpose {
    padding-top: 200px;
    padding-bottom: 200px;
    &-item {
      margin-bottom: 100px;
      max-width: 920px;
      &-title {
        @include fz(256);
        @media (max-width: 1260px) {
          @include fz(200);
        }
      }

      &-text {
        @include fz(42);
        color: $primary;
        @media (max-width: 1260px) {
          @include fz(32);
        }
      }
    }
  }
  &-acs {
    background: #2f3e53;
    padding-top: 80px;
    padding-bottom: 120px;

    &-title {
      @include fz(54);
      color: $primary;
      line-height: 1.1;
      margin-bottom: 80px;
      max-width: 470px;
    }

    &-lineup {
      &-title {
        @include fz(28);
        font-weight: 700;
        margin-bottom: 60px;
        margin-left: -15px;
      }

      &-item {
        max-width: 450px;
        margin-bottom: 60px;
      }

      &-img {
        margin-right: 12px;
      }

      &-text {
        max-width: 340px;
      }
    }
  }
}

.history-information {
  padding-bottom: 156px;
}


.history-side-title {
  @include fz(80);
  color: #268E80;
  word-break: break-word;
  line-height: 1;

  @media (max-width: 1439px) {
    @include fz(54);
  }
}

.information-image {
  padding-bottom: 40px;
}


.page-btn-img {
  align-items: center
}


@media (max-width: 1439px) {
  .history-body {
    .node-inner {
      padding-right: 0;
    }
  }
}

//404.html
.footer-page-404 {
  display: none;
}

.page-page-404 {
  padding-top: 0;
}
.wrapper-page-404 {
  padding-top: 0;
}

.page-404-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 300px;
  padding-bottom: 49px;
  min-height: 100vh;
  max-height: 1500px;
}

.page-404-hide {
  display: none;
  @media (max-width: 1260px) {
    display: inline-block;
  }
}
.page-404-top-screen {
  &-title {
    max-width: 920px;
    line-height: 0.9;
  }
  &-text {
    max-width: 675px;
    @include fz(28);
    margin-bottom: 33px;
    line-height: 1.38;
  }
}

.page-404-header {
  background-image: url(../images/404.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.page-404-top-screen-title {
  @include fz(300);
  color: #F08322;
}

.page-404-top-screen-text {
  @include fz(54);
}

.page-404-circle-circle {
  height: 170px;
  width: 170px;
  border-radius: 170px;
  gap: 8px;
  @media (max-width: 1260px) {
    height: 130px;
    width: 130px;
  }
}

@media (max-width:1024px) {
  .page-404-header {
    background-size: contain;
  }
}

//stub-page.html
.wrapper-stub-page {
  padding-top: 0;
}

.page-stub-page {
  padding-top: 0;
}

.stub-page {
  display: none;
}

.stub-page-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 300px;
  min-height: 100vh;
  max-height: 1500px;
}

.stub-page-top-screen {
  padding-bottom: 50px;
}

@media (max-width: 1024px) {
  // #wrapper {
  //   min-height: 0%;
  // }

  .header-stub-page {
    .col-layout-wide-header {
      display: none;
    }

    .col-layout-thin-header {
      .ux-toggler-menu {
        display: none;
      }
    }

    .logo-img, a.logo-img {
      height: 40px;
      width: 40px;
    }

    .logo-img, a.logo-img {
      max-width: 100%;
    }
  }

  #middle {
    display: none;
  }

  .stub-page {
    display: block;
  }

  .stub-page-row {
    flex-direction: row;
    padding-top: 0;
  }

  .stub-page-top-screen {
    width: 100%;
  }

  .stub-top-screen-title {
    width: 542px;
    font-weight: 600;
    @include fz(60);
  }

  .stub-top-screen-text {
    width: 280px;
    font-weight: 500;
    @include fz(24);
  }

  .stub-page-bottom-screen img{
    max-width: none;
  }

  .footer-stub-page{
    display: none;
  }
}

@media (max-width: 900px) {
  .stub-page-row {
    flex-direction: column;
    padding-top: 80px;
  }

  .stub-page-top-screen {
    padding-bottom: 0;
  }

  .stub-top-screen-title {
    font-weight: 600;
    @include fz(60);
  }

  .stub-top-screen-text {
    font-weight: 500;
    @include fz(24);
  }

  .stub-page-bottom-screen img{
    max-width: 100%;
  }
}

@media (max-width: 568px) {
  .inner, .container {
    padding: 0 30px;
  }

  .stub-page-row {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0;
  }

  .stub-page-top-screen {
    width: 100%;
    padding-bottom: 30px;
  }

  .stub-top-screen-title {
    width: 216px;
    font-weight: 600;
    @include fz(24);
  }

  .stub-top-screen-text {
    width: 185px;
    font-weight: 500;
    @include fz(16);
  }

  .stub-page-bottom-screen {
    position: relative;
    right: -70px;
  }

  .stub-page-bottom-screen img {
    height: auto;
    width: 772px;
  }
}

@media (max-width: 500px) {
  .header-stub-page {
    .logo-img, a.logo-img {
      height: 40px;
      width: 40px;
    }

    .logo-img, a.logo-img {
      max-width: 100%;
    }
  }

  .stub-page-row{
    flex-direction: column;
    padding-top: 130px;
  }

  .stub-top-screen-title {
    font-weight: 600;
    @include fz(24);
  }

  .stub-top-screen-text {
    font-weight: 500;
    @include fz(16);
  }

  .stub-page-bottom-screen {
    position: static;
  }

  .stub-page-bottom-screen img {
    max-width: 100%;
  }
}

//cookie popup
.popup-cookie {
  position: fixed;
  bottom: 0;
  right: 2em;
  z-index: 99;
  padding: 2em 1.4em;
  max-width: 42.85em;
  width: 320px;
	height: 210px;
  font-size: 14px;
  line-height: 1.8em;
  background-color: #F08322;
  transition: all 0.5s ease-in-out;
  
	p {
		margin-bottom: 23px;
		@include fz(18);
    font-weight: 400;
	}

	.btn-accept {
		position: relative;
		display: flex;
		padding: 12px 14px 12px 20px;
		@include fz(18);
		font-weight: 600;
		color: #fff;
		background-color: transparent;
		border: 2px solid #fff;
		border-radius: 10px;

    &:hover {
			color: #F08322;
			background-color: #fff;

			.circle-link-icon.cookie {
				stroke: #F08322;
			}
		}

		.sprite, .circle-link-icon.cookie {
			transition: none;
		}

		.circle-link-icon.cookie {
			width: 24px;
			height: 24px;
			margin-left: 45px;
			fill: none;
			stroke: #fff;
      stroke-width: 2px;
		}
	}

  &.hidden {
    visibility: hidden;
  }

  &.visible {
    visibility: visible;
    bottom: 2em;
  }
}