.company-header-wrp {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .first-screen {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
.first-screen {
  position: relative;
  z-index: 1;
  background: $bgc;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#16202E, 0.75);
  }

  &-flex {
    display: flex;
    align-items: flex-end;
    padding-top: 100px;
    padding-bottom: 49px;
    min-height: 100vh;
    max-height: 1500px;
    position: relative;
    z-index: 1;
  }

  &-left {
    flex: 0 0 calc(100% - 185px);
    max-width: calc(100% - 185px);
  }

  &-right {
    flex: 0 0 185px;
    max-width: 185px;
    padding-left: 15px;
  }

  &-title {
    margin-bottom: 40px;
    max-width: 1100px;

    &-mini {
      @include fz(110);

      @media (max-width: 1439px) {
        @include fz(90);
      }
      @media (max-width: 1259px) {
        @include fz(80);
      }
    }
  }

  &-txt {
    @include fz(28);
    margin-bottom: 25px;
    line-height: 1.35;
    max-width: 850px;

    @media (max-width: 1439px) {
      @include fz(24);
    }
    @media (max-width: 1259px) {
      @include fz(16);
    }
  }

  &-arrow {
    width: 34px;
    height: 13px;
    cursor: pointer;

    svg {
      fill: none;
      stroke: #FFF;
      stroke-width: 2;
    }
  }

  &-bg {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// UI header
.ui-header {
  background-image: url(../images/bgs/company-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.museum-hide {
  display: none;
  @media (max-width: 1259px) {
    display: inline-block;
  }
}
.ui-top-screen {
  &-title {
    max-width: 920px;
    line-height: 0.9;
  }
  &-text {
    max-width: 675px;
    @include fz(28);
    margin-bottom: 33px;
    line-height: 1.38;
  }
}
//  Ui page

.ui-page {
  padding-top: 0;
}
.ui-wrapper {
  padding-top: 0;
}
.ui-top-header {
  background-image: url(../images/bgs/company-header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.company-row {
  min-height: 100vh;
  max-height: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 300px;
  padding-bottom: 49px;

  @media (max-width: 1439px) {
    height: 650px;
  }
}
.ui-top-screen {
  &-title {
    max-width: 920px;
  }
  &-text {
    max-width: 675px;
    @include fz(28);
    margin-bottom: 44px;
  }
}

.company-upper {
  text-transform: uppercase;
}
// Company style
.company {
  &-top-screen {
    &-title {
      max-width: 1200px;
      @include fz(110);
    }
  }
  &-pos {
    background: $primary;
    // padding-top: 200px;
    padding-bottom: 200px;

    &-top {
      max-width: 960px;
      color: #222e3f;
      @include fz(400);
      line-height: 1;
      padding: Min(220px, 15vh) 0;
      // margin-bottom: 200px;
      // min-height: 100vh;
      // padding: 8vh 0;
      // margin-bottom: 8vh;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;

      @media (max-width: 1439px) {
        @include fz(300);
      }
      &-num {
        margin-left: -0.07em;
      }
      &-subtitle {
        @include fz(80);
        font-weight: 700;
        line-height: 1;

        @media (max-width: 1439px) {
          @include fz(52);
        }
      }
    }

    &-middle {
      margin-bottom: 100px;

      &-item {
        max-width: 480px;
        @include fz(22);
        line-height: $lh;
        color: #ffffff;

        @media (max-width: 1439px) {
          @include fz(18);
        }
      }
      &-top {
        @include fz(110);
        line-height: 1;

        @media (max-width: 1439px) {
          @include fz(90);
        }
      }
    }
    &-bottom {
      &-item {
        @include fz(54);
        color: #ffffff;
        line-height: 1.05;

        @media (max-width: 1439px) {
          @include fz(42);
        }
      }
      &-subtitle {
        @include fz(18);
        line-height: $lh;

        @media (max-width: 1439px) {
          @include fz(18);
        }
      }
    }
  }
  &-purpose {
    padding-top: 220px;
    padding-top: Min(15vh, 220px);
    
    &-item {
      margin-bottom: 220px;
      margin-bottom: Min(15vh, 220px);
      // display: flex;
      // justify-content: center;
      // min-height: 100vh;
      // flex-direction: column;
      // padding: 10vh 0 calc(10vh - 15px);
      // margin-bottom: 15px;
     
      &-title {
        @include fz(256);
        margin-left: -0.07em;
        line-height: 1.2;
        margin-bottom: 10px;

        @media (max-width: 1439px) {
          @include fz(200);
        }
      }
      &-text {
        @include fz(42);
        color: $primary;
        max-width: 900px;
        
        @media (max-width: 1439px) {
          @include fz(32);
          max-width: 820px;
        }

        @media (max-width: 1259px) {
          max-width: 645px;
        }
      }
    }
  }
  &-acs {
    background: #2f3e53;
    padding-top: 80px;
    padding-bottom: 120px;

    &-lineup {
      &-title {
        @include fz(28);
        font-weight: 700;
        margin-bottom: 60px;
      }
      &-item {
        max-width: 450px;
        margin-bottom: 60px;
        color: #FFF;
        @include fz(24);
        line-height: 1.16;

        @media (max-width: 1439px) {
          @include fz(20);
        }
      }
      a#{&}-item:hover {
        color: $primary;
      }
      &-img {
        margin-right: 12px;
        flex: 0 0 100px;
        max-width: 100px;
        line-height: 0;
      }
      &-text {
        max-width: 300px;
      }
    }
  }
  &-chart {
    padding-bottom: 40px;
    padding-top: 80px;
  }
  &-fs {
    padding-top: 80px;
    padding-bottom: 60px;
    background: #2f3e53;
  }
}

.company-fs {
  .fs-menu-row {
    flex-wrap: wrap;
    margin-right: -30px;
    justify-content: space-between;
  }
  .fs-menu-col {
    flex: 0 0 190px;
    max-width: 20%;
    padding-right: 30px;
  }

  @media (max-width: 1439px) {
    .fs-menu-col {
      flex: 0 0 150px;
    }
  }
}

