.enterprises {
  .ui-subtitle {
    color: $bgc;
    @media (max-width: 1260px) {
      @include fz(42);
      margin-bottom: 60px;
    }
  }
  .node-inner {
    padding-right: 0;
  }
  &-circle {
    margin-bottom: 40px;
  }
  &-info {
    padding-top: 80px;
  }
  &-block {
    margin-bottom: 120px;
    padding-top: 80px;
  }
  &-num {
    &-item {
      @include fz(28);
      margin-bottom: 80px;
      @media (max-width: 1440px) {
        @include fz(24);
      }
      &-top {
        @include fz(110);
        color: $secondary;
        @media (max-width: 1440px) {
          @include fz(90);
        }
      }
    }
  }
  &-proud {
    background: $secondary;
    color: #fff;
    padding-bottom: 120px;
    .ui-subtitle {
      color: #fff;
    }

    &-item {
      max-width: 520px;
      margin-bottom: 80px;
    }
    &-img {
      margin-bottom: 25px;
    }
    &-text {
      @include fz(22);
      @media (max-width: 1260px) {
        @include fz(18);
      }
    }
  }
  &-sort {
    .ui-subtitle {
      @media (max-width: 1260px) {
        display: inline-block;
        max-width: 274px;
      }
    }
    &-adaptive {
      margin-bottom: 60px;
      &-link {
        display: none;
        @media (max-width: 1260px) {
          display: flex;
          align-items: center;
        }
      }
      @media (max-width: 1260px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
  &-diplom {
    .ui-subtitle {
      color: $bgc;
    }
  }
  &-contact {
    background: #222e3f;
    padding-top: 80px;
    padding-bottom: 120px;
    &-container {
      margin-bottom: 60px;
    }

    &-adress {
      @include fz(28);
      padding-right: 10.86%;
      &-title {
        color: $secondary;
        margin-bottom: 24px;
        font-weight: 700;
      }
      &-text {
        color: #fff;
        margin-bottom: 24px;
      }
      &-link {
        display: block;
        position: relative;
        max-width: 336px;
        padding: 24px 30px;
        color: #fff;
        @include fz(24);
        border: 1px solid #fff;
        border-radius: 8px;

        .docs-card-icon {
          opacity: 1;
          stroke: #fff;
          transform: translate(0%, 50%);
          bottom: 50%;
          right: 30px;
          transition: 0.3s ease;
        }
        &:hover {
          .docs-card-icon {
            stroke: $primary;
          }
        }
      }
      @media (max-width: 1260px) {
        @include fz(24);
      }
    }
    .ui-subtitle {
      color: $secondary;
    }
    .node-slider-comm-body {
      padding-left: 0;
      max-width: 66.56%;
      @media (max-width: 1440px) {
        padding-right: 15%;
      }
    }
    .node-slider-comm-img {
      max-width: 33.43%;
    }
    .museum-review-position {
      color: #fff;
      @include fz(28);
      margin-bottom: 24px;
      font-weight: 700;
      @media (max-width: 1260px) {
        @include fz(24);
      }
    }
    .museum-review-author {
      color: $secondary;
      @include fz(54);
      margin-bottom: 24px;
      font-weight: 400;
      line-height: 1;
      @media (max-width: 1260px) {
        @include fz(42);
      }
    }
    .museum-review-txt {
      @include fz(22);
      font-weight: 600;
      color: #fff;
      @media (max-width: 1260px) {
        @include fz(18);
      }
    }
  }
  &-news {
    background: $secondary;
    .ui-side-title {
      color: #fff;
    }
    .news-item-date {
      color: $bgc;
    }
  }
}
.circle-flex {
  display: flex;
  flex-direction: column;
  @media (max-width: 1260px) {
    display: none;
  }
}

.enterprises-swipper {
  position: relative;
  .swiper-slide {
    display: flex;
    align-items: flex-end;
    text-align: left;
  }
  .enterprises-slider-text {
    padding: 0 24px;
  }

  .ui-tags-inline {
    margin-right: 0;
  }
  .ui-subtitle {
    color: $bgc;
  }
}
.node-body {
  padding-bottom: 0;
}

.history-header-top {
  padding-top: 100px;
}
.history-header-main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.enterprises-circle {
  flex: 0 0 38.6%;
  max-width: 38.6%;
  @media (max-width: 1260px) {
    margin-bottom: 0;
    margin-left: 40px;
    max-width: initial;
  }
  &:after {
    border: 1px solid $secondary;
  }
}

.slider-text {
  @include fz(28);
  margin-bottom: 40px;
  @media (max-width: 1260px) {
    @include fz(24);
  }
}
