footer.footer {
  padding-top: 57px;
  padding-bottom: 37px;
}

.footer {
  &-copyright {
    max-width: 210px;
    margin-bottom: 20px;
    @include fz(18);
    line-height: 1.55;
  }

  &-links {
    a {
      @media (min-width: 960px) {

        &:hover {
          color: #FFF;
        }
      }
    }

    &-col {
      display: inline-block;
      vertical-align: middle;
      margin-right: 47px;
      max-width: 180px;
    }

    &-social {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 17px;
      width: 44px;
      height: 44px;
      border: 1px solid $primary;
      border-radius: 22px;
      text-align: center;
      line-height: 42px;
      padding: 7px;
      overflow: hidden;

      svg {
        fill: $primary;
      }
      
      @media (min-width: 960px) {

        &:hover {
          border-color: #FFF;
  
          svg {
            fill: #FFF;
          }
        }
      }

      &-fb {
        svg {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 82%;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-dev {
    &-label {
      @include fz(18);
      margin-bottom: 3px;
    }
    &-name {
      font-weight: 600;
      @include fz(20);
      color: #FFF;
      letter-spacing: 0.15em;
      margin-right: -0.075em;
      white-space: nowrap;
    }
  }

  @media (max-width: 1259px) {
    &-dev {
      &-label {
        @include fz(14);
        margin-bottom: 1px;
      }
    }

    &-links-col {
      margin-right: 25px;
    }

    &-links {
      line-height: 1.5;
    }
  }
}


@media (max-width: 1259px) {
  .col-layout-thin-footer {
    flex: 0 0 31.2%;
    max-width: 31.2%;
    // flex: 0 0 26%;
    // max-width: 26%;
  }
  .col-layout-wide-footer {
    flex: 0 0 68.8%;
    max-width: 68.8%;
    // flex: 0 0 74%;
    // max-width: 74%;
  }
}


// .fs-opened {
//   overflow: hidden;
// }
.fs-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  display: none;
}
.fs-menu {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}
.fs-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0;
  z-index: -9;
  // z-index: 199;
  padding-top: 65px;  
  padding-bottom: 65px;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.12;
  opacity: 0;
  visibility: hidden;

  &.opened {
    z-index: 199;
    opacity: 1;
    visibility: visible;
  }

  .ui-btn-circle {
    max-width: 130px;

    &-circle {
      width: 130px;
      height: 130px;
    }

    @media (max-width: 1439px) {
      max-width: 106px;

      &-circle {
        width: 106px;
        height: 106px;
      }
    }
  }

  &-bg {
    z-index: 198;
    border-radius: 2500px;
    background: #2F3E53;
    width: 44px;
    height: 44px;
    position: fixed;
    opacity: 0;
    visibility: hidden;

    &.opened {
      opacity: 1;
      visibility: visible;
    }

    // &-wrap {
    //   position: fixed;
    //   left: 0;
    //   top: 80px;
    //   bottom: 0;
    //   right: 0;
    // }
  }


  &-row {
    display: flex;
    align-items: flex-start;
  }
  &-productions {
    margin-bottom: 15px;
  }
  &-col {
    flex: 0 0 16.667%;
    max-width: 16.667%;

    &-wide {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }

  &-title {
    @include fz(28);
    color: rgba(#FFF,.5);
    font-weight: 700;
    margin-bottom: 24px;
  }

  &-ul {
    margin-bottom: 45px;

    li {
      @include fz($fontsize);
      margin-bottom: 15px;
    }
    a {
      color: #FFF;

      @media (min-width: 960px) {

        &:hover {
          color: $primary;
        }
      }
    }

    &-wide {
      font-size: 0;

      li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding-right: 10%;
      }
    }
  }

  &-links {
    margin-bottom: 65px;
    border-bottom: 1px solid rgba(#FFF, .3);
  }

  &-contacts {
    position: relative;

    &-title {
      font-weight: 700;
      color: $primary;
      margin-bottom: 24px;
      @include fz(28);
    }

    &-btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &-adrs {
    max-width: 408px;
  }

  &-socials {
    min-height: 51px;

    @media (max-width: 959px) {
      margin-top: -20px;
      margin-bottom: 20px;
    }
  }

  .footer-links-social {
    width: 35px;
    height: 35px;
  }

  @media (max-width: 1439px) {
    @include fz(14);
    line-height: 1.14;

    &-ul {
      li {
        @include fz(14);
      }
    }

    &-title,
    &-contacts-title {
      @include fz(24);
    }

    &-adrs {
      max-width: 312px;
    }
  }

  @media (max-width: 1259px) {

    &-title,
    &-contacts-title {
      @include fz(16);
      margin-bottom: 16px;
    }

    &-productions {
      margin-bottom: 0;
    }

    &-links {
      padding-bottom: 0;
    }

    &-ul {
      li {
        margin-bottom: 10px;
      }
    }

    &-contacts-title {
      margin-bottom: 20px;
    }
    &-socials {
      min-height: 38px;
    }

    .footer-links-social {
      width: 29px;
      height: 29px;
      padding: 4px;
    }
  }

  &-productions-title {
    display: none;
  }
}


.fs-menu {
  &-row {
    margin-right: -7.5vw;
  }
  div#{&}-col {
    padding-left: 0;
    padding-right: 7.5vw;
  }
  &-col {
    &-wide {
      padding-right: 0 !important;
    }
    .row {
      margin: 0;
    }
    [class*="col-"] {
      padding-left: 0;
      padding-right: 25px;
    }
  }
  &-ul-wide {
    margin-right: -7.5vw;
  }

  @media (min-width: 1920px) {
    &-row {
      margin-right: -172px;
    }
    div#{&}-col {
      padding-right: 172px;
    }
    &-ul-wide {
      margin-right: -172px;
    }
  }

  @media (max-width: 1259px) {
    &-row {
      margin-right: -5.5vw;
    }
    div#{&}-col {
      padding-right: 5.5vw;
    }
    &-ul-wide {
      margin-right: -5.5vw;
    }
  }

  @media (max-width: 959px) {
    top: 62px;
    padding-top: 24px;
    padding-bottom: 48px;

    &-row {
      display: block;
      margin-right: 0;
    }
    &-col {
      padding-right: 0 !important;
    }
    &-col {
      max-width: 100%;

      .col-6 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    &-productions {
      .fs-menu-row {
        padding-top: 8px;
        display: grid;
        grid-template-columns: repeat(3, 144px);
        // justify-content: space-between;
        grid-gap: 0 68px;
      }
      .fs-menu-col {
        padding-bottom: 0;
      }
    }
    &-btn {
      text-align: center;
    }
    &-col,
    &-productions {
      padding-bottom: 20px;
    }
    &-ul {
      margin-bottom: 0;
      
      li {
        @include fz(18);
        margin-bottom: 16px;
      }
    }
    &-ul-wide {
      padding-right: 0;
    }
    &-links {
      margin-bottom: 32px;
    }
    &-contacts-btn {
      top: 70px;
    }
    &-productions-title {
      display: block;
    }
    &-title {
      @include fz(36);
      color: #FFF;
      font-weight: 600;

      &-toggler {
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        
        &:after {
          content: "";
          display: inline-block;
          vertical-align: middle;
          width: 24px;
          height: 24px;
          margin-left: 8px;
          transition: transform .3s;
          background: url(../images/svg/arrow-filled.svg) center no-repeat;
          background-size: contain;
        }
        &.opened {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
    }
    &-body {
      display: none;
      height: 0;
      overflow: hidden;
      margin: -9px;
      padding: 9px;

      &.opened {
        display: block;
      }
    }
    &-contacts {
      @include fz(18);

      &-title {
        display: none;
      }
    }
    
  }

  @media (max-width: 599px) {
    top: 48px;

    &-body {
      margin: -5px;
      padding: 5px;
    }
    &-title {
      @include fz(28);
    }
    &-productions {
      .fs-menu-row {
        grid-template-columns: repeat(3, 82px);
        // grid-gap: 0 20px;
      }
    }
    &-ul {
      li {
        @include fz(16);
      }
    }

    &-contacts {
      @include fz(16);
    }
    &-contacts-btn {
      .ui-btn-circle {
        max-width: 92px;

        &-circle {
          width: 92px;
          height: 92px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    &-productions {
      .fs-menu-row {
        justify-content: space-between;
        grid-gap: 0 20px;
      }
    }
  }

  @media (max-width: 340px) {
    &-productions {
      .fs-menu-row {
        grid-gap: 0 15px;
      }
    }
  }
}
.fs-menu-links div.fs-menu-col:not(.fs-menu-col-wide) {
  padding-right: 3vw;
}


.production-btn {
  margin-bottom: 45px;
  display: block;
  max-width: 160px;
  position: relative;
  line-height: 1.1;

  @media (max-width: 1439px) {
    max-width: 120px;
  }

  $this: &;
  
  &-circle {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    background: $primary;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    
    &-wrap {
      position: relative;
      margin-bottom: 15px;
      
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $primary;
        border-radius: 50%;
        z-index: 1;
        opacity: 0;
        transition: transform .5s, opacity .5s;
      }
    }
  }
  &-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -1px;
    max-height: 100%;
    max-width: none;
    z-index: 1;
    border-radius: 200px;
  }

  @media (min-width: 960px) {

    &:hover {
      color: #FFF;
  
      #{$this}-circle-wrap {
        &:after {
          opacity: 1;
          transform: scale(1.12);
        }
      }
    }
  }

  &-secondary {
    color: $secondary;

    #{$this}-circle {
      background: $secondary;
    }

    #{$this}-circle-wrap:after {
      border-color: $secondary;
    }
  }

  &-tertiary {
    color: $tertiary;

    #{$this}-circle {
      background: $tertiary;
    }

    #{$this}-circle-wrap:after {
      border-color: $tertiary;
    }
  }

  &-primarylight {
    color: $primary_hover;

    #{$this}-circle {
      background: $primary_hover;
    }

    #{$this}-circle-wrap:after {
      border-color: $primary_hover;
    }
  }

  &-blue {
    color: $blue;

    #{$this}-circle {
      background: $blue;
    }

    #{$this}-circle-wrap:after {
      border-color: $blue;
    }
  }

  &-darkyellow {
    color: $darkyellow;

    #{$this}-circle {
      background: $darkyellow;
    }

    #{$this}-circle-wrap:after {
      border-color: $darkyellow;
    }
  }

  &-active {
    #{$this}-circle-wrap {
      &:after {
        opacity: 1;
        transform: scale(1.12);
      }
    }
  }

  @media (max-width: 959px) {
    max-width: 144px;
    margin-bottom: 24px;
    @include fz(18);
    word-break: break-word;
  }

  @media (max-width: 599px) {
    max-width: 82px;
    margin-bottom: 16px;
    @include fz(14);

    &-txt {
      margin-left: -8px;
      margin-right: -8px;
    }

    &-circle {
      &-wrap {
        margin-bottom: 8px;
      }
    }
  }
}

.main-menu-btn {
	display: flex;
	align-items: center;
  @include fz(16);
  margin-bottom: 32px;
  max-width: 172px;
  
	.production-btn {
		&-circle-wrap {
			flex: 0 0 72px;
			max-width: 72px;
			margin-right: 16px;
			margin-bottom: 0;
		}

    @media (max-width: 1259px) {
      &-circle-wrap {
        flex: 0 0 56px;
        max-width: 56px;
      }
    }
	}

  @media (max-width: 1259px) {
    @include fz(14);
    margin-bottom: 40px;
  }
}

.fs-search {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  height: calc(100vh - 80px);
  z-index: 200;
  padding-top: 65px;
  padding-bottom: 65px;
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  &-bg {
    z-index: 199;
    border-radius: 2500px;
    background: #222E3F;
    width: 44px;
    height: 44px;
    position: fixed;
    opacity: 0;
    visibility: hidden;

    &.opened {
      opacity: 1;
      visibility: visible;
    }
  }

  &-field {
    position: relative;
    z-index: 9;
    margin-bottom: 85px;
  }
  &-input {
    width: 100%;
    height: 75px;
    display: block;
    border: 0px;
    border-bottom: 1px solid rgba(#FFF, .3);
    padding: 0 64px 0 0;
    @include fz(42);
    color: #FFF;
    background-color: transparent;
    transition: .3s border;
    border-radius: 0;

    &:hover {
      border-bottom-color: rgba(#FFF, .6);
    }
    &:focus {
      border-bottom-color: #FFF;
    }
  }
  &-submit {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    width: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    font-size: 0;
    border: 0;
    border-radius: 0;
    cursor: pointer;

    svg {
      fill: none;
      stroke: #FFF;
    }

    @media (min-width: 960px) {

      &:hover {
        svg {
          stroke: $primary;
        }
      }
    }
  }

  &-content {
    .row:first-child {
      position: relative;
      z-index: 1;
    }
  }

  &-hints {
    position: absolute;
    top: 100%;
    z-index: 3;
    width: 100%;
    left: 0;
    background: #2F3E53;
    padding: 20px 0;
    opacity: 0;
    visibility: hidden;
    transform: translate(0px, 15px);
    transition: visibility .3s, opacity .3s, transform .3s;

    &.opened {
      visibility: visible;
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
  &-hint {
    color: #FFF;
    padding: 10px 32px;
    @include fz(28);
    cursor: pointer;
    line-height: 1.1;
    transition: background-color .3s;

    @media (min-width: 960px) {

      &:hover {
        background-color: rgba(#fff,.1);
      }
    }
  }

  &-no-results {
    @include fz(54);
    line-height: 1.05;

    @media (max-width: 1439px) {
      @include fz(42);
      line-height: 1.14;
    }

    @media (max-width: 959px) {
      @include fz(32);
    }

    @media (max-width: 599px) {
      @include fz(24);
    }
  }

  &-results {
    transition: transform .5s, opacity .5s;
    opacity: 0;
    transform: translate(0px, 50px);

    &.opened {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

  @media (max-width: 959px) {
    top: 62px;
    height: calc(100vh - 62px);
    padding-top: 40px;
    padding-bottom: 40px;

    &-field {
      margin-bottom: 32px;
    }
    &-input {
      height: 52px;
      @include fz(40);
    }
    &-submit {
      padding: 10px 0px 10px 20px;
    }
    &-hint {
      @include fz(18);
      padding: 8px 16px;
    }
  }

  @media (max-width: 599px) {
    &-input {
      height: 40px;
      @include fz(28);
    }
  }
}
.fs-search::-webkit-scrollbar {
  width: 0;
  height: 0;
  -webkit-appearance: none;
  display: none;
}
.fs-search {
  scrollbar-width: 0;
  -webkit-overflow-scrolling: touch;
}

.search-results-title {
  @include fz(42);
  color: #FFF;
  margin-bottom: 80px;
  font-weight: 700;

  @media (max-width: 959px) {
    @include fz(32);
    font-weight: 400;
    margin-bottom: 32px;
  }

  @media (max-width: 599px) {
    @include fz(24);
  }
}
.search-result {
  display: block;
  margin-bottom: 100px;
  color: #FFF;

  &-type {
    @include fz(28);
    color: $primary;
    font-weight: 700;
    margin-bottom: 14px;
  }
  &-title {
    @include fz(54);
    line-height: 1;
    margin-bottom: 20px;
    max-width: 800px;
    transition: color .3s;

    &-arrow {
      position: relative;
      display: inline;
      vertical-align: bottom;
      width: 48px;
      height: 48px;
      margin-right: -48px;
      stroke: #FFF;
      stroke-width: 2;
      fill: none;
      // opacity: 0;
      transform: translate3d(0, 0, 0);
      transition: transform 0.3s, stroke .3s;
      will-change: transform, opacity;
    }
  }
  &-descr {
    max-width: 540px;
  }

  @media (min-width: 960px) {

    &:hover {
      color: #FFF;
  
      .search-result {
        &-title {
          color: $primary;
  
          &-arrow {
            opacity: 1;
            transform: translate3d(5px, 0, 0);
            stroke: $primary;
          }
        }
      }
    }
  }

  @media (max-width: 1439px) {
    @include fz(14);
    
    &-type {
      @include fz(24);
    }
    &-title {
      @include fz(42);
      line-height: 1.14;
    }
  }
  
  @media (max-width: 959px) {
    @include fz(16);
    margin-bottom: 24px;

    &-type {
      @include fz(16);
      margin-bottom: 4px;
    }
    &-title {
      @include fz(24);
      margin-bottom: 4px;
      padding-right: 15px;

      &-arrow {
        width: 24px;
        height: 24px;
        margin-right: -24px;
        stroke-width: 1;
        margin-left: 2px;
        top: 0;
      }
    }
  }

  @media (max-width: 599px) {
    @include fz(14);

    &-type {
      @include fz(14);
    }
    &-title {
      @include fz(20);

      &-arrow {
        // width: 20px;
        // height: 20px;
        // top: 0.25em;
      }
    }
  }
}

.fs-menu-ul.fs-menu-contacts-2 {
  white-space: nowrap;
}

@media (max-width: 959px) {
  footer.footer {
    background: #1D2735;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  
  .col-layout-thin-footer,
  .col-layout-wide-footer  {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .footer-copyright {
    max-width: 100%;
    margin-bottom: 24px;
    line-height: $lh;
    @include fz(16);
  }

  .footer-right {
    display: block !important;
  }
  .footer-links {
    line-height: $lh;
    padding-bottom: 14px;

    &-col {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
      max-width: 100%;
    }
    &-contacts {
      li {
        margin-bottom: 10px;
      }
    }
    &-social {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      padding: 4px;
    }
  }

  .footer-dev {
    &-label {
      display: inline;
      margin-right: 3px;
      margin-bottom: 0;
    }
    &-name {
      @include fz(18);
    }
  }

  body.fs-opened {
    background-color: #2F3E53;
  }
  .logo,
  .menu-toggler {
    transition: opacity .15s, transform .25s;
  }
  .circle-link-search {
    transition: transform .25s;

    // &.opened {
    //   transform: translate(60px,0);
    // }
  }

  header.fs-search-opened {
    .logo {
      opacity: 0;
      transform: translate(-10px,0);
    }
    .menu-toggler {
      opacity: 0;
      transform: translate(10px,0);
    }
    .circle-link-search {
      transform: translate(60px,0);
    }
  }

}

@media (max-width: 599px) {
  .fs-menu {
    .production-btn {
      @include fz(12);
      line-height: 1.17;

      // &-txt {
      //   margin-left: -7px;
      //   margin-right: -7px;
      // }
    }
  }

  .footer-copyright {
    @include fz(14);
  }

  .footer-dev {
    &-label {
      @include fz(12);
    }
    &-name {
      @include fz(15);
    }
  }

  .circle-links {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transform: translate(10px,0);
    transition: opacity .15s, transform .15s, visibility .15s;
  }
  header.fs-opened:not(.fs-search-opened) {
    .logo {
      opacity: 0;
      transform: translate(-10px,0);
    }
    .circle-links {
      position: absolute;
      left: 8px;
      top: 50%;
      margin-top: -16px;
      visibility: visible;
      opacity: 1;
      transform: translate(0px,0);

      .circle-link {
        display: inline-block;
        visibility: visible;
      }
    }
  }
  header.fs-search-opened {
    .circle-links {
      visibility: visible;
      opacity: 1;
      transform: translate(10px, 0);
    }
    .circle-link-search {
      display: inline-block;
      visibility: visible;
      transform: translate(50px,0);
    }
  }
}

