footer.footer {
  padding-top: 57px;
  padding-bottom: 37px;
}

.footer {
  &-copyright {
    max-width: 210px;
    margin-bottom: 20px;
  }

  &-links {
    a {
      &:hover {
        color: #FFF;
      }
    }

    &-col {
      display: inline-block;
      vertical-align: middle;
      margin-right: 47px;
      max-width: 180px;
    }

    &-social {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-right: 17px;
      width: 44px;
      height: 44px;
      border: 1px solid $primary;
      border-radius: 22px;
      text-align: center;
      line-height: 42px;
      padding: 7px;
      overflow: hidden;

      svg {
        fill: $primary;
      }
      
      &:hover {
        border-color: #FFF;

        svg {
          fill: #FFF;
        }
      }

      &-fb {
        svg {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          height: 82%;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &-dev {
    &-label {
      @include fz(14);
      margin-bottom: 3px;
    }
    &-name {
      font-weight: 600;
      @include fz(20);
      color: #FFF;
    }
  }
}


@media (max-width: 1259px) {
  .col-layout-thin-footer {
    flex: 0 0 26%;
    max-width: 26%;
  }
  .col-layout-wide-footer {
    flex: 0 0 74%;
    max-width: 74%;
  }
}


// .fs-opened {
//   overflow: hidden;
// }
.fs-menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.fs-menu {
  scrollbar-width: none;
}
.fs-menu {
  position: fixed;
  left: 0;
  right: 0;
  top: 80px;
  height: calc(100vh - 80px);
  z-index: 199;
  padding-top: 65px;  
  padding-bottom: 65px;
  overflow-y: auto;
  overflow-x: hidden;
  line-height: 1.12;
  opacity: 0;
  visibility: hidden;

  &.opened {
    opacity: 1;
    visibility: visible;
  }

  &-bg {
    position: absolute;
    z-index: -1;
    left: 15%;
    top: 0;
    border-radius: 2500px;
    width: 5000px;
    height: 5000px;
    background: $bgc;
    transform: translate(-50%,-50%);

    &-wrap {
      position: fixed;
      left: 0;
      top: 80px;
      bottom: 0;
      right: 0;
      overflow: hidden;
    }
  }


  &-row {
    display: flex;
    align-items: flex-start;
  }
  &-productions {
    margin-bottom: 15px;
  }
  &-col {
    flex: 0 0 16.667%;
    max-width: 16.667%;

    &-wide {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  }

  &-title {
    @include fz(28);
    color: rgba(#FFF,.5);
    font-weight: 700;
    margin-bottom: 24px;
  }

  &-ul {
    margin-bottom: 45px;

    li {
      @include fz($fontsize);
      margin-bottom: 15px;
    }
    a {
      color: #FFF;

      &:hover {
        color: $primary;
      }
    }

    &-wide {
      font-size: 0;

      li {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding-right: 10%;
      }
    }
  }

  &-links {
    margin-bottom: 65px;
    border-bottom: 1px solid rgba(#FFF, .3);
  }

  &-contacts {
    position: relative;

    &-title {
      font-weight: 700;
      color: $primary;
      margin-bottom: 24px;
      @include fz(28);
    }

    &-btn {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &-adrs {
    max-width: 408px;
  }

  &-socials {
    min-height: 51px;
  }

  .footer-links-social {
    width: 35px;
    height: 35px;
  }

  @media (max-width: 1439px) {
    @include fz(14);

    &-ul {
      li {
        @include fz(14);
      }
    }

    &-title,
    &-contacts-title {
      @include fz(24);
    }
  }

  @media (max-width: 1259px) {

    &-title,
    &-contacts-title {
      @include fz(16);
      margin-bottom: 16px;
    }

    &-productions {
      margin-bottom: 0;
    }

    &-links {
      padding-bottom: 0;
    }

    &-ul {
      li {
        margin-bottom: 10px;
      }
    }

    &-contacts-title {
      margin-bottom: 20px;
    }
    &-socials {
      min-height: 38px;
    }

    .footer-links-social {
      width: 29px;
      height: 29px;
      padding: 4px;
    }
  }
}


.fs-menu {
  &-row {
    margin-right: -7.5vw;
  }
  div#{&}-col {
    padding-left: 0;
    padding-right: 7.5vw;
  }
  &-ul-wide {
    margin-right: -7.5vw;
  }

  @media (min-width: 1920px) {
    &-row {
      margin-right: -172px;
    }
    div#{&}-col {
      padding-right: 172px;
    }
    &-ul-wide {
      margin-right: -172px;
    }
  }

  @media (max-width: 1259px) {
    &-row {
      margin-right: -5.5vw;
    }
    div#{&}-col {
      padding-right: 5.5vw;
    }
    &-ul-wide {
      margin-right: -5.5vw;
    }
  }
}
.fs-menu-links div.fs-menu-col:not(.fs-menu-col-wide) {
  padding-right: 3vw;
}


.production-btn {
  margin-bottom: 45px;
  display: block;
  max-width: 160px;
  position: relative;
  line-height: 1.1;

  @media (max-width: 1439px) {
    max-width: 120px;
  }

  $this: &;
  
  &-circle {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    background: $primary;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    
    &-wrap {
      position: relative;
      margin-bottom: 15px;
      
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 1px solid $primary;
        border-radius: 50%;
        z-index: 1;
        opacity: 0;
        transition: transform .5s, opacity .5s;
      }
    }
  }
  &-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -2px;
    max-height: 100%;
    max-width: none;
    z-index: 1;
  }

  &:hover {
    color: #FFF;

    #{$this}-circle-wrap {
      &:after {
        opacity: 1;
        transform: scale(1.12);
      }
    }
    
  }

  &-secondary {
    color: $secondary;

    #{$this}-circle {
      background: $secondary;
    }

    #{$this}-circle-wrap:after {
      border-color: $secondary;
    }
  }

  &-tertiary {
    color: $tertiary;

    #{$this}-circle {
      background: $tertiary;
    }

    #{$this}-circle-wrap:after {
      border-color: $tertiary;
    }
  }

  &-primarylight {
    color: $primary_hover;

    #{$this}-circle {
      background: $primary_hover;
    }

    #{$this}-circle-wrap:after {
      border-color: $primary_hover;
    }
  }

  &-blue {
    color: $blue;

    #{$this}-circle {
      background: $blue;
    }

    #{$this}-circle-wrap:after {
      border-color: $blue;
    }
  }

  &-darkyellow {
    color: $darkyellow;

    #{$this}-circle {
      background: $darkyellow;
    }

    #{$this}-circle-wrap:after {
      border-color: $darkyellow;
    }
  }
}

.main-menu-btn {
	display: flex;
	align-items: center;
  
	.production-btn {
		&-circle-wrap {
			flex: 0 0 90px;
			max-width: 90px;
			margin-right: 24px;
			margin-bottom: 0;
		}

    @media (max-width: 1259px) {
      @include fz(14);
      
      &-circle-wrap {
        flex: 0 0 74px;
        max-width: 74px;
      }
    }
	}
}