// 1 col - 4.16

.lead {
  &-left-col {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 4.16%;
  }
  &-right-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 12.48%;

    @media (max-width: 1439px) {
      padding-right: 0;
    }
  }
  &-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    @media (max-width: 1259px) {
      margin-bottom: 80px;
    }
    &-img {
      img {
        display: block;
        line-height: 0;
      }
    }
    &-info {
      &-name {
        max-width: 430px;
        color: $primary;
        line-height: 1.03;
        @include fz(54);
        margin-bottom: 17px;
        @media (max-width: 1439px) {
          margin-bottom: 27px;
        }
        @media (max-width: 1259px) {
          max-width: 335px;
          @include fz(42);
          line-height: 1.14;
        }
        @media (max-width: 1024px) {
          line-height: 1.25;
          max-width: 235px;
          @include fz(32);
          margin-bottom: 15px;
        }
      }
      &-pos {
        line-height: 1.35;
        @include fz(28);
        @media (max-width: 1259px) {
          line-height: 1.25;
          @include fz(24);
        }
        @media (max-width: 1024px) {
          @include fz(16);
          max-width: 300px;
        }
      }
    }
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    @media (max-width: 1259px) {
      margin-bottom: 40px;
    }
    &-col {
      flex: 0 0 50%;
      max-width: 50%;
      padding-right: 16.64%;
    }
  }
  &-card {
    margin-bottom: 40px;
    &-img {
      margin-bottom: 24px;
      @media (max-width: 1259px) {
        margin-bottom: 16px;
      }
      img {
        display: block;
        line-height: 0;
      }
    }
    &-lastname,
    &-firstname {
      color: $primary;
      @include fz(28);
      line-height: 1.1;

      @media (max-width: 1259px) {
        @include fz(24);
      }
    }
    &-firstname {
      margin-bottom: 6px;
    }
    &-pos {
      // line-height: 1.4;

      @media (max-width: 1259px) {
        @include fz(14);
        // line-height: 1.7;
      }
    }
  }

  @media (max-width: 959px) {
    &-list {
      &-col {
        padding-right: 10%;
      }
    }
  }

  @media (max-width: 768px) {
    &-header {
      margin-bottom: 64px;
      display: block;

      &-img {
        margin-bottom: 12px;
      }
      &-info {
        &-name {
          max-width: 100%;
          font-weight: 600;
          @include fz(36);
          margin-bottom: 8px;
        }
        &-pos {
          max-width: 100%;
        }
      }
    }
    &-left-col {
      padding-right: 0;
      max-width: 100%;
    }
    &-right-col {
      max-width: 100%;
    }

    &-list {
      margin-right: -20px;

      &-col {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 20px;
      }
    }

    &-card {
      margin-bottom: 64px;

      &-img {
        margin-bottom: 12px;
      }
      &-lastname,
      &-firstname {
        @include fz(24);
      }
      &-firstname {
        margin-bottom: 8px;
      }
      &-pos {
        @include fz(16);
      }
    }
  }

  @media (max-width: 599px) {
    &-header {
      margin-bottom: 40px;

      &-info {
        &-name {
          @include fz(28);
        }
        &-pos {
          max-width: 100%;
          @include fz(14);
        }
      }
    }

    &-card {
      margin-bottom: 40px;

      &-lastname,
      &-firstname {
        @include fz(24);
      }
      &-pos {
        @include fz(14);
      }
    }
    
  }

  @media (max-width: 480px) {
    &-list {
      // margin-right: -20px;

      &-col {
        flex: 0 0 100%;
        max-width: 100%;
        // padding-right: 20px;
      }
    }
  }
}
