.ui-subtitle {
  font-size: 54px;
  font-size: 3.375rem;
  font-weight: 600;
  color: #f08322;
  line-height: 1.1;
  margin-bottom: 80px;
  flex: 0 0 25.5%;
  max-width: 25.5%;
}

.museum-history {
  &-title {
  }
}
