.ui-subtitle {
  font-size: 54px;
  font-size: 3.375rem;
  font-weight: 600;
  color: #f08322;
  line-height: 1.1;
  margin-bottom: 80px;
  flex: 0 0 25.5%;
  max-width: 25.5%;
  @media (max-width: 1440px) {
    flex: 0 0 40%;
    max-width: 40%;
  }
  @media (max-width: 1260px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.page-museum {
  padding-top: 0;
}
.wrapper-museum {
  padding-top: 0;
}
.museum-header {
  padding-top: 100px;
  background-image: url(../images/bgs/bg-museum.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.museum-row {
  height: 960px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
  @media (max-width: 1440px) {
    height: 650px;
  }
}
.museum-top-screen {
  &-title {
    max-width: 920px;
  }
  &-text {
    max-width: 675px;
    @include fz(28);
    margin-bottom: 44px;
  }
}
.slider-museum-subtitle {
  @media (max-width: 1260px) {
    left: 20%;
  }
}
.museum-slider-btns {
  @media (max-width: 1240px) {
    bottom: -20px;
    left: 0;
  }
}
.col-layout-center {
  display: flex;
  align-items: center;
}
.col-mus-8 {
  flex: 0 0 33.28%;
  max-width: 33.28%;
}
.col-mus-16 {
  flex: 0 0 66.56%;
  max-width: 66.56%;
}

.museum-history {
  padding-top: 80px;
  &-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
  }
  &-title {
    @include fz(54);
    line-height: 1.1;
    margin-bottom: 80px;
    @media (max-width: 1440px) {
      @include fz(42);
    }
  }
  &-text {
    max-width: 400px;
    @media (max-width: 1440px) {
      @include fz(18);
      margin-bottom: 32px;
    }
  }
  &-info {
    display: inline-block;
    position: relative;
    z-index: 2;
    @include fz(22);
    font-weight: 1.45;
  }
  &-year {
    @include fz(140);
    font-weight: 400;
    color: $primary;
    white-space: nowrap;
    line-height: 100px;
    @media (max-width: 1440px) {
      @include fz(120);
    }
    &-visitors {
      @include fz(28);
      font-weight: 700;
      line-height: 90px;
      @media (max-width: 1440px) {
        @include fz(24);
      }
    }
  }
  &-img {
    // margin-right: -87px;
    height: 650px;
    margin-right: -100px;
    margin-left: 100px;
    background-image: url(../images/museum-circle.png);
  }
}
.museum-circle-col {
  display: none;
  @media (max-width: 1260px) {
    display: inline-block;
  }
}
@media (max-width: 1260px) {
  .museum-circle-hide {
    display: none;
  }
}
.museum-slider-btns {
  .swiper-button-prev {
    width: 64px;
    height: 64px;
    background-image: url(../images/svg/slider-arrow-left_orange.svg);
  }
  .swiper-button-next {
    width: 64px;
    height: 64px;
    background-image: url(../images/svg/slider-arrow-right_orange.svg);
  }
}
.museum-history {
  margin-bottom: 200px;
}
.node-slider-comm {
  display: flex;
  align-items: center;
  @include fz(22);

  &-img {
    flex: 24.833%;
    max-width: 24.833%;
    line-height: 0;
    text-align: right;

    a img,
    img {
      display: inline-block;
      border-radius: 140px;
    }
  }
  &-body {
    padding-right: 15%;
    padding-left: 50px;
    max-width: 75.177%;
    @media (max-width: 1440px) {
      padding-right: 0;
    }
  }
  &-title {
    @include fz(54);
    line-height: 1;
    margin-bottom: 38px;

    a {
      color: #fff;
      display: inline-block;
      position: relative;

      &:hover {
        color: $primary;

        .news-item-title-arrow {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &-arrow {
      position: absolute;
      right: -68px;
      width: 48px;
      height: 48px;
      top: 50%;
      margin-top: -21px;
      stroke: $primary;
      fill: none;
      opacity: 0;
      transform: translate3d(-10px, 0, 0);
      transition: transform 0.3s, opacity 0.3s;
    }
  }
  &-txt {
    @include fz(28);
    margin-bottom: 16px;
  }
  &-name {
    @include fz(28);
    font-weight: 700;
    color: $primary;
    margin-bottom: 8px;
  }
  &-info {
    @include fz(18);
    color: $primary;
  }
  &-date {
    color: $primary;
    font-weight: 600;
  }

  @media (max-width: 1440px) {
    @include fz(18);

    &-title {
      @include fz(42);
    }
  }

  @media (max-width: 1259px) {
    &-title {
      @include fz(32);
    }
  }
}
.museum-review {
  margin-bottom: 135px;
}
.mus-review {
  height: 100%;
}
.museum-news {
  margin-bottom: 120px;
}
.mus-review-item {
  display: flex;
  align-items: center;
  @include fz(22);

  &-img {
    flex: 24.833%;
    max-width: 24.833%;
    line-height: 0;
    text-align: right;

    a img,
    img {
      display: inline-block;
      border-radius: 140px;
    }
  }
  &-body {
    padding-right: 15%;
    max-width: 75.177%;
    @media (max-width: 1440px) {
      padding-right: 5%;
    }
  }
  &-title {
    @include fz(54);
    line-height: 1;
    margin-bottom: 38px;

    a {
      color: #fff;
      display: inline-block;
      position: relative;

      &:hover {
        color: $primary;

        .news-item-title-arrow {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }
    }

    &-arrow {
      position: absolute;
      right: -68px;
      width: 48px;
      height: 48px;
      top: 50%;
      margin-top: -21px;
      stroke: $primary;
      fill: none;
      opacity: 0;
      transform: translate3d(-10px, 0, 0);
      transition: transform 0.3s, opacity 0.3s;
    }
  }
  &-txt {
    @include fz(28);
    margin-bottom: 16px;
    @media (max-width: 1440px) {
      @include fz(24);
    }
  }
  &-name {
    @include fz(28);
    font-weight: 700;
    color: $primary;
    margin-bottom: 8px;
    @media (max-width: 1440px) {
      @include fz(24);
    }
  }
  &-info {
    @include fz(18);
    color: $primary;
    @media (max-width: 1440px) {
      @include fz(14);
    }
  }
  &-date {
    color: $primary;
    font-weight: 600;
  }

  @media (max-width: 1440px) {
    @include fz(18);

    &-title {
      @include fz(42);
    }
  }

  @media (max-width: 1259px) {
    &-title {
      @include fz(32);
    }
  }
}

.museum-circle-circle {
  height: 170px;
  width: 170px;
  border-radius: 170px;
  gap: 8px;
}

.museum-social-row {
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 80px;
}
.museum-social-item-img {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
    &:hover {
      transform: scale(1.03);
    }
  }
}
.museum-social-link {
  margin-bottom: 24px;
}
.museum-social-help {
  @include fz(28);
  max-width: 600px;
}
.museum-social-footer-link {
  margin-bottom: 80px;
}
.footer-links-social-inst {
  padding: 0;
}

.footer-link-et {
  display: inline-block;
  @include fz(28);
  color: $primary;
  vertical-align: middle;
  &:hover {
    color: #ffffff;
  }
}
