.analytics {
  margin-bottom: 80px;

  &-item {
    padding-bottom: 80px;
    margin-bottom: 80px;
    // border-bottom: 2px solid rgb(255, 255, 255, 0.24);
    border-bottom: 2px solid rgba(#ffffff, 0.15);

    &-article {
      padding-top: 30px;
    }
    &-arrow {
      display: inline-block;
      position: relative;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      border: 2px solid $primary;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-txt {
      margin-bottom: 35px;
      @include fz(22);

      @media (max-width: 1439px) {
        @include fz(18);
      }
    }

    &-data {
      @include fz(22);
      color: $primary;
    }

    &-circle {
      float: right;
      img {
        border-radius: 50%;
      }
      @media (max-width: 1259) {
        margin-top: 90px;
      }
    }

    &-title {
      display: block;
      margin-bottom: 35px;
      @include fz(80);
      line-height: 1;
      color: $primary;

      &-txt {
        display: inline;
      }
      @media (max-width: 1439px) {
        @include fz(52);
      }
      @media (max-width: 1259) {
        width: 85%;
      }
    }
  }

  &-more {
    margin-top: 50px;
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 372px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #ffffff;
    border-radius: 4px;
  }

  &-img {
    @media (max-width: 1439px) {
      margin-top: 100px;
    }
    @media (max-width: 1439px) {
      margin-top: 45px;
    }
  }
}
.analytics-article-pt {
  padding-top: 0;
}
.col-analytics-65 {
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
}
.col-analytics-70 {
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.col-analytics-30 {
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.col-analytics-24 {
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 24%;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.pt-30 {
  padding-top: 30px;
}
.page {
  position: relative;
  &-title {
    position: relative;
    z-index: 2;
  }
  &-experience {
    display: inline-block;
    position: relative;
    z-index: 2;
    margin-bottom: 100px;
    &-txt {
      display: inline-block;
      @include fz(28);
      max-width: 450px;
      font-weight: 700;
      color: $primary;

      @media (max-width: 1439px) {
        @include fz(24);
      }
    }
    &-arrow {
      @include fz(140);
      font-weight: 100;
      line-height: 1;

      @media (max-width: 1439px) {
        @include fz(120);
      }
    }
    &-years {
      @include fz(75);
      line-height: 1;

      font-weight: 400;

      @media (max-width: 1439px) {
        @include fz(120);
      }
    }
  }

  &-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    @media (max-width: 1439px) {
      max-width: 650px;
      margin-top: 240px;
    }
    @media (max-width: 1439px) {
      max-width: 650px;
    }
  }
  &-txt {
    margin-bottom: 200px;
    color: $font;
    line-height: 1.1;

    @include fz(54);

    @media (max-width: 1439px) {
      @include fz(42);
    }
  }
  &-buttons {
    margin-bottom: 80px;
  }

  &-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px dashed rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    @include fz(28);
    padding: 0px 20px 0px 50px;
    height: 70px;
    line-height: 68px;
    color: $font;

    &-sprite {
      display: block;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      fill: #fff;
    }

    &:hover,
    &.selected {
      border: 1px solid #ffffff;
      color: $primary;

      .page-btn {
        &-sprite {
          // filter: brightness(1);
          fill: $primary;
        }
      }
    }

    &-brown {
      &:hover,
      &.selected {
        color: $darkbrown;

        .page-btn {
          &-sprite {
            fill: $darkbrown;
          }
        }
      }
    }

    &-secondary {
      &:hover,
      &.selected {
        color: $secondary;

        .page-btn {
          &-sprite {
            fill: $secondary;
          }
        }
      }
    }

    &-tertiary {
      &:hover,
      &.selected {
        color: $tertiary;

        .page-btn {
          &-sprite {
            fill: $tertiary;
          }
        }
      }
    }

    &-green {
      &:hover,
      &.selected {
        color: #268e80;

        .page-btn {
          &-sprite {
            fill: #268e80;
          }
        }
      }
    }
    &-blue {
      &:hover,
      &.selected {
        color: #4590ba;

        .page-btn {
          &-sprite {
            fill: #4590ba;
          }
        }
      }
    }
    &-yellow {
      &:hover,
      &.selected {
        color: #97b446;

        .page-btn {
          &-sprite {
            fill: #97b446;
          }
        }
      }
    }
  }
}

.contacts {
  max-width: 310px;
  @media (max-width: 1439px) {
    width: 100%;
  }
  &-tab {
    p {
      margin-bottom: 15px;
    }

    a {
      color: #fff;

      &:hover {
        color: $primary;
      }
    }
    h6,
    .h6 {
      @include fz(14);
      margin: 0;
      font-weight: 700;
    }

    &-title {
      margin-bottom: 40px;
      @include fz(28);
      color: $primary;
    }

    &-active {
      display: block;
    }

    a#{&}-toggle {
      color: $primary;

      &:hover {
        color: $primary_hover;
      }
    }
  }
  ul li {
    margin-bottom: 15px;

    a {
      color: $font;
      &:hover {
        color: $primary;
      }
    }
  }
}
.contacts-tab-toggle-title {
  @include fz(14);
  font-weight: 700;
}

.contacts-tab-toggle {
  margin-bottom: 15px;
  border-bottom: 1px dashed $primary;
}
.contacts-tab-toggle-active {
  border-bottom: none;
}
.contacts-tab-contant {
  display: none;
  padding-top: 15px;
  overflow: hidden;
  transition: all 0.9s;
}

.contacts-tab-contant-active {
  display: block;
  transition: all 0.9s;
}

.contacts-tab-inner {
  margin-bottom: 40px;
}
.contacts-map {
  display: block;
  position: relative;
  height: 543px;

  &-wrp {
    position: relative;
  }

  @media (max-width: 1439px) {
    height: 316px;
  }
  @media (max-width: 1259) {
    height: 400px;
  }
}
.map {
  &-full {
    position: absolute;
    // background-color: black;
    right: 35px;
    top: 15px;
    width: 40px;
    height: 40px;
    z-index: 1;
  }
}
.ymaps-2-1-79-zoom {
  display: none !important;
}
.ymaps-2-1-79-controls__control_toolbar {
  display: none !important;
}

.page-active-yellow:hover {
  color: #97b446;
}

.page-btn-green:hover {
  color: #268e80;
}

.page-btn-blue:hover {
  color: #4590ba;
}
[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}

.contacts-tab-contant-info {
  margin-bottom: 15px;
  a {
    color: #ffffff;
    &:hover {
      color: #f39e52;
    }
  }
}

.map-zoom-in {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  position: absolute;
  right: 55px;
  top: 50%;
  width: 40px;
  height: 40px;
  z-index: 9;
  border: 1px solid $primary;
  cursor: pointer;
}
.map-zoom-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 55px;
  top: 50%;
  margin-top: 50px;
  width: 40px;
  height: 40px;
  z-index: 9;
  border: 1px solid $primary;
  cursor: pointer;
}
.map-zoom-img {
  position: relative;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.col-contacts-relative {
  position: relative;
}
.map-subtract {
  position: absolute;
  right: 55px;
  top: 50px;
  z-index: 9;
  cursor: pointer;

  &.map-fullscreen {
    top: 50px;
    right: 50px;
  }
}
.map-control {
  z-index: 9;

  &.map-fullscreen {
    z-index: 99999;
    position: fixed;
  }
}

.contacts-sprite {
  filter: brightness(7);
}
.page-btn:hover * .contacts-sprite {
  filter: brightness(1);
  transition: 0.1s ease, border 0.3s;
}

.page-btn-blue:focus {
  color: #4590ba;
}
.page-btn-green:focus {
  color: #268e80;
}
.page-active-yellow:focus {
  color: #97b446;
}
.page-btn-green:focus * .contacts-sprite {
  // color: #268e80;
  filter: brightness(1);
}
.page-active-yellow:focus * .contacts-sprite {
  // color: #97b446;
  filter: brightness(1);
}
.page-btn-blue:focus * .contacts-sprite {
  // color: #4590ba;
  filter: brightness(1);
}
.page-btn-orange:focus * .contacts-sprite {
  // color: #4590ba;
  filter: brightness(1);
}
.page-btn-logo:focus * .contacts-sprite {
  // color: #4590ba;
  filter: brightness(1);
}
.scientific-partners-article-txt {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}
.scientific {
  &-title {
    @include fz(54);
    width: 47%;
    color: $primary;
    margin-bottom: 80px;
    line-height: 1.1;
    font-weight: 600;

    @media (max-width: 1439px) {
      @include fz(42);
    }
  }

  &-info {
    &-description {
      margin-left: auto;
      margin-right: 11.64%;
      max-width: 730px;
      margin-bottom: 120px;
      padding-top: 8px;

      @media (max-width: 1439px) {
        margin-right: 0;
        max-width: 616px;
      }
    }
    &-title {
      color: $primary;

      @include fz(54);
      line-height: 1;
      margin-bottom: 30px;

      @media (max-width: 1439px) {
        @include fz(42);
      }
    }
    &-picture {
      margin-bottom: 60px;
    }
    &-txt {
      @include fz(22);

      @media (max-width: 1439px) {
        @include fz(18);
      }
    }
    &-quality {
      margin-bottom: 210px;
      @media (max-width: 1439px) {
        margin-bottom: 40px;
      }
    }
  }
  &-article {
    padding-top: 80px;
    padding-bottom: 30px;
    margin-bottom: 75px;
    background-color: $primary;
    &-info {
      // display: flex;
      // justify-content: space-between;
    }
    &-citation {
      @include fz(28);
      max-width: 830px;
      color: #000000;
      padding-left: 38px;
      padding-top: 14px;

      @media (max-width: 1260px) {
        @include fz(24);
      }
    }
    &-degree {
      @include fz(18);
      color: #000000;

      @media (max-width: 1439px) {
        @include fz(14);
      }
    }

    &-name {
      display: inline-block;
      padding-top: 24px;
      font-weight: 700;
      margin-bottom: 8px;

      @media (max-width: 1439px) {
        @include fz(24);
      }
    }
    &-block {
      display: flex;
      align-items: flex-end;
      height: calc(100% - 20px);
      // margin-bottom: 20px;
    }
    &-body {
      padding-right: 115px;
      margin-bottom: 80px;

      @media (max-width: 1439px) {
        padding-right: 0;
      }
    }
    &-txt {
      color: #000000;
      font-size: 27px;
      max-width: 960px;
      margin-bottom: 100px;

      @media (max-width: 1439px) {
        @include fz(24);
      }
    }
    &-number {
      @include fz(140);
      line-height: 0.8;
      margin-right: 20px;

      @media (max-width: 1439px) {
        @include fz(120);
      }
    }
    &-description {
      @include fz(18);
      max-width: 254px;

      @media (max-width: 1439px) {
        @include fz(14);
      }
    }
  }
  &-partners {
    margin-bottom: 80px;
    &-article {
      display: flex;
      margin-bottom: -30px;
    }
    &-description {
      display: inline-block;
      width: 60%;
      margin-right: 50px;
      @include fz(22);

      @media (max-width: 1439px) {
        @include fz(18);
      }
      &-txt {
        margin-bottom: 25px;
      }
    }
    &-item {
      padding-left: 10px;
      margin-bottom: 45px;
    }
    &-title {
      width: 73%;
      margin-bottom: 80px;
      line-height: 1.1;

      @include fz(54);

      @media (max-width: 1439px) {
        @include fz(42);
      }
    }
    &-img {
      // max-width: 168px;
      display: inline-block;
      vertical-align: top;

      img {
        display: block;
        max-width: 168px;
        @media (max-width: 1439px) {
          max-width: 124px;
        }

        @media (max-width: 1439px) {
          max-width: 107px;
        }
      }
    }
    &-txt {
      display: inline-block;
      max-width: 225px;
      margin-left: auto;
      margin-right: 0;

      padding-top: 140px;
      // margin-top: -10px;

      @include fz(18);
      color: $font;

      @media (max-width: 1439px) {
        max-width: 160px;
      }

      @media (max-width: 1439px) {
        max-width: 140px;
        @include fz(14);
      }
    }
  }
  &-cardboard {
    margin-bottom: 70px;
    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 120px;
    }
    &-txt {
      max-width: 843px;
      color: $font;
      margin-bottom: 80px;
      @include fz(28);

      @media (max-width: 1439px) {
        @include fz(24);
      }
    }
    &-img {
      margin-right: -50px;
    }
  }
  &-circle {
    @media (max-width: 1439px) {
      margin-bottom: 60px;
    }
  }
  &-hide {
    display: none;

    @media (max-width: 1439px) {
      display: block;
    }
  }
  &-show {
    display: block;

    @media (max-width: 1439px) {
      display: none;
    }
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
.font {
  color: $font;
}
.display-block {
  display: block;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-60 {
  margin-bottom: 60px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-130 {
  margin-bottom: 130px;
}
.mb-150 {
  margin-bottom: 150px;
}
.mb-160 {
  margin-bottom: 160px;
}
.mb-200 {
  margin-bottom: 200px;
}
.scientific-info-indent {
  max-width: 70%;
  line-height: 1.7;
  margin-bottom: 60px;
}
.scientific-partners-years {
  @include fz(130);
}
.scientific-circle-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 50px;
}
