.analytics {
  margin-bottom: 80px;

  &-item {
    padding-bottom: 80px;
    margin-bottom: 80px;
    border-bottom: 2px solid rgba(#ffffff, 0.15);

    &-article {
      padding-top: 30px;
    }
    &-arrow {
      display: inline-block;
      vertical-align: bottom;
      position: relative;
      top: -0.17em;
      width: 48px;
      height: 48px;
      margin-right: -48px;
      border-radius: 24px;
      border: 2px solid $primary;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      @media (max-width: 1439px) {
        top: 0;
      }
    }

    &-txt {
      margin-bottom: 35px;
      @include fz(22);

      @media (max-width: 1439px) {
        @include fz(18);
      }
    }

    &-data {
      @include fz(22);
      color: $primary;
    }

    &-circle {
      float: right;

      img {
        border-radius: 50%;
      }
      @media (max-width: 1259) {
        margin-top: 90px;
      }
    }

    &-title {
      display: block;
      margin-bottom: 35px;
      @include fz(80);
      line-height: 1;
      color: $primary;

      &-txt {
        display: inline;
      }
      @media (max-width: 1439px) {
        @include fz(52);
      }
      @media (max-width: 1259) {
        width: 85%;
      }
    }
  }

  &-more {
    margin-top: 50px;
  }
  &-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 372px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #ffffff;
    border-radius: 4px;
  }

  &-img {
    @media (max-width: 1439px) {
      margin-top: 45px;
    }

    img {
      transition: transform .3s;
    }
  }

  &:hover {
    .analytics-img img {
      transform: scale(1.03)
    }
  }
}
.analytics-article-pt {
  padding-top: 0;
}
.col-analytics-65 {
  -ms-flex: 0 0 65%;
  flex: 0 0 65%;
  max-width: 65%;
}
.col-analytics-70 {
  -ms-flex: 0 0 70%;
  flex: 0 0 70%;
  max-width: 70%;
}
.col-analytics-30 {
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  max-width: 30%;
}
.col-analytics-24 {
  -ms-flex: 0 0 24%;
  flex: 0 0 24%;
  max-width: 24%;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.pt-30 {
  padding-top: 30px;
}


.scientific-head {
  position: relative;
  padding-bottom: 120px;

  &-row {
    position: relative;
  }

  &-orange {
    margin-bottom: 100px;
    @include fz(28);
    max-width: 450px;
    font-weight: 700;
    color: $primary;

    @media (max-width: 1439px) {
      @include fz(24);
      margin-bottom: 80px;
    }
  }
  &-term {
    @include fz(80);
    line-height: 1;
    font-weight: 400;
    margin-bottom: 7px;

    &-arrow {
      @include fz(140);
    }

    @media (max-width: 1439px) {
      @include fz(52);

      &-arrow {
        @include fz(120);
      }
    }
  }
  

  &-paragraph {
    color: $font;
    line-height: 1.1;
    @include fz(54);

    @media (max-width: 1439px) {
      @include fz(42);
    }
  }

  &-img {
    position: absolute;
    bottom: -73px;
    bottom: -28%;
    right: 50px;
    z-index: -1;
    max-width: 75%;

    @media (max-width: 1439px) {
      max-width: 60%;
    }
  }
}


.page {
  &-buttons {
    margin-bottom: 20px;
  }

  &-btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px dashed rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    @include fz(28);
    padding: 0px 20px 0px 50px;
    height: 70px;
    line-height: 68px;
    color: $font;
    transition: color .4s, border-color .4s;

    &:after {
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      right: -1px;
      bottom: -1px;
      border-radius: 50px;
      border: 1px solid #FFF;
      opacity: 0;
      transition: opacity .4s;
    }

    &-sprite {
      display: block;
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -12px;
      width: 24px;
      height: 24px;
      margin-right: 5px;
      fill: #fff;
    }

    @media (max-width: 1439px) {
      @include fz(24);
      height: 62px;
      line-height: 60px;
    }

    @media (max-width: 1259px) {
      @include fz(16);
      height: 52px;
      line-height: 50px;
      padding-left: 42px;

      &-sprite {
        width: 16px;
        height: 16px;
        margin-top: -8px;
      }
    }

    &:hover,
    &.selected {
      border-color: rgba(255,255,255,0);
      color: $primary;

      &:after {
        opacity: 1;
      }

      .page-btn {
        &-sprite {
          // filter: brightness(1);
          fill: $primary;
        }
      }
    }

    &-brown {
      &:hover,
      &.selected {
        color: $darkbrown;

        .page-btn {
          &-sprite {
            fill: $darkbrown;
          }
        }
      }
    }

    &-secondary {
      &:hover,
      &.selected {
        color: $secondary;

        .page-btn {
          &-sprite {
            fill: $secondary;
          }
        }
      }
    }

    &-tertiary {
      &:hover,
      &.selected {
        color: $tertiary;

        .page-btn {
          &-sprite {
            fill: $tertiary;
          }
        }
      }
    }

    &-green {
      &:hover,
      &.selected {
        color: #268e80;

        .page-btn {
          &-sprite {
            fill: #268e80;
          }
        }
      }
    }
    &-blue {
      &:hover,
      &.selected {
        color: #4590ba;

        .page-btn {
          &-sprite {
            fill: #4590ba;
          }
        }
      }
    }
    &-yellow {
      &:hover,
      &.selected {
        color: #97b446;

        .page-btn {
          &-sprite {
            fill: #97b446;
          }
        }
      }
    }
  }
}

.contacts {
  max-width: 310px;
  @media (max-width: 1439px) {
    width: 100%;
  }
  &-tab {
    p {
      margin-bottom: 15px;
    }

    a {
      color: #fff;

      &:hover {
        color: $primary;
      }
    }
    h6,
    .h6 {
      @include fz(14);
      margin: 0;
      font-weight: 700;
    }

    &-title {
      margin-bottom: 40px;
      @include fz(28);
      font-weight: 700;
      color: $primary;

      @media (max-width: 1439px) {
        @include fz(24);
      }
    }

    &-active {
      display: block;
    }

    a#{&}-toggle {
      color: $primary;

      &:hover {
        color: $primary_hover;
      }
    }
  }
  ul li {
    margin-bottom: 15px;

    a {
      color: $font;
      &:hover {
        color: $primary;
      }
    }
  }
}
.contacts-tab-toggle-title {
  @include fz(14);
  font-weight: 700;
}

.contacts-tab-toggle {
  margin-bottom: 15px;
  display: inline-block;
  border-bottom: 1px dashed $primary;
  @include fz(20);
  font-weight: 700;

  @media (max-width: 1439px) {
    @include fz(16);
  }
}
.contacts-tab-toggle-active {
  border-bottom-color: transparent;
  color: #FFF !important;

  &:hover {
    border-bottom-color: $primary;
  }
}
.contacts-tab-contant {
  display: none;
  overflow: hidden;

  &-active {
    display: block;
  }
}

.contacts-tab-inner {
  margin-bottom: 40px;
}
.contacts-map {
  display: block;
  position: relative;
  height: 620px;

  &-wrp {
    position: relative;
  }

  // @media (max-width: 1439px) {
  //   height: 316px;
  // }
  // @media (max-width: 1259) {
  //   height: 400px;
  // }
}
.map {
  &-full {
    position: absolute;
    // background-color: black;
    right: 35px;
    top: 15px;
    width: 40px;
    height: 40px;
    z-index: 1;
  }
}
.ymaps-2-1-79-zoom {
  display: none !important;
}
.ymaps-2-1-79-controls__control_toolbar {
  display: none !important;
}

.page-active-yellow:hover {
  color: #97b446;
}

.page-btn-green:hover {
  color: #268e80;
}

.page-btn-blue:hover {
  color: #4590ba;
}
[class*="ymaps-2"][class*="-ground-pane"] {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 3.5+ */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+ & Safari 6+ */
}

.contacts-tab-contant-info {
  margin-bottom: 15px;
  a {
    color: #ffffff;
    &:hover {
      color: #f39e52;
    }
  }
}

.map-zoom-in {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  position: absolute;
  right: 55px;
  top: 50%;
  width: 40px;
  height: 40px;
  border: 1px solid $primary;
  cursor: pointer;
}
.map-zoom-up {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 55px;
  top: 50%;
  margin-top: 50px;
  width: 40px;
  height: 40px;
  border: 1px solid $primary;
  cursor: pointer;
}
.map-zoom-img {
  position: relative;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.col-contacts-relative {
  position: relative;
}
.map-subtract {
  position: absolute;
  right: 55px;
  top: 50px;
  z-index: 9;
  cursor: pointer;

  &.map-fullscreen {
    top: 50px;
    right: 50px;
  }
}
.map-control {
  z-index: 2;

  &.map-fullscreen {
    z-index: 99999;
    position: fixed;
  }
}

.contacts-sprite {
  filter: brightness(7);
}
.page-btn:hover * .contacts-sprite {
  filter: brightness(1);
  transition: 0.1s ease, border 0.3s;
}

.page-btn-blue:focus {
  color: #4590ba;
}
.page-btn-green:focus {
  color: #268e80;
}
.page-active-yellow:focus {
  color: #97b446;
}
.page-btn-green:focus * .contacts-sprite {
  // color: #268e80;
  filter: brightness(1);
}
.page-active-yellow:focus * .contacts-sprite {
  // color: #97b446;
  filter: brightness(1);
}
.page-btn-blue:focus * .contacts-sprite {
  // color: #4590ba;
  filter: brightness(1);
}
.page-btn-orange:focus * .contacts-sprite {
  // color: #4590ba;
  filter: brightness(1);
}
.page-btn-logo:focus * .contacts-sprite {
  // color: #4590ba;
  filter: brightness(1);
}
.scientific-partners-article-txt {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}


.scientific {
  &-title {
    max-width: 830px;
  }

  &-info {
    &-label {
      @include fz(28);
      width: ($content_col * 15);
      margin-bottom: 60px;

      @media (max-width: 1439px) {
        @include fz(24);
      }
    }
    &-description {
      margin-left: ($content_col * 8);
      width: ($content_col * 13);
      line-height: 1.42;

      @media (max-width: 1259px) {
        width: auto;
      }
    }
    &-title {
      color: $primary;
      @include fz(54);
      line-height: 1;
      margin-bottom: 35px;

      @media (max-width: 1439px) {
        @include fz(42);
      }
    }
    &-picture {
      margin-bottom: 64px;
    }
    &-txt {
      @include fz(22);
      line-height: 1.42;
    }
    &-quality {
      margin-bottom: 210px;
      @media (max-width: 1439px) {
        margin-bottom: 40px;
      }
    }
  }
  &-article {

    &-block {
      display: flex;
      align-items: flex-end;
    }
    &-txt {
      width: ($content_col * 18);
      color: #000000;
      @include fz(28);
      margin-bottom: 88px;

      @media (max-width: 1439px) {
        @include fz(24);
      }
      @media (max-width: 1259px) {
        width: ($content_col * 21);
      }
    }
    &-sights {
      margin-bottom: 86px;

      .row {
        align-items: flex-end;
      }

      .col-4 {
        flex: 1 0 auto;
        max-width: none;
        width: auto;
      }

      @media (min-width: 1440px) {
        padding-right: ($content_col * 2);
      }
    }
    &-number {
      @include fz(140);
      line-height: 0.8;
      margin-right: 20px;
      position: relative;
      top: -0.02em;

      @media (max-width: 1439px) {
        @include fz(120);
      }
    }
    &-description {
      @include fz(18);
      max-width: 254px;
      line-height: 1.5;

      @media (max-width: 1439px) {
        @include fz(14);
      }
    }
  }

  &-cardboard {
    margin-bottom: 70px;

    &-body {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-btn {
      flex: 0 0 170px;
      max-width: 170px;
      margin-right: ($content_col * 4.5);
    }
    &-txt {
      margin-bottom: 80px;
      @include fz(28);
      max-width: 850px;

      @media (max-width: 1439px) {
        @include fz(24);
        max-width: 650px;
      }
    }
    &-img {
      margin-right: -50px;
      position: relative;
      z-index: 1;
      
      @media (min-width: 1920px) {
        img {
          opacity: 0;
        }
      }
    }
    &-shadow {
      position: absolute;
      display: none;
      visibility: hidden;
      z-index: -1;

      @media (min-width: 1920px) {
        display: block;
        visibility: visible;
        top: 0;
        opacity: 1 !important;
        left: calc((100vw - 1920px) / 2);
      }
    }
  }
  &-circle {
    @media (max-width: 1439px) {
      margin-bottom: 60px;
    }
  }
  &-hide {
    display: none;

    @media (max-width: 1439px) {
      display: block;
    }
  }
  &-show {
    display: block;

    @media (max-width: 1439px) {
      display: none;
    }
  }
  &-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}


.scientific-partners-years {
  @include fz(130);
}
.scientific-circle-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 50px;
}


.scientific-person {
  display: flex;
  align-items: center;
  color: #000;

  &-img {
    flex: 0 0 ($content_col * 6);
    max-width: ($content_col * 6);
    margin-right: ($content_col * 2);

    img {
      border-radius: 200px;
      display: block;
    }
  }

  &-body {
    @media (min-width: 1440px) {
      padding-right: ($content_col * 2);
    }
  }

  &-citation {
    @include fz(28);

    @media (max-width: 1439px) {
      @include fz(24);
    }
  }
  &-pos {
    @include fz(18);

    @media (max-width: 1439px) {
      @include fz(14);
    }
  }

  &-name {
    font-weight: 700;
    padding-top: 10px;
    margin-bottom: 8px;
  }
}

.scientific-partners {

  &-list {
    margin-bottom: 35px;
  }
  &-item {
    margin-bottom: 45px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 'img -1' '1 txt';

    &-img {
      grid-area: img;
      align-self: flex-end;
    }
    &-txt {
      grid-area: txt;
      width: 85%;
      @include fz(18);

      @media (max-width: 1439px) {
        @include fz(14);
      }
    }
  }
  &-title {
    padding-right: ($content_col * 6);
    margin-bottom: 80px;
    line-height: 1.1;
    @include fz(54);

    @media (max-width: 1439px) {
      @include fz(42);
    }

    @media (max-width: 1259px) {
      padding-right: ($content_col * 3);
    }
  }

  &-cols {
    margin-bottom: 80px;

    @media (max-width: 1439px) {
      margin-bottom: 60px;
    }
  }
  &-description {
    @include fz(22);
    flex: 0 0 ($content_col * 14);
    max-width: ($content_col * 14);
    margin-right: $content_col;
    margin-bottom: 140px;

    p {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (max-width: 1439px) {
      @include fz(18);
      margin-bottom: 120px;
    }
  }

  &-students {
    color: $primary;
    font-weight: 700;
    flex: 0 0 300px;
    @include fz(28);

    &-count {
      @include fz(140);
      font-weight: 400;
      line-height: 1;
    }

    @media (max-width: 1439px) {
      @include fz(24);

      &-count {
        @include fz(120);
      }
    }
  }
}

.scentific-publ-btn {
  position: relative;
  display: flex;
  height: 100%;
  align-items: flex-end;
  padding-bottom: 30px;

  @media (max-width: 1259px) {
    display: block;
    padding-bottom: 0;
    
    .ui-btn-circle {
      position: absolute;
      right: 0;
      top: -188px;
    }
  }
}

.page-buttons-contacts {
  margin-bottom: 40px;
  margin-top: -48px;

  @media (max-width: 1259px) {
    margin-top: -28px;
  }
}
.contacts-row {

  &.map-fullscreen {
    transform: none !important;
    transition: none;
  }
  @media (max-width: 1259px) {
    margin-left: 0px !important;
    margin-right: 0px !important;

    .col-md-3 {
      flex: 0 0 ($content_col * 8);
      max-width: ($content_col * 8);
      margin-right: $content_col;
      padding-left: 0;
      padding-right: 0;
    }
    .col-md-9 {
      flex: 0 0 ($content_col * 15);
      max-width: ($content_col * 15);
      padding-left: 0;
      padding-right: 0;
    }
    
  }
}