.page {
  padding-top: 100px;

  &-header,
  &-title {
    margin-bottom: 90px;
  }

  &-header {
    .page-title {
      margin-bottom: 0;
    }
  }

  &-title {
    max-width: 1000px;
    line-height: 0.95;
  }
}

.page-header-news {
  overflow: hidden;

  .page-title {
    float: left;
    margin-right: 40px;
  }
  .page-header-btn {
    float: right;
    padding-top: 3em;
  }

  @media (max-width: 1440px) {
    .page-header-btn {
      padding-top: 2em;
    }
  }
  @media (max-width: 1259px) {
    .page-header-btn {
      padding-top: 1em;
    }
  }
}

.news-list {
  margin-bottom: 80px;
}
.news-item {
  display: flex;
  padding-bottom: 80px;
  margin-bottom: 80px;
  border-bottom: 2px solid rgba(#FFF,.15);
  @include fz(22);

  &-img {
    flex: 20.833%;
    max-width: 20.833%;
    line-height: 0;
    text-align: right;

    a img,
    img {
      display: inline-block;
      border-radius: 140px;
    }
  }
  &-body {
    padding-right: 10%;
    max-width: 79.177%;
  }
  &-title {
    @include fz(54);
    line-height: 1;
    margin-bottom: 38px;
    // position: relative;

    a {
      color: #FFF;
      position: relative;

      &:hover {
        color: $primary;

        .news-item-title-arrow {
          opacity: 1;
          transform: translate3d(0,0,0);
        }
      }
    }

    svg#{&}-arrow {
      position: absolute;
      right: -68px;
      width: 48px;
      height: 48px;
      top: 50%;
      margin-top: -24px;
      stroke: $primary;
      fill: none;
      opacity: 0;
      transform: translate3d(-10px,0,0);
      transition: transform .3s, opacity .3s;
    }
  }
  &-txt {
    margin-bottom: 32px;
  }
  &-date {
    color: $primary;
    font-weight: 600;
  }

  @media (max-width: 1440px) {
    @include fz(18);

    &-title {
      @include fz(42);
    }
  }

  @media (max-width: 1259px) {

    &-title {
      @include fz(32);
    }
  }
}


.ui-tags {
  @include fz(24);
  margin-bottom: 60px;

  &-list {
    li {
      margin-bottom: 24px;
    }
  }

  &-link {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 20px;
    height: 60px;
    line-height: 58px;
    border: 1px dashed rgba(#fff,.15);
    // border: 1px solid transparent;
    border-radius: 30px;
    color: #FFF;
    // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='white' stroke-width='2' stroke-dasharray='1%2c 10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");

    &.active, &:hover {
      color: $primary;
      border-color: $primary;
      border-style: solid;
    }
  }

  &-more {
    vertical-align: middle;
    margin-left: 20px;
    border-bottom: 1px dashed rgba($primary, .8);

    &:hover {
      color: #FFF;
      // border-bottom-style: solid;
      border-bottom-color: transparent;

      .ui-tags-more-arrow {
        stroke: #FFF;
      }
    }

    &-arrow {
      display: inline-block !important;
      vertical-align: middle;
      margin-left: 5px;
      width: 12px;
      height: 10px;
      fill: none;
      stroke: $primary;
      stroke-width: 2;
    }
  }

  @media (max-width: 1440px) {
    @include fz(20);

    &-link {
      height: 56px;
      line-height: 54px;
    }
  }

  @media (max-width: 1259px) {
    @include fz(14);

    &-list {
      li {
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 15px;
      }
    }
    &-link {
      height: 48px;
      line-height: 46px;
    }
    &-more {
      margin-left: 3px;
    }
  }

  &-inline {
    li {
      display: inline-block;
      margin-bottom: 15px;
      margin-right: 0px;
      margin-left: 15px;
    }
  }
}

.news-archieve {
  display: none;

  &.opened {
    display: block;
  }
}
.page-header + .news-archieve {
  margin-top: -60px;
}



/* ---
DOCS PAGE --- */
.docs {
  &-group {
    margin-bottom: 70px;

    &-title {
      color: $primary;
      margin-bottom: 48px;
      margin-top: 0;
      @include fz(54);
      line-height: 1.1;
    }
    &-list {
      // display: flex;
      // flex-wrap: wrap;
      // margin-right: rowMargin(2);
      @include createRow(2)
    }

    &-col {
      @include createCols(2, 2)
      // flex: 0 0 50%;
      // max-width: 50%;
      // padding-right: colPadding(2);
    }
  }


  &-card {
    position: relative;
    display: block;
    margin-bottom: 30px;
    min-height: calc(100% - 30px);
    border: 1px solid #FFF;
    border-radius: 8px;
    padding: 30px;
    @include fz(22);

    &-title {
      margin-bottom: 24px;
      @include fz(28);
    }
    &-type {
      color: #FFF;
      font-weight: 600;
      transition: color .3s;
    }
    &-icon {
      position: absolute;
      bottom: 30px;
      right: 30px;
      width: 24px;
      height: 24px;
      stroke: $primary;
      stroke-width: 2;
      fill: none;
      opacity: 0;
      transform: scale(0.75);
      transition: opacity .3s, transform .3s;

    }
    &:hover {
      color: $primary;
      border-color: $primary;

      .docs-card-icon {
        opacity: 1;
        transform: scale(1);
      }
      .docs-card-type {
        color: $primary;
      }
    }
  }

  @media (max-width: 1260px) {
    &-group {
      &-title {
        @include fz(42);
      }
    }

    &-card {
      @include fz(18);

      &-title {
        @include fz(24);
      }
    }
  }
}



/* ---
CERTS --- */
.certs {
  &-list {
    @include createRow(3);
  }
  &-col {
    @include createCols(3, 3);
  }

  @media (max-width: 1440px) {
    &-list {
      @include createRow(2);
    }
    &-col {
      @include createCols(3, 2);
    }
  }

  @media (max-width: 1260px) {
    &-list {
      margin-right: -30px;
    }
    &-col {
      padding-right: 30px;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

.cert-item {
  margin-bottom: 95px;

  &-img {
    margin-bottom: 24px;
    filter: drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.15));
    position: relative;

    img {
      display: block;
    }
    a {
      display: inline-block;
      position: relative;

      &:hover {
        .cert-item-zoom {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }
  &-zoom {
    position: absolute;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    width: 50px;
    height: 50px;
    transform: scale(0.75);
    transition: opacity .3s, transform .3s;
    stroke: $primary;
    stroke-width: 3;
    fill: none
  }

  @media (max-width: 1260px) {
    @include fz(14);
    margin-bottom: 75px;

    &-img {
      max-width: 215px;
    }
    &-descr {
      max-width: 360px;
    }
  }
}