.main-screen {
  position: relative;
  overflow: hidden;
  max-height: 100vh;

  &-flex {
    height: 100vh;
  }

  &-float {
    padding-right: 30px;
    position: relative;
    z-index: 2;
  }
  &-to-popup {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0,-50%);
    z-index: 1;
  }
  &-news {
    text-align: center;

    &-link {
      position: relative;
      display: inline-block;
      max-width: 264px;

      &:hover {
        img {
          transform: scale(1.05);
        }
        .main-screen-news-img:after {
          transform: scale(1.05);
        }
      }
    }
    &-img {
      position: relative;
      border-radius: 200px;

      img {
        display: block;
        border-radius: 200px;
        transition: .5s transform;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 200px;
        background: rgba(22, 32, 46, 0.75);
        transition: .5s transform;
      }
    }
    &-label {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      @include fz(28);
      font-weight: 700;
      padding: 20px;
      z-index: 1;
    }
    &-title {
      position: absolute;
      left: 0;
      right: 0;
      top: 100%;
      color: #FFF;
      padding: 15px 15px 0;
    }
  }

  @media (max-width: 1439px) {
    &-news {
      &-link {
        max-width: 224px;
      }
      &-label {
        @include fz(24);
        line-height: 1.25;
      }
      &-title {
        @include fz(14);
      }
    }
  }
}

.main-slides {
  &-nav {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
    font-size: 0;
    z-index: 2;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -18px;
      // height: 40%;
      top: -30px;
      background: linear-gradient(180deg, rgba(8, 31, 64, 0) 0%, rgba(16, 25, 37, 0.56) 85%);
      z-index: -1;
    }

    ul {
      margin-left: -20px;
      margin-right: -20px;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: auto;
    }

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
      margin-bottom: 12px;
    }
    &-link {
      display: inline-block;
      vertical-align: middle;
      padding: 0px 20px;
      height: 60px;
      line-height: 58px;
      border: 1px dashed rgba(255, 255, 255, 0.15);
      border-radius: 30px;
      color: #fff;
      @include fz(24);

      &:hover {
        color: #FFF;
        border-color: #FFF;
        border-style: solid;
      }
      &.active {
        color: #FFF;
        // border-color: #FFF;
        // border-style: solid;
        border-color: transparent;
      }
    }

    &-border {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      height: calc(100% - 12px);
      border: 1px solid #FFF;
      border-radius: 35px;
    }

    @media (max-width: 1439px) {
      li {
        margin-right: 8px;
        margin-bottom: 8px;
        bottom: 22px;
      }
      &-link {
        height: 56px;
        line-height: 54px;
        @include fz(20);
      }
      &-border {
        height: calc(100% - 8px);
      }
    }
    @media (max-width: 1259px) {
      &-link {
        height: 48px;
        line-height: 46px;
        @include fz(14);
      }
    }
  }
  &-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 6px;
    z-index: 2;
    background: rgba(#FFF,.3);

    &-progress {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: $primary;
      transition: ease-out;
      width: 0%;
    }
  }
}
.main-slides-nav ul {
  scrollbar-width: 0;
}
.main-slides-nav ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;

  // &:after {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   height: 40%;
  //   background: linear-gradient(180deg, rgba(8, 31, 64, 0) 36.36%, rgba(16, 25, 37, 0.56) 100%);
  //   z-index: -1;
  // }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100vh;
    padding-top: 100px;
    padding-bottom: 120px;
    width: 1180px;
    max-width: 75%;
  }
  &-title {
    @include fz(270);
    line-height: 1.1;
    color: $primary;
    margin-bottom: 16px;
    white-space: nowrap;
  }
  &-descr {
    @include fz(80);
    line-height: 1;
    margin-bottom: 40px;
  }
  &-link {
    flex: 0 0 auto;
    @include fz(42);
    line-height: 1.05;
    display: inline-block;
    position: relative;
    padding-right: 68px;

    &-arrow {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -22px;
      width: 48px;
      height: 48px;
      fill: none;
      stroke: $primary;
      stroke-width: 2;
      transition: transform .3s, stroke .3s;
      max-height: 48px;
      max-width: 48px;
    }

    &:hover {
      .main-slide-link-arrow {
        transform: translate(5px, 0px);
      }
    }

    &.ui-color-secondary,
    &.ui-color-green {
      .main-slide-link-arrow {
        stroke: $secondary;
      }
    }
    &.ui-color-tertiary,
    &.ui-color-lime {
      .main-slide-link-arrow {
        stroke: $tertiary;
      }
    }
    &.ui-color-brown {
      .main-slide-link-arrow {
        stroke: $brown;
      }
    }
    &.ui-color-blue {
      .main-slide-link-arrow {
        stroke: $blue;
      }
    }
    &.ui-color-darkyellow {
      .main-slide-link-arrow {
        stroke: $darkyellow;
      }
    }
  }

  &-img {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 0;
    max-height: calc(100vh - 108px);
    transform-origin: center bottom;
  }

  @media (max-width: 1439px) {
    &-title {
      @include fz(200);
    }
    &-descr {
      @include fz(52);
    }
    &-link {
      @include fz(32);
    }
  }

  @media (max-width: 1259px) {
    &-title {
      @include fz(144);
    }
    &-descr {
      @include fz(52);
    }
    &-link {
      @include fz(32);
    }
  }
}

.main-block {
  padding-top: 100px;
  padding-bottom: 100px;

  &-title {
    max-width: 1340px;
    margin-bottom: 80px;
  }
}


.page {
  padding-top: 100px;

  &-header,
  &-title {
    margin-bottom: 96px;

    @media (max-width: 1259px) {
      margin-bottom: 76px;
    }
  }

  &-header {
    .page-title {
      margin-bottom: 0;
    }
  }

  &-title {
    max-width: 1000px;
    line-height: 0.95;
  }
}

.page-header-news {
  overflow: hidden;

  .page-title {
    float: left;
    margin-right: 40px;
  }
  .page-header-btn {
    float: right;
    padding-top: 3em;
  }

  @media (max-width: 1439px) {
    .page-header-btn {
      padding-top: 2em;
    }
  }
  @media (max-width: 1259px) {
    .page-header-btn {
      padding-top: 1em;
    }
  }
}

.news-list {
  margin-bottom: 80px;
}
.news-item {
  display: flex;
  padding-bottom: 80px;
  margin-bottom: 80px;
  border-bottom: 2px solid rgba(#fff, 0.15);
  @include fz(22);
  color: #FFF;
  user-select: none;

  a {
    color: #FFF;
  }

  &-img {
    flex: 20.833%;
    max-width: 20.833%;
    line-height: 0;
    text-align: right;

    a img,
    img {
      display: inline-block;
      border-radius: 140px;
      transition: transform .3s;
      will-change: transform;
    }
  }
  &-body {
    padding-right: 10%;
    flex: 0 0 79.177%;
    max-width: 79.177%;
  }
  &-title {
    @include fz(54);
    line-height: 1;
    margin-bottom: 35px;
    transition: color .3s;

    a,
    span {
      display: inline;
      // position: relative;
    }

    &-arrow {
      // position: absolute;
      // right: -68px;
      // top: 50%;
      // margin-top: -21px;
      position: relative;
      display: inline;
      vertical-align: bottom;
      width: 48px;
      height: 48px;
      margin-right: -48px;
      stroke: $primary;
      stroke-width: 2;
      fill: none;
      opacity: 0;
      transform: translate3d(-10px, 0, 0);
      transition: transform 0.3s, opacity 0.3s;
      will-change: transform, opacity;
    }
  }
  &-txt {
    margin-bottom: 32px;
  }
  &-date {
    color: $primary;
    font-weight: 600;
  }

  &:hover {
    color: #FFF;

    a {
      color: $primary;
    }
    .news-item {
      &-title {
        color: $primary;

        &-arrow {
          opacity: 1;
          transform: translate3d(0, 0, 0);
        }
      }

      &-img {
        img {
          transform: scale(1.03);
        }
      }
    }
  }

  @media (max-width: 1439px) {
    @include fz(18);

    &-title {
      @include fz(42);

      &-arrow {
        top: 0.19em;
      }
    }
  }

  @media (max-width: 1259px) {
    &-title {
      @include fz(32);

      &-arrow {
        top: 0.35em;
      }
    }
  }
}


.ui-tags {
  @include fz(24);
  margin-bottom: 60px;

  &-list {
    li {
      margin-bottom: 24px;
    }
  }

  &-link {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 20px;
    height: 60px;
    line-height: 58px;
    border: 1px dashed rgba(#fff, 0.15);
    // border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    // background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='30' ry='30' stroke='white' stroke-width='2' stroke-dasharray='1%2c 10' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");

    &-dark {
      color: #000000;
      border-color: #000000;
    }
    &.active,
    &:hover {
      color: $primary;
      border-color: $primary;
      border-style: solid;
    }
  }

  &-more {
    vertical-align: middle;
    margin-left: 20px;
    border-bottom: 1px dashed rgba($primary, 0.8);

    &:hover {
      color: #fff;
      // border-bottom-style: solid;
      border-bottom-color: transparent;

      .ui-tags-more-arrow {
        stroke: #fff;
      }
    }

    &-arrow {
      position: relative;
      top: -1px;
      display: inline-block !important;
      vertical-align: middle;
      margin-left: 5px;
      width: 12px;
      height: 10px;
      fill: none;
      stroke: $primary;
      stroke-width: 2;
    }
  }

  @media (max-width: 1439px) {
    @include fz(20);

    &-link {
      height: 56px;
      line-height: 54px;
    }
  }

  @media (max-width: 1259px) {
    @include fz(14);

    &-list {
      li {
        display: inline-block;
        margin-bottom: 15px;
        margin-right: 15px;
      }
    }
    &-link {
      height: 48px;
      line-height: 46px;
    }
    &-more {
      margin-left: 3px;
    }
  }

  &-inline {
    margin-right: -15px;
    
    li {
      display: inline-block;
      margin-bottom: 15px;
      margin-right: 15px;
      margin-left: 0px;
    }
  }
}

.news-archieve {
  display: none;

  &.opened {
    display: block;
  }
}
.page-header + .news-archieve {
  margin-top: -60px;
}

/* ---
DOCS PAGE --- */
.docs {
  &-group {
    margin-bottom: 70px;

    &-title {
      color: $primary;
      margin-bottom: 48px;
      margin-top: 0;
      @include fz(54);
      line-height: 1.1;
    }
    &-list {
      // display: flex;
      // flex-wrap: wrap;
      // margin-right: rowMargin(2);
      @include createRow(2);
    }

    &-col {
      @include createCols(2, 2) // flex: 0 0 50%;
        // max-width: 50%;
        // padding-right: colPadding(2);
;
    }
  }

  &-card {
    position: relative;
    display: block;
    margin-bottom: 30px;
    min-height: calc(100% - 30px);
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 30px 30px 60px;
    @include fz(22);

    &-title {
      margin-bottom: 24px;
      @include fz(28);
    }
    &-type {
      color: #fff;
      font-weight: 600;
      transition: color 0.3s;
      position: absolute;
      left: 30px;
      bottom: 30px;
    }
    &-icon {
      position: absolute;
      bottom: 30px;
      right: 30px;
      width: 24px;
      height: 24px;
      stroke: $primary;
      stroke-width: 2;
      fill: none;
      opacity: 0;
      transform: scale(0.75);
      transition: opacity 0.3s, transform 0.3s;
    }
    &:hover {
      color: $primary;
      border-color: $primary;

      .docs-card-icon {
        opacity: 1;
        transform: scale(1);
      }
      .docs-card-type {
        color: $primary;
      }
    }

    &-black {
      color: $bgc;
      border-color: $bgc;

      .docs-card {
        &-type {
          color: $bgc;
        }
      }
    }
  }

  @media (max-width: 1259px) {
    &-group {
      &-title {
        @include fz(42);
      }
    }

    &-card {
      @include fz(18);

      &-title {
        @include fz(24);
      }
    }
  }
}

/* ---
CERTS --- */
.certs {
  &-list {
    @include createRow(3);
  }
  &-col {
    @include createCols(3, 3);
  }

  @media (max-width: 1439px) {
    &-list {
      @include createRow(2);
    }
    &-col {
      @include createCols(3, 2);
    }
  }

  @media (max-width: 1259px) {
    &-list {
      margin-right: -30px;
    }
    &-col {
      padding-right: 30px;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

.cert-item {
  margin-bottom: 95px;

  &-img {
    margin-bottom: 21px;
    filter: drop-shadow(4px 4px 30px rgba(0, 0, 0, 0.15));
    position: relative;
    line-height: 0;

    a {
      display: inline-block;
      position: relative;
      overflow: hidden;
    }

    img {
      transition: transform .5s;
      display: block;
      line-height: 0;
    }

    a:hover {
      img {
        transform: scale(1.03);
      }
      
      .cert-item-zoom {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
  &-zoom {
    position: absolute;
    right: 30px;
    bottom: 30px;
    opacity: 0;
    width: 50px;
    height: 50px;
    transform: scale(0.75);
    transition: opacity 0.3s, transform 0.3s;
    stroke: $primary;
    stroke-width: 3;
    fill: none;
  }

  @media (max-width: 1259px) {
    @include fz(14);
    margin-bottom: 75px;

    &-img {
      max-width: 215px;
    }
    &-descr {
      max-width: 360px;
    }
  }
}




/* --- 
PRODUCTIONS -------------- */
.ui-bg {
	&-primary,
  &-orange {
		background-color: $primary;
	}
  &-secondary,
  &-green {
    background-color: $secondary;
  }
  &-tertiary,
  &-lime {
    background-color: $tertiary;
  }
  &-beige {
    background-color: #FFE2BF;
    color: $bgc;
  }
  &-lightgreen {
    background-color: #CCE0DE;
    color: $bgc;
  }
  &-lightlime {
    background-color: #ECF0E0;
    color: $bgc;
  }
  &-brown {
    background-color: $brown;
  }
  &-darkbrown {
		background-color: $brown;
	}
  &-lightbrown {
    background-color: #FFEAC0;
    color: $bgc;
  }
  &-blue {
    background-color: $blue;
  }
  &-darkblue {
		background-color: $bgc;
	}
  &-grayblue {
		background-color: #2F3E53;
	}
  &-lightblue {
    background-color: #c9dfec;
    color: $bgc;
  }
  &-black {
		background-color: #000;
	}
	&-white {
		background-color: #FFF;
    color: $bgc;
	}
	&-lightorange {
		background-color: $lightorange;
	}
	&-darkyellow {
		background-color: $darkyellow;
	}
  &-makulatura {
    background-color: rgb(200, 12, 224);
  }
}

.ui-bg-lightlime,
.ui-bg-lightbrown,
.ui-bg-lightblue,
.ui-bg-lightgreen,
.ui-bg-beige {
  .ui-side-title {
    color: $bgc;
  }
}

.ui-bg-beige {
  .to-all-news {
    a {
      color: $bgc;
    }
  }
  .to-all-news svg.news-item-title-arrow {
    stroke: $bgc;
  }
  .to-all-news a:hover svg.news-item-title-arrow {
    stroke: $primary;
  }
}

.ui-bg-beige,
[class*="ui-theme-"] {
  .news-item {
    color: $bgc;
    border-color: rgba($bgc,.15);
  }
}

//theming news-item
@each $name, $value in ("lightlime": $tertiary, "lightbrown": $brown, "lightblue": $blue, "lightgreen": $secondary) {
  .ui-bg-#{$name} {
    .news-item {
      &-date {
        color: $value;
      }
  
      &-title {
        &-arrow {
          stroke: $value;
        }
      }
  
      &:hover {
        .news-item {
          &-title {
            color: $value;
          }
        }
      }
    }

    //link to all news
    .to-all-news {
      a {
        color: $bgc;
  
        &:hover {
          color: $value;
        }
      }
    }
    .to-all-news svg.news-item-title-arrow {
      stroke: $bgc;
    }
    .to-all-news a:hover svg.news-item-title-arrow {
      stroke: $value;
    }

    ul.ui-marked, .node-inner ul {
      li:before {
        background: $value;
      }
    }

    .ui-video-preview:hover .ui-video-play {
      stroke: $value;
    }
  }
}


.productions {
  &-head {
    // position: relative;
    // z-index: 1;
    overflow: hidden;

    &-body {
      min-height: 100vh;
      padding-top: Min(10vh, 200px);
      padding-bottom: 50px;
      // opacity: 0;
      position: relative;
      z-index: 1;
    }

    &-content {
      width: 100%;
      padding-right: 10%;
    }

    &-btn {
      flex: 0 0 170px;
      max-width: 170px;

      @media (max-width: 1439px) {
        flex: 0 0 130px;
        max-width: 130px;
      } 
    }

    &-title {
      color: $bgc;
    }

    &-descr {
      @include fz(42);
      line-height: 1.1;
      margin-bottom: 25px;
    }

    &-arrow {
      width: 34px;
      height: 13px;
      cursor: pointer;

      svg {
        fill: none;
        stroke: $bgc;
        stroke-width: 2;
      }
    }

    &-img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      max-height: 80%;
      max-height: calc(100% - 160px);
      display: block;
      z-index: -1;
    }
  }
}

.productions-screens {
  position: relative;
  overflow: hidden;
  height: 100vh;

  &-video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
  }
}
.productions-screen {
  overflow: hidden;
  height: 100vh;
  z-index: 1;
  // position: relative;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;

  &.opened {
    display: block;
  }

  &-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 100px 0;
  }

  &-titles {
    flex: 0 0 620px;
    max-width: 620px;

    h2 {
      @include fz(80);
      line-height: 1;
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  &-details {
    flex: 0 0 500px;
    max-width: 500px;
    @include fz(28);

    &-top {
      margin-bottom: 30px;
    }
    h4, h5 {
      @include fz(80);
      line-height: 1;
      margin-top: 0px;
      margin-bottom: 12px;
    }
    h5 {
      color: $bgc
    }
    h6 {
      margin-top: 0;
      margin-bottom: 12px;
      @include fz(54);
      line-height: 1;
      font-weight: 400;

      &:last-child {
        margin-bottom: 0;
      }
    }
    strong, b {
      @include fz(22);
      font-weight: 600;
      display: inline-block;
    }
    
  }

  &-title {
    @include fz(80);
    line-height: 1;
    margin-bottom: 30px;
  }

  &-block {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &-title {
      @include fz(80);
      line-height: 1;
      margin-bottom: 12px;
    }
    &-label {
      @include fz(22);
      font-weight: 600;
    }
    &-subtitle {
      @include fz(54);
      line-height: 1;
    }
  }

  &-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;

    display: none;
  }

  @media (max-width: 1439px) {
    &-col {
      padding: 50px 0;
    }

    &-title,
    &-titles h2 {
      @include fz(52);
    }

    &-details {
      @include fz(24);
       
      h4, h5 {
        @include fz(52);
        line-height: 1;
        margin-top: 12px;
        margin-bottom: 12px;
      }
      h5 {
        color: $bgc
      }
      strong, b {
        @include fz(18);
      }
      h6 {
        @include fz(42);
        line-height: 1;
      }
    }

    &-block {
      &-title {
        @include fz(52);
      }

      &-label {
        @include fz(18);
      }
    }
  }
}

.productions-block {
  padding-top: 80px;
  padding-bottom: 120px;

  &-mk {
    position: relative;
    z-index: 1;
  }
}

.productions-tabs {
  margin-bottom: 45px;

  &-link {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 15px;
    margin-right: 15px;
    height: 70px;
    line-height: 68px;
    border: 1px dashed rgba(#FFF,.5);
    border-radius: 35px;
    padding: 0px 20px;
    color: #FFF;
    @include fz(28);
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    &.selected,
    &:hover {
      color: $primary;
      border: 1px solid $primary;
    }
  }

  @media (max-width: 1439px) {
    &-link {
      height: 62px;
      line-height: 60px;
      @include fz(24);
    }
  }
}

.tk-type {
  display: flex;
  margin-bottom: 64px;
  @include fz(22);
  font-weight: 600;

  &-icon {
    flex: 0 0 ($content_col*3);
    max-width: ($content_col*3);
    margin-right: $content_col;
    padding-top: .35em;
  }
  &-descr {
    max-width: ($content_col*16);
  }

  @media (max-width: 1439px) {
    @include fz(18);
  }
}

.tk-list {
  @include createRow(2);
  margin-bottom: 80px;
}
.tk-col {
  @include createCols(2,2)
}
.tk-subtype {
  margin-bottom: 40px;

  &-title {
    margin-bottom: 16px;
    @include fz(28);
    color: $primary;
  }

  @media (max-width: 1439px) {
    @include fz(14);

    &-title {
      @include fz(24);
    }
  }
}

.tk-custom {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  padding: 32px;
  max-width: 100%;
  width: ($content_col*10);

  &-title {
    position: relative;
    padding-left: 42px;
    @include fz(28);
    line-height: 1.05;
    margin-bottom: 8px;

    &-icon {
      position: absolute;
      left: 0;
      top: 0.15em;
      width: 27px;
      height: 22px;
    }
  }

  @media (max-width: 1439px) {
    width: 562px;
    @include fz(14);

    &-title {
      @include fz(24);
    }
  }
}

.productions-management {
  @include fz(28);

  &-body {
    padding-top: 9%;
    max-width: 620px;
  }
  &-img {
    margin-left: $content_col;
    // flex: 0 0 ($content_col * 8);
    // max-width: ($content_col * 8);
    flex: 0 0 450px;
    max-width: 450px;

    img {
      display: block;
      border-radius: 300px;
    }
  }

  &-person {
    margin-bottom: 120px;
  }

  &-name {
    color: $primary;
    @include fz(54);
    line-height: 1.05;
    margin-bottom: 20px;
  }

  &-pos {
    font-weight: 600;
    @include fz(22);
  }

  &-contacts {
    &-label {
      font-weight: 700;
      margin-bottom: 20px;
      color: $primary;
    }

    a {
      color: #FFF;

      &:hover {
        color: $primary;
      }
    }
  }

  @media (max-width: 1600px) {
    &-img {
      flex: 0 0 430px;
      max-width: 430px;
    }
  }

  @media (max-width: 1439px) {
    @include fz(24);

    &-body {
      padding-top: 15px;
    }

    &-name {
      @include fz(42);
      margin-bottom: 16px;
    }

    &-pos {
      @include fz(18);
    }

    &-person {
      margin-bottom: 50px;
    }

    &-img {
      // flex: 0 0 ($content_col * 7);
      // max-width: ($content_col * 7);
      flex: 0 0 280px;
      max-width: 280px;
    }
  }
}


.productions-tk-stock-row {
  @media (max-width: 1259px) {
    position: relative;

    .col-layout-thin {
      position: absolute;
      right: 0;
      bottom: 0;
      text-align: right;
    }
  }
}
.productions-tk-news {
  .news-list {
    margin-bottom: 0;
  }
}
.productions-tk-types {
  padding-bottom: 45px;
}
.fs-types-col {
  flex: 0 0 20%;
  max-width: 20%;
}

//productions animate
.productions {

  // &-animation {
  //   position: relative;
  //   height: 100vh;
  //   overflow: hidden;
  // }

  &-head {
    position: relative;
    // position: absolute;
    // left: 0;
    // top: 0;
    // width: 100%;
  }
  // &-screen {
  //   opacity: 0;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  // }
}


.productions-block-mk {
  overflow: hidden;
}

.productions-mk {
  &-bg {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    // max-width: 75%;
    // width: calc(69.5% + 50px);
    width: calc(75.5% - 50px);
    z-index: -1;
    // filter: drop-shadow(-30px 25px 200px rgba(0, 0, 0, 0.15));

    @media (max-width: 1520px) {
      width: calc(75.8% - 50px);
    }
    @media (min-width: 1920px) {
      width: calc(1820px * 0.74 + ((100% - 1820px) / 2));
    }
  }
  &-img {
    opacity: 0;
    visibility: hidden;
    width: 40%;
  }
  &-descr {
    @include fz(22);
    font-weight: 600;
    padding-bottom: 195px;
    max-width: 100%;
    width: 50%;
    border-top: 1px solid $bgc;
    padding-right: ($content_col * 4);
    padding-top: 32px;
  }
  &-for {
    line-height: 1;
    @include fz(54);
    width: ($content_col * 18);
  }

  @media (max-width: 1700px) {
    &-img {
      width: 30%;
    }
  }
  @media (max-width: 1439px) {
    &-img {
      width: 20%;
    }
    &-descr {
      @include fz(18);
      padding-bottom: 120px;
      padding-right: 0;
      width: 33.33%;
    }
    &-for {
      @include fz(42);
    }
  }
  @media (max-width: 1259px) {
    padding-top: 35px;

    &-img {
      display: none;
    }
  }
}

.productions-sights {
  &-title {
    color: $primary;
    margin-bottom: 32px;
  }
  &-txt {
    @include fz(54);
    line-height: 1;
  }

  @media (max-width: 1439px) {
    &-txt {
      @include fz(42);
    }
  }
}

.productions-slider {
  @include fz(28);
  .node-slider {
    margin-bottom: 0;
  }

  @media (max-width: 1439px) {
    @include fz(24);
  }
}

.swiper-rewards {
  margin: 0px -10px;

  &-img {
    height: 310px;
    line-height: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex: 0 0 33%;
    max-width: 33.3%;
    margin-right: 8%;

    img {
      max-height: 310px;
      transition: transform .5s;
    }
  }

  &-item {
    padding: 10px;

    &:hover {
      .swiper-rewards-img {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  &-wrp {
    position: relative;
  }

  &-btns {
    position: absolute;
    bottom: 10px;
    left: -180px;
  }

  @media (max-width: 1259px) {
    margin-bottom: 30px;

    &-btns {
      position: static;
    }
    
  }
}


@each $name, $value in ("blue": $blue, "brown": $brown, "secondary": $secondary, "green": $secondary, "tertiary": $tertiary, "lime": $tertiary) {
  .ui-theme-#{$name} {
    .ui-theme-color {
      color: $value;
    }

    .swiper-button {
      &-prev {
        &:before {
          background: url(../images/svg/arrow-prev-#{$name}.svg) center no-repeat;
        }
      }
      &-next {
        &:before {
          background: url(../images/svg/arrow-next-#{$name}.svg) center no-repeat;
        }
      }
    }

    .productions-tabs {
      &-link {
        &:hover,
        &.selected {
          color: $value;
          border-color: $value;
        }
      }
    }
  
    .tk-subtype {
      &-title {
        color: $value;
      }
    }
  
    .productions-management {
      &-name,
      &-contacts-label,
      a:hover {
        color: $value;
      }
    }
  
    .docs-card {
      &-icon {
        stroke: $value;
      }
      &:hover {
        color: $value;
        border-color: $value;
  
        .docs-card-type {
          color: $value;
        }
      }
    }
  
    .ui-btn {
      &:hover {
        color: $value;
        border-color: $value;
  
        .ui-btn-arrow {
          stroke: $value;
        }
      }
    }
  
    .productions-sights-title {
      color: $value;
    }
  }
}

.bbi-parallax {
  position: relative;
  margin-bottom: -80px;

  &-img {
    position: absolute;
    left: 0;
    top: 0;

    &-1 {
      z-index: 3;
    }
    &-2 {
      z-index: 2;
    }

    &-4 {
      position: static;
    }
  }
}


.main-partner {
  &-row {
    // @include createRow(1);
    margin-bottom: -64px;
    display: flex;
    flex-wrap: wrap;
  }
  &-col {
    // @include createCols(2,1);
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 4.167%;
    

    &:nth-of-type(2) {
      margin-top: -250px;
    }
  }

  &-descr {
    @include fz(22);
    max-width: 380px;
    margin-bottom: 20px;
  }

  &-item {
    @include fz(22);
    margin-bottom: 64px;

    &-img {
      margin-bottom: 32px;
    }
    &-title {
      color: $primary;
      @include fz(54);
      line-height: 1.05;
      margin-bottom: 16px;
      max-width: 79%;
    }
    &-txt {
      max-width: 80%;
    }
  }

  @media (max-width: 1439px) {
    &-descr {
      @include fz(18);
    }

    &-col {
      &:nth-of-type(2) {
        margin-top: -180px;
      }
    }

    &-item {
      @include fz(18);

      &-title {
        @include fz(42);
      }
    }
  }
}

/*main icons fix */  
.main-partner-row {
  margin-top: 110px;
}
.main-partner-item {
  margin-bottom: 100px;

  &-title {
    max-width: 84%;
  }
  &-img {
    margin-bottom: -50px;
    margin-left: -166px;
  }

  @media (max-width: 1439px) {
    &-img {
      margin-left: -40%;
      margin-bottom: -12%;
      text-align: center;

      img {
        max-width: 587px;
      }
    }
  }
}

.main-entrs {
  // position: relative;
  padding-bottom: 30px;

  @media (max-width: 1259px) {
    padding-bottom: 0;
  }

  &-title {
    @include fz(120);
    line-height: 0.95;
    margin-bottom: 75px;

    @media (max-width: 1439px) {
      margin-bottom: 35px;
      @include fz(100);
      line-height: 1;
    }
    @media (max-width: 1259px) {
      @include fz(80);
    }
  }
  // &-slide {
  //   position: absolute;
  //   left: 0;
  //   top: 100px;
  // }
  &-slides {
    position: relative;
  }
  &-cols {
    display: flex;
  }
  &-content {
    flex: 0 0 740px;
    max-width: 47%;
    padding-right: 100px;

    @media (max-width: 1439px) {
      padding-right: 70px;
    }
    @media (max-width: 1259px) {
      flex: 0 0 55%;
      max-width: 55%;
    }
  }
  &-imgs {
    position: relative;
    // margin-left: 6%;
    flex: 0 0 890px;
    max-width: 53%;
    margin-top: -137px;

    .ui-btn-circle {
      position: absolute;
      right: 0;
      top: 137px;
    }
    &-rounded {
      img {
        border-radius: 500px;
      }
    }
    &-stanok {
      // padding-bottom: 65%;
      height: 1183px;

      img {
        position: absolute;
        bottom: -15%;
        left: -75%;
        max-width: none;
      }

      @media (max-width: 1439px) {
        height: 1000px;

        img {
          bottom: -5%;
          max-width: 1800px;
        }
      }

      @media (max-width: 1259px) {
        height: 1000px;

        img {
          left: -120%;
          bottom: -5%;
        }
      }
    }

    @media (max-width: 1439px) {
      margin-top: -85px;

      .ui-btn-circle {
        top: 85px;
      }
    }

    @media (max-width: 1259px) {
      margin-top: 0;
      flex: 0 0 45%;
      max-width: 45%;

      .ui-btn-circle {
        top: 0px;
      }
    }
  }
  &-img {
    position: relative;
    z-index: -1;

    &-rounded {
      border-radius: 500px;
    }
  }
  &-descr {
    @include fz(22);
    margin-bottom: 32px;

    @media (max-width: 1439px) {
      @include fz(18);
    }
  }
  &-vntg {
    margin-bottom: 32px;
    @include fz(28);

    &-title {
      color: $primary;
      @include fz(54);
      line-height: 1;
      margin-bottom: 8px;
    }
    sub {
      vertical-align: baseline;
      font-size: 0.65em;
      display: inline-block;
    }

    @media (max-width: 1439px) {
      @include fz(16);

      &-title {
        @include fz(42);
      }
      sub {
        @include fz(16);
      }
      &-txt {
        max-width: 180px;
      }
    }
  }

  &-nav {
    position: relative;
    margin-bottom: 32px;
    margin-left: -20px;
    margin-right: -100px;

    ul {
      white-space: nowrap;
      overflow: hidden;
      overflow-x: auto;
      scrollbar-width: 0;
    }

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 12px;
    }

    &-border {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      height: calc(100% - 12px);
      border: 1px solid #FFF;
      border-radius: 35px;
    }

    &-link {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding: 0px 20px 0px 52px;
      height: 70px;
      line-height: 68px;
      border: 1px dashed rgba(255, 255, 255, 0.15);
      border-radius: 35px;
      color: #fff;
      @include fz(28);

      &-icon {
        position: absolute;
        left: 20px;
        top: 50%;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        display: inline-block;
        vertical-align: middle;
      }

      &.icon-right {
        padding-left: 20px;
        padding-right: 52px;

        .main-entrs-nav-link-icon {
          left: auto;
          right: 20px;
        }
      }

      &:hover {
        border-color: #FFF;
        border-style: solid;
      }
      &.active {
        border-color: transparent;
      }

      &.ui-color-green {
        svg {
          fill: $secondary;
        }
      }
      &.ui-color-lightorange {
        svg {
          fill: $lightorange;
        }
      }
      &.ui-color-lime {
        svg {
          fill: $tertiary;
        }
      }

      @media (max-width: 1439px) {
        height: 62px;
        line-height: 60px;
        @include fz(24);
      }

      @media (max-width: 1259px) {
        height: 52px;
        line-height: 50px;
        @include fz(16);
        padding-left: 42px;

        &-icon {
          width: 16px;
          height: 16px;
          margin-top: -8px;
        }
      }
    }
  }
}

.main-entrs-nav ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main-acivities-descr {
  @include fz(22);
  max-width: 645px;

  @media (max-width: 1439px) {
    @include fz(18);
  }
}
.main-activities {
  padding-top: 80px;

  .container {
    position: relative;
  }

  .main-block-title {
    position: relative;
    z-index: 2;
  }

  &-left {
    flex: 0 0 48%;
    max-width: 48%;
    position: relative;
    z-index: 2;
  }
  &-right {
    flex: 0 0 52%;
    max-width: 52%;
    // position: relative;
    // z-index: 1;
  }
  &-nav {
    margin-bottom: 80px;

    li {
      display: block;
    }
    .ui-tags-link {
      @include fz(28);
      font-weight: 700;
      height: 70px;
      line-height: 68px;
      border-radius: 35px;
    }
  }
  &-descr {
    @include fz(22);
    max-width: 645px;
  }
  &-tab {
    text-align: right;
  }
  &-sights {
    display: inline-block;
    position: relative;
    z-index: 1;
    max-width: 370px;

    &-btn {
      position: absolute;
      top: -265px;
      right: 0;
    }
    &-tezis {
      color: $primary;
      @include fz(54);
      line-height: 1;

      h6, .h6 {
        @include fz(110);
        line-height: 1;
        margin: 0 0 16px;
        font-weight: 400;
        color: $primary;
      }
    }
  }

  &-img {
    position: absolute;
    // left: -50%;
    // right: 300px;
    right: 18%;
    left: 24%;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    img {
      display: block;
      margin: 0 auto;
      max-height: 100%;
    }
  }

  @media (max-width: 1439px) {
    &-nav {
      margin-bottom: 60px;
  
      .ui-tags-link {
        @include fz(24);
        height: 62px;
        line-height: 60px;
      }
    }

    &-descr {
      @include fz(18);
    }

    &-sights {
      max-width: 300px;

      &-btn {
        top: -225px;
      }

      &-tezis {
        @include fz(42);
        line-height: 1.1;
  
        h6, .h6 {
          @include fz(90);
        }
      }
    }

    
  }

  @media (max-width: 1259px) {
    &-nav {
  
      .ui-tags-link {
        @include fz(16);
        height: 52px;
        line-height: 50px;
      }
    }

    &-sights {
      max-width: 270px;

      &-tezis {
        @include fz(32);
  
        h6, .h6 {
          @include fz(80);
        }
      }
    }
  }
}

.node-related {
  .main-block-title {
    max-width: 730px;
  }
}

.ui-section,
.productions-block {
	.col-layout-wide {
		>*:last-child {
			margin-bottom: 0;

			&.enterprises-tezises {
				margin-bottom: -80px;
			}
		}
	}
}

.enterprises-tezises {
	margin-bottom: -80px;

	&:not(:last-child) {
		margin-bottom: 120px;
	}
}
.alone-news {
	.news-item {
		padding-bottom: 0;
		margin-bottom: 0;
		border-bottom: 0;
	}
}

.ui-bg {
  &-lightlime,
  &-lightbrown,
  &-lightblue,
  &-lightgreen,
  &-beige {
    .enterprises-proud-img {
      filter: grayscale(100%) brightness(0);
    }

    h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .h20 {
      color: $bgc;
    }

    .ui-cite {
      &-pos,
      &-author {
        color: $bgc;
      }
    }

    .video-item-desc-date {
      color: $bgc;
    }

    .docs-card {
      color: $bgc;
      border-color: $bgc;

      .docs-card {
        &-type {
          color: $bgc;
        }
      }
    }

    .museum-slider-btns .swiper-button-prev,
    .museum-slider-btns .swiper-button-next {
      filter: brightness(0);
    }
  }
}

.news-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 199;
  padding: 50px 0;
  background: transparent;

  &-bg {
    position: fixed;
    width: 170px;
    height: 170px;
    background: $primary;
    border-radius: 50%;
  }

  &-line {
    position: relative;
    padding-right: 80px;
  }

  &-close {
    position: absolute;
    right: 0;
    top: 0.5em;
    cursor: pointer;
    width: 40px;
    height: 40px;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -1px;
      left: 0;
      right: 0;
      height: 2px;
      background: #FFF;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  &-scroller {
    max-height: calc(100vh - 240px);
    padding-top: 5px;

    .news-list,
    .news-item:last-child {
      margin-bottom: 0;
    }
  }

  &-flex {
    height: calc(100vh - 240px);
    display: flex;
    align-items: flex-end;
  }
  .ui-side-title {
    max-width: 100%;
  }
}

.ui-theme-black {
  .news-item {
    &-title,
    &-date {
      color: $bgc;
    }
    &-title {
      &-arrow {
        stroke: #FFF;
      }
    }
    &:hover {
      .news-item {
        &-title {
          color: #FFF;
        }
      }
    }
  }
}

.anim-fly {
  opacity: 0;
  transform: translate3d(0px, 50px, 0px);
  transition: opacity .8s, transform .5s;
  will-change: transform;

  &.visible {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}