.node {
  // @include fz(22);

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #000000;
  }

  &-title {
    margin-bottom: 100px;
  }

  &-body {
    background: #c9dfec;
    color: #000000;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  h2 {
    @include fz(80);
    margin-bottom: 56px;
    line-height: 1.1;
  }
  h3 {
    @include fz(54);
    font-weight: 600;
  }
  h4 {
    @include fz(54);
    line-height: 1;
  }
  h5 {
    @include fz(42);
    line-height: 1.1;
  }

  &-data {
    margin-bottom: 30px;

    @media (min-width: 1024px) {
      padding-top: 15px;
    }
  }

  &-date {
    @include fz(28);
    margin-bottom: 40px;
  }

  &-share {
    margin-bottom: 20px;

    &-label {
      margin-bottom: 7px;
    }
  }

  &-inner {
    padding-right: 26.3%;
    @include fz(22);

    @media (max-width: 1259px) {
      padding-right: 0;
      @include fz(18);
    }

    & > :first-child {
      margin-top: 0;
    }

    ul {
      @extend ul.ui-marked;
    }

    table {
      @extend .ui-table;
    }

    figure {
      margin: $paragraph_margin;
    }

    &-link {
      border: 1px dashed #222e3f;
      color: #222e3f;
      @include fz(24);
      margin-bottom: 26px;
      margin-right: 16px;
    }
  }

  &-related {
    padding-top: 80px;

    &-title {
      @include fz(54);
      font-weight: 600;
      color: $primary;
      line-height: 1.1;
      margin-bottom: 80px;
    }
  }
}

.node-slider {
  position: relative;
  margin-bottom: 70px;

  &-btns {
    position: absolute;
    bottom: 50px;
    left: -180px;

    @media (max-width: 1240px) {
      bottom: 0;
      left: 0;
    }
  }
}
.ui-swiper {
  position: relative;
  padding-bottom: 50px;

  &-pagination {
    display: inline-block;
    width: auto;
    position: absolute;
    bottom: 4px;
    left: auto;
    right: 0;
    @include fz(18);
    font-weight: 600;
    line-height: 1;
  }
  &-slide {
    &-subtitle {
      text-align: left;
      position: absolute;
      bottom: -50px;
      left: 0;
      padding-right: 85px;
    }
  }
}

.swiper-slide {
  // text-align: center;
  font-size: 18px;
}
.swiper-creative .swiper-slide-active {
  overflow: visible;
}

.swiper-slide img {
  display: block;
}

.swiper-button-next,
.swiper-button-prev {
  display: inline-block;
  position: static;
  vertical-align: middle;
  margin-top: 0;
  margin: 0 6px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-prev {
  width: 64px;
  height: 64px;
  background-image: url(../images/svg/slider-arrow-prev.svg);
}
.swiper-button-next {
  width: 64px;
  height: 64px;
  background-image: url(../images/svg/slider-arrow-next.svg);
  left: 85px;
}

.to-all-news {
  padding-right: 10%;
  max-width: 79.177%;

  a {
    color: #FFF;

    &:hover {
      color: $primary;
    }
  }
}
// to-all-news
.to-all-news svg.news-item-title-arrow {
  opacity: 1;
  stroke: #ffffff;
  // right: -88px;
  transition: stroke .3s;
  margin-left: 12px;
}
.to-all-news a:hover svg.news-item-title-arrow {
  stroke: $primary;
}
.node-content-links {
  margin-top: 45px;
}
