// .col-pub-8 {
//   flex: 0 0 33.28%;
//   max-width: 33.28%;
// }
// .col-pub-16 {
//   flex: 0 0 66.56%;
//   max-width: 66.56%;
// }
.publication-preview {
  display: grid;
  grid-template-areas: 
    'title img'
    'txt img'
    'date img';
  grid-template-columns: 1fr 24.96%;
  grid-gap: 32px 8.32%;
  align-items: center;
  border-bottom: 2px solid rgba(#fff, 0.15);
  padding-bottom: 80px;
  margin-bottom: 80px;
  color: #FFF;
  

  &-names {
    grid-area: title;
    @include fz(28);
    line-height: 1.35;
    color: $primary;

    @media (max-width: 1439px) {
      @include fz(24);
    }
  }
  &-article {
    grid-area: txt;
    @include fz(54);
    line-height: 1.1;

    @media (max-width: 1439px) {
      @include fz(42);
      line-height: 1.14;
    }
  }
  
  &-year {
    grid-area: date;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    @include fz(28);
    @media (max-width: 1439px) {
      @include fz(24);
    }
  }
  &-type {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: $primary;
    padding-right: 27px;
  }
  &-icon {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke: $primary;
    stroke-width: 2;
    fill: none;
    transform: scale(0.75);
    top: 7px;
    right: -2px;
    transition: stroke 0.3s;
  }
  &-img {
    grid-area: img;

    img {
      margin: 0 0 0 auto;
      transition: transform .3s;
    }
  }

  @media (min-width: 960px) {

    &-names {
      align-self: end;
    }
    &-year {
      align-self: start;
    }

    &:hover {
      color: $primary;
  
      .publication-preview-img {
        img {
          transform: scale(1.03);
        }
      }
    }
  }

  @media (max-width: 959px) {
    padding-bottom: 24px;
    margin-bottom: 32px;
    grid-template-columns: 1fr 26.76%;
    grid-gap: 12px 16px;
    grid-template-areas:
      'title title'
      'txt img'
      'date date';
    align-items: start;

    &-article {
      @include fz(18);
    }
    
    &-year {
      @include fz(16);
    }

    &-icon {
      top: 1px;
    }

    .row {
      align-items: flex-start;
    }
  }

  @media (max-width: 599px) {
    margin-bottom: 24px;
    grid-template-columns: 1fr;
    grid-gap: 16px 16px;

    &-names {
      @include fz(20);
    }
    &-article {
      @include fz(16);
    }
    &-year {
      @include fz(14);
    }
    &-img {
      max-width: 100px;
    }
  }
}

.publication-item {
  display: block;
  padding-right: $content_col*3;
  padding-bottom: 80px;
  margin-bottom: 80px;
  border-bottom: 2px solid rgba(#fff, 0.15);
  color: #FFF;
  @include fz(28);
  line-height: 1.35;

  &-names {
    color: $primary;
    margin-bottom: 32px;
    
  }
  &-article {
    // color: #ffffff;
    font-weight: 1.35;
    margin-bottom: 32px;
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
  }
  &-year {
    color: #ffffff;
  }
  &-type {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: $primary;
    padding-right: 27px;
  }
  &-icon {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke: $primary;
    stroke-width: 2;
    fill: none;
    transform: scale(0.75);
    top: .1em;
    right: -2px;
    transition: stroke 0.3s;
  }

  @media (min-width: 960px) {

    &:hover {
      color: $primary;
    }
  }

  @media (max-width: 1439px) {
    @include fz(24);
  }

  @media (max-width: 959px) {
    @include fz(16);
    padding-bottom: 24px;
    margin-bottom: 32px;
    padding-right: 0;

    &-names {
      @include fz(18);
      margin-bottom: 12px;
    }
    &-article {
      margin-bottom: 12px;
    }
    // &-bottom {
    //   @include fz(16);
    // }
    &:last-child {
      border-bottom: 0;
      padding-bottom: 10px;
    }
  }

  @media (max-width: 599px) {
    @include fz(14);
    
    margin-bottom: 24px;

    &-names {
      @include fz(16);
    }
    &:last-child {
      padding-bottom: 2px;
    }
  }
}

@media (max-width: 959px) {
  .publications-list {
    margin-bottom: 32px;
  }
}