// .col-pub-8 {
//   flex: 0 0 33.28%;
//   max-width: 33.28%;
// }
// .col-pub-16 {
//   flex: 0 0 66.56%;
//   max-width: 66.56%;
// }
.publication-preview {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  .col-pub-16 {
    flex: 0 0 $content_col*16;
    max-width: $content_col*16;
    margin-right: $content_col*2;
    padding-left: 0;
    padding-right: 0;
  }
  .col-pub-8 {
    flex: 0 0 $content_col*6;
    max-width: $content_col*6;
    padding-left: 0;
    padding-right: 0;
  }
}
.publication-preview {
  display: block;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(#fff, 0.15);
  margin-bottom: 80px;
  color: #FFF;

  &-names {
    @include fz(28);
    line-height: 1.35;
    color: $primary;
    margin-bottom: 32px;

    @media (max-width: 1439px) {
      @include fz(24);
    }
  }
  &-article {
    @include fz(54);
    line-height: 1.1;
    margin-bottom: 32px;

    @media (max-width: 1439px) {
      @include fz(42);
      line-height: 1.14;
    }
  }
  
  &-year {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    @include fz(28);
    @media (max-width: 1439px) {
      @include fz(24);
    }
  }
  &-type {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: $primary;
    padding-right: 27px;
  }
  &-icon {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke: $primary;
    stroke-width: 2;
    fill: none;
    transform: scale(0.75);
    top: 7px;
    right: -2px;
    transition: stroke 0.3s;
  }
  &-img {
    text-align: end;

    img {
      margin: 0 0 0 auto;
      transition: transform .3s;
    }
  }

  &:hover {
    color: $primary;

    .publication-preview-img {
      img {
        transform: scale(1.03);
      }
    }
  }

  @media (max-width: 959px) {
    padding-bottom: 24px;
    margin-bottom: 32px;

    &-names {
      margin-bottom: 12px;
    }
    &-article {
      @include fz(18);
      margin-bottom: 12px;
    }
    
    &-year {
      @include fz(16);
    }

    &-icon {
      top: 1px;
    }

    .row {
      align-items: flex-start;
    }
    .col-pub-8 {
      flex: 0 0 152px;
      max-width: 152px;
    }
    .col-pub-16 {
      margin-right: 0;
      padding-right: 24px;
      flex: 0 0 calc(100% - 152px);
      max-width: calc(100% - 152px);
    }
  }

  @media (max-width: 599px) {
    margin-bottom: 24px;

    .col-pub-8 {
      flex: 0 0 100px;
      max-width: 100px;
    }
    .col-pub-16 {
      padding-right: 16px;
      flex: 0 0 calc(100% - 100px);
      max-width: calc(100% - 100px);
    }

    &-names {
      @include fz(20);
    }
    &-article {
      @include fz(16);
    }
    &-year {
      @include fz(14);
    }
  }
}

.publication-item {
  display: block;
  padding-right: $content_col*3;
  padding-bottom: 80px;
  margin-bottom: 80px;
  border-bottom: 2px solid rgba(#fff, 0.15);
  color: #FFF;
  @include fz(28);
  line-height: 1.35;

  &-names {
    color: $primary;
    margin-bottom: 32px;
    
  }
  &-article {
    // color: #ffffff;
    font-weight: 1.35;
    margin-bottom: 32px;
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
  }
  &-year {
    color: #ffffff;
  }
  &-type {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    color: $primary;
    padding-right: 27px;
  }
  &-icon {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    stroke: $primary;
    stroke-width: 2;
    fill: none;
    transform: scale(0.75);
    top: .1em;
    right: -2px;
    transition: stroke 0.3s;
  }

  &:hover {
    color: $primary;
  }

  @media (max-width: 1439px) {
    @include fz(24);
  }

  @media (max-width: 959px) {
    @include fz(16);
    padding-bottom: 24px;
    margin-bottom: 32px;
    padding-right: 0;

    &-names {
      @include fz(18);
      margin-bottom: 12px;
    }
    &-article {
      margin-bottom: 12px;
    }
    // &-bottom {
    //   @include fz(16);
    // }
  }

  @media (max-width: 599px) {
    @include fz(14);
    margin-bottom: 24px;

    &-names {
      @include fz(16);
    }
    // &-bottom {
    //   @include fz(14);
    // }
  }
}

@media (max-width: 959px) {
  .publications-list {
    margin-bottom: 32px;
  }
}