p {
	margin: $paragraph_margin;
}
ul, ol {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
li {
	list-style: none;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h20 {
	font-family: $headings_font_family;
	font-weight: $headings_font_weight;
	color: $headings_color;
	margin: $headings_margin;
	text-transform: $headings_text_transform;

	@media (max-width: 959px) {
		margin: 24px 0 16px;
	}
}
.ui-h-extra {
	@include fz($h_extra);

	@media (min-width: 1440px) {
		@include fz(270);
	}

	@media (max-width: 1259px) {
		@include fz(144);
	}
}
h1, .h1, .ui-h1, .page-title {
	@include fz($h1);
	margin-top: 0;
	line-height: 0.95;

	@media (min-width: 1440px) {
		@include fz(140);
	}

	@media (max-width: 1259px) {
		@include fz(100);
	}

	@media (max-width: 1259px) {
		@include fz(100);
	}

	@media (max-width: 959px) {
		@include fz(56);
		line-height: 1.1;
	}

	@media (max-width: 599px) {
		@include fz(36);
		line-height: 1.14;
	}
}
h2, .h2, .ui-h2 {
	@include fz($h2);
	line-height: 1.2;

	@media (max-width: 959px) {
		@include fz(40);
	}

	@media (max-width: 599px) {
		@include fz(32);
	}
}
h3, .h3, .ui-h3 {
	@include fz($h3);
	line-height: 1.2;
	font-weight: 600;

	@media (max-width: 959px) {
		@include fz(36);
	}

	@media (max-width: 599px) {
		@include fz(28);
	}
}
h4, .h4, .ui-h4 {
	@include fz($h4);
	line-height: 1.3;

	@media (max-width: 959px) {
		@include fz(32);
	}

	@media (max-width: 599px) {
		@include fz(24);
	}
}
h5, .h5 {
	@include fz($h5);

	@media (max-width: 959px) {
		@include fz(24);
	}

	@media (max-width: 599px) {
		@include fz(20);
	}
}
h6, .h6, .ui-h5 {
	@include fz($h6);
	text-transform: none;
	font-weight: 700;
}
.ui-font-midi {
	@include fz(16);
}
.ui-font-mini {
	@include fz(14);
}
.h20 {
	@include fz(20);
}
.ui-strong,
.ui-bold {
	font-weight: 700;
}
.ui-demi {
	font-weight: 600;
}

.ui-side-title {
	@include fz(54);
	color: $primary;
	margin-bottom: 80px;
	max-width: 480px;
	line-height: 1.1;
	font-weight: 600;

	@media (max-width: 1439px) {
		@include fz(42);
		line-height: 1.14;
	}
	@media (max-width: 1259px) {
		margin-bottom: 60px;
	}
	@media (max-width: 959px) {
		@include fz(36);
		max-width: 100%;
		margin-bottom: 24px;
	}
	@media (max-width: 599px) {
		@include fz(28);
		// margin-bottom: 24px;
	}
}

a {
	color: $link;
	text-decoration: none;
	outline: none;
	transition: color .3s, border .3s;

	@media (min-width:960px) {
		&:hover {
			text-decoration: none;
			color: $link_hover;
		}
		&:active {
			color: $link_active;
		}
	}
}
b, strong {
	font-weight: 700;
}
img {
	max-width: 100%;
	height: auto;
}
hr {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid $border;
  overflow: hidden;
}

table {
	border-collapse: collapse;
}
.wrapper a img {
	border: none;
	display: block;
	line-height: 0;
	font-size: 0;
}
.sprite,
.svg-sprite {
	display: block;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: fill .4s, stroke .4s;
  -moz-transition: fill .4s, stroke .4s;
  -ms-transition: fill .4s, stroke .4s;
  -o-transition: fill .4s, stroke .4s;
  transition: fill .4s, stroke .4s;
}
.svg-inline {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	top: -1px;
	margin-right: 5px;
}
/*---- ICONS ---- */

::selection {
	background: $primary;
	color: #FFF;
}
::-moz-selection {
	background: $primary;
	color: #FFF;	
}
@media (min-width: 992px) {
	::-webkit-scrollbar {
		background: #CCC;
		width: 8px;
		height: 8px;
	}
	::-webkit-scrollbar-thumb {
		background: lighten($bg_dark, 15%);
		width: 8px;
		height: 8px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: lighten($bg_dark, 8%);
	}
}





.ui-backgrounded {
	display: block;
	position: relative;
	overflow: hidden;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;

	&.backgrounded {
		.ui-backgrounded-bg {
			visibility: hidden;
			opacity: 0;
			position: absolute;
		}
	}
}





.ui-breadcrumbs {
	position: relative;
	clear: both;
	background: $bread_bg;
	color: $bread_color;
	margin: $bread_margin;
	@include fz($bread_font_size);

	a {
		color: $bread_link_color;
		border-bottom: 0;
		text-decoration: underline;

		&:hover {
			color: $primary;
			text-decoration: none;
		}

		&:not(:last-child):after {
			content: "/";
			display: inline-block;
			vertical-align: baseline;
			margin-right: 2px;
			margin-left: 5px;
			position: relative;
			// @include fz(13);
			color: $bread_link_color;
		}
	}
}

ul.ui-marked {
	margin: $paragraph_margin;
	list-style: none;

	li {
		padding-left: 24px;
		margin-bottom: 15px;
		position: relative;
		
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: .5em;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: $primary;
		}
	}

	@media (max-width: 599px) {
		li {
			margin-bottom: 10px;
		}
	}
}
ol.ui-marked {
	padding-left: 0px;
	counter-reset: myCounter;
	margin-bottom: 20px;

	& > li {
		margin-bottom: 8px;
	  position: relative;
	  list-style: none;

	  &:before {
	  	counter-increment: myCounter;
	  	content: counter(myCounter)'.';
	  	color: #FFF;
	  	font-weight: 700;
			margin-right: 7px;
	  }
	}
}

.not-styled ul,
.content .not-styled ul,
ul.not-styled,
.content ul.not-styled  {
	margin-bottom: 0;

	li {
		padding-left: 0;
		margin-bottom: 0;
		counter-reset: none;

		&:before {
			content: none;
		}
	}
}
article, .article, .seo {
	@include fz($article_font_size);
	line-height: $article_line_height;
	font-weight: $article_font_weight;

	p {
		margin: $article_paragraph_margin;
	}
}
.ui-table-overflow {
	&::-webkit-scrollbar {
		display: none;
		width: 0;
		height: 0;
		-webkit-appearance: none;
	}

	@media (max-width: 959px) {
		max-width: 100%;
		max-width: calc(100% + 30px);
		margin-right: -15px;
		margin-left: -15px;
		overflow-x: auto;
		scrollbar-width: 0;
		padding-right: 15px;
		padding-left: 15px;
		-webkit-overflow-scrolling: touch;

		table {
			// min-width: 400px;
			min-width: 100%;
			width: auto;
		}
	}
}
.ui-table {
	width: 100%;
	margin: $paragraph_margin;
	@include fz(18);
	// table-layout: fixed;
	vertical-align: top;

	tr {
		vertical-align: top;
	}

	th {
		// width: 100%;
		text-align: left;
		color: #758695;
		@include fz(18);
		padding: 4px 25px 4px 0px;
		font-weight: 400;
		border-top: 1px solid #97AAB8;
		border-bottom: 1px solid #97AAB8;

		&:last-child {
			padding-right: 0;
		}
	}

	td {
		// width: 100%;
		border-top: 1px solid #97AAB8;
		border-bottom: 1px solid #97AAB8;
		padding: 10px 25px 10px 0px;

		&:last-child {
			padding-right: 0;
		}
	}
	tr:first-child {
		th,td {
			border-top: 0;
		}
	}
	tr:last-child {
		th,td {
			border-bottom: 0;
		}
	}

	@media (max-width: 959px) {
		@include fz(20);

		th {
			@include fz(16);
		}
	}

	@media (max-width: 599px) {
		@include fz(16);

		th, td {
			min-width: 125px;
		}
		th {
			padding: 4px 20px 4px 0;
			@include fz(14);
		}
		td {
			padding: 8px 20px 8px 0;
		}
	}
}
blockquote {
	margin: 24px 0;
	background: #FFF;
	padding: 35px 45px;
	text-align: left;
	border-left: 9px solid $primary;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
	@include fz($fontsize + 2);
	font-weight: 400;

	p, ul, ol, li {
		&:last-child {
			margin-bottom: 0;
		}
	}

	@media (max-width: 599px) {
		@include fz(16);
		padding: 25px 20px;
		border-left-width: 3px;
	}
}
figcaption {
	font-size: 18px;
	padding-top: 5px;

	@media (max-width: 1439px) {
		@include fz(14);
	}
}

/* form, buttons */
button,
input,
optgroup,
select,
textarea {
	font-family: $basefont;
	font-weight: $weight;
	outline: none !important;
}

.ui-input,
input.ui-input,
textarea.ui-input,
select.ui-input {
	display: block;
	width: 100%;
	height: $input_height;
  max-width: 100%;
	font-family: $basefont;
	background: $input_bg;
	color: $font;
  border: 1px solid $input_border;
  padding: $input_paddings;
  @include fz(18);
  @if $input_border_radius > 0 {
  	-webkit-border-radius: $input_border_radius;
  	border-radius: $input_border_radius;
  }
  outline: none !important;
  -webkit-transition: border .3s, box-shadow .4s;
  -moz-transition: border .3s, box-shadow .4s;
  -ms-transition: border .3s, box-shadow .4s;
  -o-transition: border .3s, box-shadow .4s;
  transition: border .3s, box-shadow .4s;

  &.wide {
		width: 100%;
  }

  &.mini {
		height: $btn_height_mini;
  }
  &.big {
  	height: $btn_height_big;
  }

	&:hover {
		border-color: $input_hover;
		/*box-shadow: $shadow;*/
	}
  &:focus {
  	border-color: $input_focus;
  	/*box-shadow: $shadow_focus;*/
  }
  &:disabled {
  	background: #f4f4f4;
  	border: 1px solid $input_border;

  	&:hover, &:focus {
  		border-color: $input_border;
  	}
  }
	&[readonly] {
  	border: 1px solid $input_border;
		background: #fbfbfb;

  	&:hover, &:focus {
  		border-color: $input_border;
  	}
  }
  &.no-border {
  	border: 1px solid transparent;
  }
  &.invalid {
  	color: $red;
  }
  // &.valid {
  // 	color: $primary;
  // }
}
textarea.ui-input {
	display: block;
	padding: 10px 15px;
	border: 1px solid $input_border;
	width: 100%;
	height: auto;
	resize: none;
}

.ui-input {
	&-wrp {
		position: relative;

		input {
			padding-right: 60px;
		}
	}
}

.invalid {
	border-color: $red !important;
	color: $red !important;

	* {
		border-color: $red !important;
		color: $red !important;
	}
}
.valid {
	border-color: $valid !important;
	// color: $valid !important;

	* {
		border-color: $valid !important;
		// color: $valid !important;
	}
}
label.invalid,
span.invalid  {
	display: inline-block;
	color: $red;
	@include fz(13);
	padding-bottom: 0;
	margin-bottom: 0;
}
span.invalid {
	padding-top: 3px;
	padding-left: 25px;
}

.ui-field {
	position: relative;

	span.invalid {
		position: absolute;
		left: 0;
		top: 100%;
	}

	.iti {
		display: block;
		width: 100%;
	}
}


::-webkit-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
::-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
:-moz-placeholder {opacity: 1; transition: opacity 0.3s ease;}
:-ms-input-placeholder {opacity: 1; transition: opacity 0.3s ease;}
:focus::-webkit-input-placeholder {opacity: 0;}
:focus::-moz-placeholder {opacity: 0;}
:focus:-moz-placeholder {opacity: 0;}
:focus:-ms-input-placeholder {opacity: 0;}

.invalid::-webkit-input-placeholder {color: $red;}
.invalid::-moz-placeholder {color: $red;}
.invlaid:-moz-placeholder {color: $red;}
.invalid:-ms-input-placeholder {color: $red;}

.valid::-webkit-input-placeholder {color: #25a670;}
.valid::-moz-placeholder {color: #25a670;}
.vlaid:-moz-placeholder {color: #25a670;}
.valid:-ms-input-placeholder {color: #25a670;}

.ui-btn {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: $btn_height;
	line-height: $btn_height - ($btn_border_width * 2);
	white-space: nowrap;
	text-align: center;
	padding: $btn_paddings;
	border-radius: $btn_border_radius;
	background-color: $btn_bg;
	border: $btn_border_width solid $btn_border_color;
	font-family: $basefont;
	color: $btn_color;
	text-transform: $btn_text_transform;
  @include fz($btn_font_size);
  font-weight: $btn_font_weight;
  -ms-transition: border .3s, color .3s;
	transition: border .3s, color .3s;
	cursor: pointer;
	outline: none;

	svg#{&}-svg {
		display: inline-block;
		vertical-align: middle;
		margin-right: 8px;
		width: 18px;
		height: 18px;
		position: relative;
		top: -2px;
	}

	@media (min-width: 960px) {
		&:hover {
			background-color: transparent;
			border-color: $primary;
			color: $primary;
			text-decoration: none;
	
			svg.ui-btn-arrow {
				stroke: $primary;
			}
		}
		&:active {
			border-color: $primary_hover;
			color: $primary_hover;
		}
	}
	
	// & + & {
	// 	margin-left: 7px;
	// }

	&-arrow {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -1px;
		width: 24px;
		height: 24px;
		transition: transform .15s, stroke .3s;
		stroke: #FFF;
		fill: none;
		margin-left: 30px;
	}

	&-block {
		display: block;
		width: 100%;
		margin-left: 0 !important;
		margin-bottom: 10px;
		padding: 0px 5px !important;
	}

	// &-mini {
	// 	@include fz($btn_font_size_mini);
	// 	font-weight: 400;
	// 	// padding: 0px 25px;
	// 	height: $btn_height_mini;
	// 	line-height: $btn_height_mini - ($btn_border_width * 2);
	// }

	&-big {
		height: $btn_height_big;
		line-height: $btn_height_big - ($btn_border_width * 2);
		padding: 0px 60px;
	}

	&-bordered {
		background-color: transparent;
		border: 1px solid $font;
		line-height: $btn_height - ($btn_border_width * 2);
		color: $font;

		@media (min-width: 960px) {
			&:hover {
				background-color: transparent;
				// background-color: #FFF;
				border-color: rgba(#1c1c1c, .5);
				color: rgba(#1c1c1c, .5);
			}
			&:active {
				background-color: transparent;
				border-color: rgba(#1c1c1c, .3);
				color: rgba(#1c1c1c, .3);
			}
		}
	}
	
	&-arrowed {
		text-align: left;

		&.opened {
			.ui-btn-arrow {
				transform: rotate(-180deg);
			}
		}
	}

	&-black {
		color: $bgc;
		border-color: $bgc;

		.ui-btn-arrow {
			stroke: $bgc;
		}
	}

	&-rounded {
		border-radius: 50px;
		border: 1px dashed rgba(#FFF,0.3);

		@media (min-width: 960px) {
			&:hover {
				border: 1px solid #FFF;
				color: #FFF;
			}
			&:active {
				border: 1px solid #FFF;
				color: #FFF;
			}
		}
	}

	&-play {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -1px;
		margin-left: 10px;
		width: 32px;
		height: 32px;
		stroke: #FFF;
    stroke-width: 3;
		fill: none;
	}
	&-next {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		top: -1px;
		margin-left: 10px;
		width: 32px;
		height: 32px;
		stroke: #FFF;
    stroke-width: 2;
		fill: none;
	}

	@media (max-width: 1259px) {
		@include fz($btn_font_size_mini);
		height: $btn_height_mini;
		line-height: $btn_height_mini - ($btn_border_width * 2);

		&-arrow {
			margin-left: 20px;
		}
	}

	@media (max-width: 959px) {
		height: 48px;
		line-height: 46px;
		@include fz(16);
		padding: 0px 14px;

		&-arrow {
			margin-left: 12px;
			width: 18px;
			height: 18px;
		}
	}

	@media (max-width: 599px) {
		// height: 40px;
		// line-height: 38px;
		@include fz(14);
		padding: 0px 12px;
	}
}
.ui-btn-circle {
	display: inline-block;
	position: relative;
	font-size: 0;
	line-height: 0;
	max-width: 170px;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border: 1px solid $primary;
		border-radius: 50%;
		z-index: 1;
		opacity: 0;
		transition: transform .5s, opacity .5s;
	}

	&-circle {
		position: relative;
		width: 170px;
		height: 170px;
		overflow: hidden;
		border-radius: 100px;
		background: $primary;
		flex-direction: column;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: 15px 20%;
		font-weight: 600;
		color: #FFF;
		line-height: 1.12;
		@include fz(18);
	}
	&-arrow {
		width: 32px;
		height: 32px;
		stroke: #FFF;
		stroke-width: 2;
		fill: none;
		margin-top: 8px;
	}

	@media (min-width: 960px) {
		&:hover {
			&:after {
				opacity: 1;
				transform: scale(1.12);
			}
		}
	}

	&-bordered {
		&:after {
			border-color: #FFF;
			opacity: 1;
		}
		.ui-btn-circle {
			&-circle {
				background-color: transparent;
			}
		}
	}
	

	&-darkblue {
		.ui-btn-circle {
			&-circle {
				background: $bgc;
			}
		}

		&:after {
			border-color: $bgc;
		}
	}

	&-secondary {
		.ui-btn-circle {
			&-circle {
				background: $secondary;
			}
		}

		&:after {
			border-color: $secondary;
		}
	}

	&-tertiary {
		.ui-btn-circle {
			&-circle {
				background: $tertiary;
			}
		}

		&:after {
			border-color: $tertiary;
		}
	}

	&-brown {
		.ui-btn-circle {
			&-circle {
				background: $brown;
			}
		}

		&:after {
			border-color: $brown;
		}
	}

	&-darkbrown {
		.ui-btn-circle {
			&-circle {
				background: $darkbrown;
			}
		}

		&:after {
			border-color: $darkbrown;
		}
	}

	&-blue {
		.ui-btn-circle {
			&-circle {
				background: $blue;
			}
		}

		&:after {
			border-color: $blue;
		}
	}

	// &-fixsize {
	// 	max-width: 170px;

	// 	.ui-btn-circle {
	// 		&-circle {
	// 			width: 170px;
	// 			height: 170px;
	// 			// padding: 15px 22px;
	// 		}
	// 	}
	// }

	// &-midi {
	// 	max-width: 170px;

	// 	.ui-btn-circle {
	// 		&-circle {
	// 			width: 170px;
	// 			height: 170px;
	// 		}
	// 	}
	// }

	@media (max-width: 1439px) {
		max-width: 130px;

		&-circle {
			width: 130px;
			height: 130px;
			@include fz(14);
		}

		&-arrow {
			width: 28px;
			height: 28px;
		}
	}

	@media (max-width: 959px) {
		max-width: 116px;

		&-circle {
			width: 116px;
			height: 116px;
		}

		&-arrow {
			margin-top: 4px;
			width: 24px;
			height: 24px;
		}
	}

	@media (max-width: 599px) {
		max-width: 92px;

		&-circle {
			width: 92px;
			height: 92px;
			@include fz(12);
		}

		&-arrow {
			width: 20px;
			height: 20px;
			margin-top: 2px;
		}

		&.bigger {
			max-width: 100px;

			.ui-btn-circle-circle {
				width: 100px;
				height: 100px;
			}
		}
	}
	
}

.ui-fz {
	&-14 {
		@include fz(14);
	}
	&-16 {
		@include fz(16);
	}
	&-18 {
		@include fz(18);
	}
	&-20 {
		@include fz(20);
	}
	&-22 {
		@include fz(22);
	}
}

.ui-color {
	&-black {
		color: #000 !important;
	}
	&-darkblue {
		color: $bgc !important;
	}
	&-white {
		color: #FFF !important;
	}
	&-primary,
	&-orange {
		color: $primary !important;
	}
	&-secondary,
	&-green {
		color: $secondary !important;
	}
	&-tertiary,
	&-lime {
		color: $tertiary !important;
	}
	&-blue {
		color: $blue !important;
	}
	&-brown {
		color: $brown !important;
	}
	&-darkbrown {
		color: $darkbrown !important;
	}
	&-lightorange {
		color: $lightorange !important;
	}
	&-darkyellow {
		color: $darkyellow !important;
	}
	&-makulatura {
		color: rgb(200, 12, 224) !important;
	}
	&-vtorma,
	&-greengrass {
		color: $greengrass !important;
	}
}
a.ui-color {
	&-primary,
	&-orange {
		&:hover {
			color: lighten($primary,10%) !important;
		}
	}
	&-secondary,
	&-green {
		&:hover {
			color: lighten($secondary,10%) !important;
		}
	}
	&-tertiary,
	&-lime {
		&:hover {
			color: lighten($tertiary,10%) !important;
		}
	}
	&-blue {
		&:hover {
			color: lighten($blue,10%) !important;
		}
	}
	&-brown {
		&:hover {
			color: lighten($brown,10%) !important;
		}
	}
	&-darkbrown {
		&:hover {
			color: lighten($darkbrown,10%) !important;
		}
	}
	&-lightorange {
		&:hover {
			color: lighten($lightorange,10%) !important;
		}
	}
	&-darkyellow {
		&:hover {
			color: lighten($darkyellow,10%) !important;
		}
	}
	&-makulatura {
		&:hover {
			color: lighten(rgb(200, 12, 224),10%) !important;
		}
	}
	&-vtorma,
	&-greengrass {
		&:hover {
			color: lighten($greengrass,10%) !important;
		}
	}
}
.ui-fill {
	&-black {
		fill: #000 !important;
	}
	&-darkblue {
		fill: $bgc !important;
	}
	&-white {
		fill: #FFF !important;
	}
	&-primary,
	&-orange {
		fill: $primary !important;
	}
	&-secondary,
	&-green {
		fill: $secondary !important;
	}
	&-tertiary,
	&-lime {
		fill: $tertiary !important;
	}
	&-blue {
		fill: $blue !important;
	}
	&-brown {
		fill: $brown !important;
	}
	&-darkbrown {
		fill: $darkbrown !important;
	}
	&-lightorange {
		fill: $lightorange !important;
	}
	&-darkyellow {
		fill: $darkyellow !important;
	}
	&-makulatura {
		fill: rgb(200, 12, 224) !important;
	}
	&-vtorma,
	&-greengrass {
		fill: $greengrass !important;
	}
}
.ui-bg {
	&-black {
		background-color: #000 !important;
	}
	&-darkblue {
		background-color: $bgc !important;
	}
	&-white {
		background-color: #FFF !important;
	}
	&-primary,
	&-orange {
		background-color: $primary !important;
	}
	&-secondary,
	&-green {
		background-color: $secondary !important;
	}
	&-tertiary,
	&-lime {
		background-color: $tertiary !important;
	}
	&-blue {
		background-color: $blue !important;
	}
	&-brown {
		background-color: $brown !important;
	}
	&-darkbrown {
		background-color: $darkbrown !important;
	}
	&-lightorange {
		background-color: $lightorange !important;
	}
	&-darkyellow {
		background-color: $darkyellow !important;
	}
	&-makulatura {
		background-color: $greengrass !important;
	}
	&-vtorma,
	&-greengrass {
		background-color: $greengrass !important;
	}
}




.ui-styler {
	display: block;
	position: relative;
	padding-left: 32px;
	margin-bottom: 8px;

	&-inline {
		display: inline-block;
		vertical-align: top;
		margin-right: 25px;
	}

	.jq-radio, .jq-checkbox {
		position: absolute;
		left: 0;
		top: 3px;
	}
}
.label-inline {
	display: inline-block;
	margin-right: 23px;
}
.label-block,
.ui-label {
	display: block;
	margin-bottom: 6px;
	color: $font_2;

	&-invisible {
		user-select: none;
		opacity: 0;
		visibility: hidden;
	}
}

.ui-field {
	margin-bottom: 30px;

	&-label {
		display: block;
		@include fz(18);
		margin-bottom: 15px;
		font-weight: 400;
		color: $font;
	}

	&-group {
		margin-bottom: 40px;
	}

	&-hint {
		padding-top: 10px;
		color: $font_2;
	}
}
.ui-label {
	&-float {
		position: absolute;
		left: 21px;
		top: -0.5em;
		max-width: calc(100% - 40px);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-weight: 500;
		font-size: 9px;
		z-index: 11;
		padding: 0px 4px;
		background: #475669;
	}
}

.ui-plus-link {
	display: inline-block;
	position: relative;
	padding-left: 38px;
	margin-bottom: 18px;
	line-height: 1.3;

	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: -3px;
		width: 22px;
		height: 22px;
		border: 2px solid $primary;
	}
	&:after {
		content: "+";
		position: absolute;
		left: 0;
		top: -3px;
		height: 26px;
		line-height: 26px;
		width: 26px;
		text-align: center;
		font-weight: 700;
		font-size: 24px;
	}
}
.ui-tag {
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
	margin-bottom: 15px;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	background: #EFF2FF;
	white-space: nowrap;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	color: $primary;
	font-weight: 500;
	font-size: 14px;
	cursor: default;

	a#{&} {
		cursor: pointer;
	}

	@media (min-width: 960px) {
		&:hover {
			color: $primary_hover;
			background: darken(#EFF2FF, 10%);
		}
	}
	
}
.reply-hint {
	@include fz(12);
	color: rgba(#000, .4);
	padding-top: 8px;
}
.date-wrp {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		right: 0;
		top: 10px;
		bottom: 10px;
		width: 42px;
		border-left: 1px solid #e0e0e0;
		// background: url(../images/icons/datepicker.png) 9px center no-repeat;
	}
}


.ui-video {
	position: relative;
	margin: $paragraph_margin;
	overflow: hidden;
	background: $bg_dark;
	padding-bottom: 56.25%;

	&-preview {
		position: absolute;
		left: 0;
		height: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		line-height: 0;
		cursor: pointer;

		img {
			display: block;
			width: 100%;
			min-height: 100%;
			transition: transform .5s;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			will-change: transform;
		}
		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: #2F3E53;
			opacity: 0.3;
		}

		@media (min-width: 960px) {
			&:hover {
				img {
					transform: translate(-50%,-50%) scale(1.03);
				}
				.ui-video-play {
					stroke: $primary;
				}
			}
		}
	}
	&-play {
		position: absolute;
		z-index: 1;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		width: 100px;
		height: 100px;
		max-width: 20vw;
		max-height: 20vw;
		stroke: #FFF;
		stroke-width: 4;
		fill: none;
	}
	&-player {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		visibility: hidden;
		opacity: 0;
	}
	.plyr {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
	}
	
	&.initialized {
		.ui-video-preview {
			opacity: 0;
			z-index: 0;
		}
		.ui-video-player {
			visibility: visible;
			opacity: 1;
		}
	}

	& + figcaption {
		padding-top: 0;
		margin-top: -8px;
	}

	@media (max-width: 959px) {
		margin-bottom: 24px;
		
		&-play {
			width: 48px;
			height: 48px;
		}
	}
}


.wrap-input {
	position: relative;
	input {
		padding-right: 32px;
	}
	&:after {
		content: "";
		position: absolute;
		z-index: 3;
		right: 14px;
		top: 50%;
	}
}

/* pagination */
.ui-pgn {
	margin: 0px 0px 60px;

	&-flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-link,
	&-current {
		display: inline-block;
		vertical-align: middle;
		margin: 0px;
		min-width: 48px;
		height: 48px;
		line-height: 44px;
		text-align: center;
		border: 0;
		border-radius: 24px;
		padding: 0px 5px;
		font-weight: 400;
		@include fz(28);
		border: 2px solid transparent;
	}
	&-link {
		color: #FFF;

		@media (min-width: 960px) {
			&:hover {
				color: $primary;
			}
		}
		
	}

	&-current {
		color: $primary;
		border-color: $primary;
		cursor: default;
	}

	&-arrow {
		display: inline-block;
		vertical-align: middle;
		width: 48px;
		height: 48px;

		&-prev {
			margin-right: 12px;
		}
		&-next {
			margin-left: 12px;
		}

		svg {
			fill: none;
			stroke: #FFF;
			stroke-width: 2;
		}
		@media (min-width: 960px) {
			&:hover {
				svg {
					stroke: $primary;
				}
			}
		}
		
	}
	span#{&}-arrow {
		cursor: default;
		
		svg {
			stroke: rgba(#FFF,0.5)
		}
	}

	@media (max-width: 1439px) {
		&-link,
		&-current {
			@include fz(24);
		}
	}

	@media (min-width: 1440px) {
		.ui-btn-arrow {
			margin-left: 100px;
		}
	}

	@media (max-width: 959px) {
		&-link,
		&-current {
			@include fz(18);
			min-width: 40px;
			height: 40px;
			border-width: 1px;
			line-height: 38px;
		}
		&-arrow {
			width: 40px;
			height: 40px;
			
			svg {
				stroke-width: 1;
			}

			&-prev {
				margin-right: 6px;
			}
			&-next {
				margin-left: 6px;
			}
		}

		&-links {
			font-size: 0;
			white-space: nowrap;
		}
		&-link {
			display: none;

			&.mobile-visible {
				display: inline-block;
			}
		}
		.dots,
		&-dots {
			display: inline-block;
			vertical-align: middle;
			@include fz(18);
			width: 40px;
			line-height: 40px;
			text-align: center;
		}
	}

	@media (max-width: 599px) {
		// text-align: center;
		margin-bottom: 30px;

		&-link,
		&-current {
			@include fz(16);
		}
		&-flex {
			display: block;
		}
		&-ajax {
			// display: none;

			.ui-btn {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
			}
		}

		&-ajax + &-links {
			margin-top: 20px;
		}

		&-links {
			position: relative;
			padding-left: 48px;
			padding-right: 48px;
			min-height: 40px;
			text-align: center;
		}

		&-arrow {
			&-prev {
				position: absolute;
				left: 0;
				top: 0;
			}
			&-next {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
	@media (max-width: 380px) {
		&-links {
			padding-left: 45px;
			padding-right: 45px;
		}
		&-link {
			min-width: 32px;
		}
		.dots,
		&-dots {
			@include fz(16);
			width: 32px;
		}
	}
}


.ui-tooltip {
	position: relative;
	z-index: 1;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	padding-top: 0px;
	text-align: center;
	background: #F7F7F7;
	color: $font;
	border-radius: 50%;
	@include fz(16);
	font-weight: 400;
	cursor: default;

	.ui-tooltip-popup {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		z-index: -1;
		width: 300px;
		bottom: 100%;
		left: 0;
		margin-left: -143px;
		margin-bottom: 14px;
		background: #FFF;
		padding: 12px 25px;
		border: 1px solid $border_light;
		transform: translate3d(0,-15px,0);
		transition: all .15s $beizer;
		// @include transform(translateY(-15px));
		// @include transition(all .15s $beizer);
		@include fz(12);
		color: $font;
		text-align: left;
	}

	&:hover {
		background: $primary_hover;
		color: #FFF;
		z-index: 99;

		.ui-tooltip-popup {
			transform: translate3d(0,0,0);
			opacity: 1;
			visibility: visible;
		}
	}
}
.ui-tooltip-popup {
	&:before {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 6px 0 6px;
		border-color: $border_light transparent transparent transparent;
	}
	&:after {
		content: "";
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		margin: 0 auto;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 8px 5px 0 5px;
		border-color: #FFF transparent transparent transparent;
	}
}
.ui-tooltip-link {
	display: inline;
	vertical-align: baseline;
	margin-left: 0px;
	width: auto;
	height: auto;
	line-height: inherit;
	text-align: left;
	background: none;
	border-radius: 0;
	@include fz($fontsize);
	border-bottom: 1px dotted rgba($red,0.5);
	
	&:hover {
		background: none;
		color: $red;
		border-bottom-style: solid;
		text-decoration: none;

		// .ui-tooltip-answer {
		// 	@include transform(translateY(0px) translateX(-50%));
		// }
	}

	.ui-tooltip-answer {
		left: 50%;
		margin-left: 0;
		// @include transform(translateY(-15px) translateX(-50%));
		width: max-content;
		max-width: 300px;
	}
}

.no-padding {
	padding: 0 !important;
}
.no-margin {
	margin: 0 !important;
}
.no-gutters {
	padding: 0 !important;
	margin: 0 !important;

	&-top {
		padding-top: 0 !important;
		margin-top: 0 !important;
	}
	&-left {
		padding-left: 0 !important;
		margin-left: 0 !important;
	}
	&-right {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}
	&-bottom {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
	}
}

.ui-bold, .ui-strong {
	font-weight: 700;
}
.ui-regular {
	font-weight: 400 !important;
}
.ui-thin, .ui-thin-txt {
	font-weight: 300;
}
.ui-fz-bigger	{
	font-size: 140%;
}
.centered,
.ui-centered {
	text-align: center !important;
}
.ui-lefted,
.lefted {
	text-align: left !important;
}
.ui-righted,
.righted {
	text-align: right !important;
}
.ui-uppercase {
	text-transform: uppercase;
}
.ui-not-uppercase {
	text-transform: none;
}
.ui-non-visible {
	display: none !important;
}
.ui-bordered-link, .ui-link-bordered {
	color: $font;
	/*padding-bottom: 1px;*/
	border-bottom: 1px solid rgba($primary,.5);
	text-decoration: none;

	&:hover {
		text-decoration: none;
		// border-bottom-color: transparent;
	}
}
.ui-dotted-link, .ui-link-dotted {
	/*color: $font;*/
	/*padding-bottom: 1px;*/
	border-bottom: 1px dotted;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		/*border-bottom-style: solid;*/
	}
}
.ui-link-dashed {
	border-bottom: 1px dashed;
	text-decoration: none;

	&:hover {
		text-decoration: none;
		border-bottom-color: transparent;
	}
}
.ui-link-decorated {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}
}



.ui-tabs {
	&-link {
		&.selected, &.active {
			color: #000;
			border-color: #000;
			border-style: solid;
		}
	}
	&-content {
		display: none;
		transition: .15s opacity, .15s transform;
	
		&.selected, &.active {
			display: block;
		}
		&.leave {
			opacity: 0;
			transform: translate(-15px,0);
		}
		&.enter {
			opacity: 0;
			transform: translate(15px,0);
		}
	}
}
.ux-tabs-content-parent {
	overflow: hidden;
}
.color-primary {
	color: $primary;
}
.color-secondary {
	background: $secondary;
}

.ui-only {
	@media (min-width: 768px) {
		&-mobile {
			display: none !important;
			visibility: hidden;
		}
	}

	@media (max-width: 768px) {
		&-desktop {
			display: none !important;
			visibility: hidden;
		}
	}
}

.ui-share {
	.ya-share2__icon {
		background-position: center;
		background-repeat: no-repeat;
		transition: border .3s, background .3s;
		border: 1px solid #000;

		

		@media (min-width: 960px) {
			&:hover {
				border-color: $primary;
			}
		}
	}
	.ya-share2__container_size_m .ya-share2__badge .ya-share2__icon {
		width: 32px;
		height: 32px;
		border-radius: 50%;

		@media (max-width: 959px) {
			width: 24px;
			height: 24px;
		}
	}
	.ya-share2__container_shape_round .ya-share2__badge {
		background-color: transparent !important;
	}
	.ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
		margin: 0px 8px 8px 0;
	}
	.ya-share2__item_service_vkontakte .ya-share2__icon {
    background-image: none;

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-size: 27px !important;
			background-position: center 70%;
			opacity: 0;
			transition: opacity .3s;

			@media (max-width: 959px) {
				background-size: 22px !important;
			}
		}

		&:before {
			opacity: 1;
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.623 7.66c.12-.372 0-.643-.525-.643h-1.745c-.44 0-.644.237-.763.491 0 0-.898 2.17-2.152 3.576-.406.406-.593.542-.813.542-.119 0-.271-.136-.271-.508V7.644c0-.44-.136-.644-.509-.644H10.1c-.27 0-.44.203-.44.407 0 .423.627.525.694 1.711v2.576c0 .559-.101.66-.322.66-.593 0-2.033-2.185-2.897-4.676-.17-.492-.339-.678-.78-.678H4.593C4.085 7 4 7.237 4 7.491c0 .458.593 2.762 2.762 5.813 1.44 2.084 3.49 3.202 5.338 3.202 1.118 0 1.254-.254 1.254-.678v-1.575c0-.509.101-.594.457-.594.254 0 .712.136 1.746 1.136 1.186 1.186 1.39 1.728 2.05 1.728h1.745c.509 0 .746-.254.61-.745-.152-.492-.728-1.203-1.474-2.05-.407-.475-1.017-1-1.203-1.255-.254-.339-.186-.474 0-.78-.017 0 2.118-3.015 2.338-4.032' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E");
		}

		&:after {
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.623 7.66c.12-.372 0-.643-.525-.643h-1.745c-.44 0-.644.237-.763.491 0 0-.898 2.17-2.152 3.576-.406.406-.593.542-.813.542-.119 0-.271-.136-.271-.508V7.644c0-.44-.136-.644-.509-.644H10.1c-.27 0-.44.203-.44.407 0 .423.627.525.694 1.711v2.576c0 .559-.101.66-.322.66-.593 0-2.033-2.185-2.897-4.676-.17-.492-.339-.678-.78-.678H4.593C4.085 7 4 7.237 4 7.491c0 .458.593 2.762 2.762 5.813 1.44 2.084 3.49 3.202 5.338 3.202 1.118 0 1.254-.254 1.254-.678v-1.575c0-.509.101-.594.457-.594.254 0 .712.136 1.746 1.136 1.186 1.186 1.39 1.728 2.05 1.728h1.745c.509 0 .746-.254.61-.745-.152-.492-.728-1.203-1.474-2.05-.407-.475-1.017-1-1.203-1.255-.254-.339-.186-.474 0-.78-.017 0 2.118-3.015 2.338-4.032' fill='%23F08322' fill-rule='evenodd'/%3E%3C/svg%3E");
		}

		@media (min-width: 960px) {
			&:hover {
			
				&:before {
					opacity: 0;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}
	.ya-share2__item_service_facebook .ya-share2__icon {
		background-image: none;

		&:before,
		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0;
			transition: opacity .3s;
			background-size: 32px !important;
			background-position: center bottom -5px;

			@media (max-width: 959px) {
				background-size: 28px !important;
			}
		}
		&:before {
			opacity: 1;
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.423 20v-7.298h2.464l.369-2.845h-2.832V8.042c0-.824.23-1.385 1.417-1.385h1.515V4.111A20.255 20.255 0 0014.148 4c-2.183 0-3.678 1.326-3.678 3.76v2.097H8v2.845h2.47V20h2.953z' fill='%23000' fill-rule='evenodd'/%3E%3C/svg%3E");
		}

		&:after {
			background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.423 20v-7.298h2.464l.369-2.845h-2.832V8.042c0-.824.23-1.385 1.417-1.385h1.515V4.111A20.255 20.255 0 0014.148 4c-2.183 0-3.678 1.326-3.678 3.76v2.097H8v2.845h2.47V20h2.953z' fill='%23F08322' fill-rule='evenodd'/%3E%3C/svg%3E");
		}

		@media (min-width:960px) {
			&:hover {
				
				&:before {
					opacity: 0;
				}
				&:after {
					opacity: 1;
				}
			}
		}
	}
}


.lg-backdrop {
	background: $bgc;
	opacity: 0;
	transform: scale(0.75);
	// transition: opacity .3s, transform .3s;
	transition-property: opacity, transform;

	&.in {
		opacity: 1;
		transform: scale(1);
	}
}
.lg-toolbar {
	background: transparent;

	.lg-icon {
    font-size: 40px;
    height: 32px;
    line-height: 32px;
		width: 32px;
		color: #FFF;
		padding: 0;
		position: absolute;
		top: 50px;
		right: 50px;
		transition: border .3s, color .3s, transform .3s, opacity .3s;

		&:hover {
			color: $primary;
		}
	}
}
.lg-actions {
	.lg-icon {
		border: 2px solid #FFF;
		width: 70px;
		height: 70px;
		border-radius: 35px;
		color: #FFF;
		transition: border .3s, color .3s, transform .3s, opacity .3s;

		&:after,
		&:before {
			font-size: 36px;
		}

		@media (min-width:960px) {
			&:hover {
				color: $primary;
				border-color: $primary;
			}
		}
	}
	.lg-prev {
		left: 50px;
		transform: translate3d(-30px,0,0);
		opacity: 0;
	}
	.lg-next {
		right: 50px;
		transform: translate3d(30px,0,0);
		opacity: 0;
	}

	@media (max-width: 959px) {
		.lg-prev,
		.lg-next {
			display: none;
		}
	}
}
.lg-close {
	opacity: 0;
	transform: translate3d(30px,0,0);
}

#lg-counter {
	@include fz(28);
	color: #FFF;
	position: absolute;
	left: 50px;
	top: 50px;
	padding: 0;
	transition: .3s opacity, .3s transform;
	transform: translate3d(-30px,0,0);
	opacity: 0;
}
.lg-appear {
	.lg-prev,
	.lg-next,
	.lg-close,
	#lg-counter {
		opacity: 1;
		transform: translate3d(0px,0,0);
	}
}
.lg-outer .lg-img-wrap {
	padding: 50px 160px;
}
@media (max-width: 959px) {
	.lg-outer {
		background: #000;

		.lg-img-wrap {
			padding: 50px 0px;
		}
	}
	.lg-toolbar {
		background: $bgc;
		display: flex;
		padding: 18px 15px;
		justify-content: space-between;
		align-items: center;
		flex-direction: row-reverse;

		&:before,
		&:after {
			content: none;
		}

		.lg-icon {
			position: relative;
			top: 0;
			right: 0;
			width: 24px;
			height: 24px;
			font-size: 32px;
			line-height: 24px;
			text-align: center;
			float: none;

			&:after {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
			}
		}
	}
	#lg-counter {
		position: static;
		@include fz(18);
		font-weight: 400;
	}
	.lg-hide-items .lg-toolbar {
		transform: none;
		opacity: 1;
	}
}

@media (max-width: 599px) {
	
	.lg-toolbar {
		padding: 10px 15px;
	}
	#lg-counter {
		@include fz(16);
	}
}

.swiper-button {
	&-prev,
	&-next {
		position: relative;
		left: auto;
		right: auto;
		top: auto;
		bottom: auto;
		border-radius: 50%;
		width: 64px;
		height: 64px;
		outline: none !important;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0;
			transition: opacity .4s;
			background-size: contain !important;
			background-repeat: no-repeat;
			background-position: center;
		}

		@media (min-width:960px) {
			&:hover {
				&:before {
					opacity: 1;
				}
			}
		}

		&.swiper-button-white {

			&:before {
				filter: brightness(10);
			}

			&.swiper-button-prev {
				background-image: url(../images/svg/slider-arrow-left_orange.svg);
			}
			&.swiper-button-next {
				background-image: url(../images/svg/slider-arrow-right_orange.svg);
			}
		}
	}
	&-prev:before {
		background-image: url(../images/svg/slider-arrow-left_orange.svg);
	}
	&-next:before {
		background-image: url(../images/svg/slider-arrow-right_orange.svg);
	}

	@media (max-width: 1259px) {
		&-prev,
		&-next {
			width: 50px;
			height: 50px;
		}
	}

	@media (max-width: 959px) {
		&-prev,
		&-next {
			width: 32px;
			height: 32px;
		}
	}
}


.ui-chart {
	color: #FFF;
	display: flex;
	padding-top: 20px;
	padding-bottom: 40px;


	&-block {
		margin-bottom: 80px;
	}
	
	&-header {
		margin-bottom: 20px;
	}

	&-title {
		@include fz(54);
		line-height: 1;
		margin-bottom: 8px;
	}

	&-units {
		@include fz(24);
		line-height: 1;
	}

	&-bar {
		height: 450px;
		// flex: 0 0 calc(6.25% - 24px);
		// max-width: calc(6.25% - 24px);
		// min-width: 38px;
		// margin-right: 24px;
		flex: 1 0 auto;
		min-width: 30px;
		max-width: 54px;
		margin-right: 20px;
		margin-right: clamp(10px,1.5vw,24px);
		position: relative;
		text-align: center;
		transition: opacity .3s;

		&:last-child {
			margin-right: 0;
		}
		&.darken {
			opacity: 0.25;
		}
		&.active {
			.ui-chart-bar-value {
				transform: scale(1.5);
			}
		}


		&-progress {
			position: absolute;
			left: 0px;
			right: 0px;
			bottom: 0px;
			min-height: 10px;
			border-top: 1px solid #FFF;

			@media (min-width: 960px) {
				width: 100% !important;
			}
		}
		&-value {
			position: absolute;
			bottom: 100%;
			margin-bottom: 4px;
			left: 0;
			right: 0;
			color: #FFF;
			@include fz(12);
			font-weight: 700;
			transition: transform .3s;
		}
		&-label {
			position: absolute;
			top: 100%;
			margin-top: 8px;
			left: 0;
			right: 0;
		}
	}

	&-tabs {
		font-size: 0;
		margin-bottom: 20px;
	}
	&-tab {
		display: inline-block;
		vertical-align: middle;
		height: 60px;
		line-height: 58px;
		border: 1px dashed rgba(#fff,.5);
		border-radius: 30px;
		padding: 0px 20px;
		transition: color .4s, border .4s;
		color: #FFF;
		@include fz(24);
		margin-right: 16px;
		margin-bottom: 15px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;

		&:hover,
		&.selected {
			border-style: solid;
			border-color: #FFF;
			color: #FFF;
		}
		
		&-orange {
			&:hover,
			&.selected {
				border-color: $primary;
				color: $primary;
			}
		}

		&-green {
			&:hover,
			&.selected {
				border-color: $secondary;
				color: $secondary;
			}
		}

		&-lime {
			&:hover,
			&.selected {
				border-color: $tertiary;
				color: $tertiary;
			}
		}

		&-brown {
			&:hover,
			&.selected {
				border-color: $brown;
				color: $brown;
			}
		}

		&-blue {
			&:hover,
			&.selected {
				border-color: $blue;
				color: $blue;
			}
		}

		@media (max-width: 1439px) {
			@include fz(20);
			height: 56px;
			line-height: 54px;
		}
		@media (max-width: 1259px) {
			@include fz(14);
			height: 48px;
			line-height: 46px;
		}
	}

	@media (max-width: 959px) {
		flex-direction: column;
		padding-top: 0;
		padding-bottom: 10px;

		&-header {
			margin-bottom: 16px;
		}
		&-title {
			@include fz(24);
		}
		&-units {
			@include fz(16);
		}
		&-block {
			margin-bottom: 40px;
		}
		&-bar {
			height: 20px;
			margin-bottom: 6px;
			margin-right: 0;
			max-width: calc(100% - 90px);
			width: calc(100% - 90px);
			text-align: left;
			margin-left: 42px;
			margin-right: 48px;

			&-desctop {
				display: none;
				visibility: hidden;
			}

			&-progress {
				// transform: rotate(90deg);
				left: 0px;
				right: auto;
				height: 100% !important;
				border-top: 0;
				border-right: 1px solid #FFF;
			}
			&-label {
				left: -42px;
				right: auto;
				top: 1px;
				max-width: 38px;
				@include fz(14);
				margin-top: 0;
			}
			&-value {
				left: 100%;
				right: auto;
				bottom: auto;
				top: 2px;
				margin-bottom: 0;
				margin-left: 8px;
				@include fz(14);
				max-width: 40px;
			}
		}
		&-tabs {
			white-space: nowrap;
			overflow-x: auto;
			margin-bottom: 16px;
			scrollbar-width: 0;
			margin-left: -16px;
			margin-right: -16px;
			padding-right: 7px;
			padding-left: 16px;
			-webkit-overflow-scrolling: touch;

			&::-webkit-scrollbar {
				display: none;
				width: 0;
				height: 0;
				-webkit-appearance: none;
			}
		}
		&-tab {
			margin-right: 8px;
			margin-bottom: 0;
			height: 44px;
			line-height: 42px;
			padding: 0px 12px;
		}
	}

	@media (max-width: 599px) {

		&-title {
			@include fz(20);
		}
		&-units {
			@include fz(14);
		}

		&-bar {
			height: 16px;
			margin-bottom: 4px;
			margin-left: 40px;
			margin-right: 40px;
			width: calc(100% - 80px);
			max-width: calc(100% - 80px);

			&-label {
				@include fz(12);
				left: -40px;
				top: 0;
			}
			&-value {
				top: 1px;
				@include fz(12);
			}
		}

		&-tab {
			height: 40px;
			line-height: 38px;
			
		}
	}
}


.ui-section {
	padding-top: 80px;
	// padding-bottom: 120px;
	padding-bottom: 90px;

	@media (max-width: 1439px) {
		padding-top: 70px;
		padding-bottom: 80px;
	}

	@media (max-width: 1259px) {
		padding-top: 60px;
		padding-bottom: 70px;
	}

	@media (max-width: 959px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.ui-cite {
	@include fz(28);
	display: grid;
  align-items: center;
  grid-template-columns: 24.833% 1fr;
  grid-gap: 0 50px;
  grid-template-areas: 
  'img txt'
  'img person';

	&:not(:last-child) {
		margin-bottom: 80px;
	}

  &-photo {
    grid-area: img;

		img {
			display: block;
			border-radius: 200px;
		}
  }
  &-person {
    grid-area: person;
    align-self: start;
  }
  &-cite {
    grid-area: txt;
    align-self: end;
		padding-right: ($content_col * 3);
		margin-bottom: 16px;
  }
	&-author {
		font-weight: 700;
		color: $primary;
		margin-bottom: 8px;
		line-height: 1.33;
	}
	&-pos {
		@include fz(18);
		color: $primary;
		line-height: 1.25;
	}

	@media (max-width: 1439px) {
		@include fz(24);

		&-pos {
			@include fz(14);
		}
		&-cite {
			padding-right: 0;
		}
	}

  @media (max-width: 959px) {
    grid-template-columns: 200px 1fr;
    grid-gap: 0 24px;
		@include fz(20);
  }

  @media (max-width: 599px) {
    grid-template-areas: 
      'img person'
      'txt txt';
    grid-template-columns: 80px 1fr;
    grid-gap: 8px 16px;
		@include fz(16);

    &-person {
      align-self: center;
    }
    &-cite {
      align-items: start;
    }
		&-author {
			line-height: 1.25;
		}
		&-pos {
			line-height: 1.15;
		}
  }
}

.ui-scroller-horizontal {
	overflow-y: hidden;
	overflow-x: auto;
}
.ui-scroller-vertical {
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 25px;
	margin-right: -25px;

	@media (max-width: 959px) {
		padding-right: 16px;
		margin-right: -16px;
	}
}
.ui-scroller {
	-moz-scrollbar-width: thin;
	scrollbar-width: thin;
	scrollbar-color: rgba(#FFF,.2) rgba(#FFF,.5);
}
.ui-scroller::-webkit-scrollbar {
	width: 2px;
	height: 2px;
	background: rgba(#FFF,.2);
}
.ui-scroller::-webkit-scrollbar-thumb {
	width: 2px;
	height: 2px;
	background: rgba(#FFF,.5);
}

.ui-invisible {
	opacity: 0;
}
.ui-hidden {
	display: none;
	visibility: hidden;
}
.ui-no-scroll {
	// overflow: hidden !important;

	body {
		overflow: hidden !important;
	}
}

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
.ui-touch-only {
	display: none;
	visibility: hidden;
}
.ui-touchscreen {
	@media (max-width: 1259px) and (min-width: 960px) {
		.ui-touch-only {
			display: block;
			visibility: visible;
		}
	}
}

.ui-swiper-slide-img {
	cursor: pointer;
}

// .lg-css3.lg-slide.lg-use-css3 .lg-item,
// .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide {
//   opacity: 0
// }

// .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide {
//   -webkit-transform: translate3d(-20%,0,0);
//   transform: translate3d(-20%,0,0)
// }

// .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide {
//   -webkit-transform: translate3d(20%,0,0);
//   transform: translate3d(20%,0,0)
// }

// .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current {
//   -webkit-transform: translate3d(0,0,0);
//   transform: translate3d(0,0,0);
//   opacity: 1
// }

// .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-current,
// .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-next-slide,
// .lg-css3.lg-slide.lg-use-css3 .lg-item.lg-prev-slide {
//   -webkit-transition: -webkit-transform 1s cubic-bezier(0,0,.25,1) 0s,opacity .1s ease 0s;
//   -moz-transition: -moz-transform 1s cubic-bezier(0,0,.25,1) 0s,opacity .1s ease 0s;
//   -o-transition: -o-transform 1s cubic-bezier(0,0,.25,1) 0s,opacity .1s ease 0s;
//   transition: transform 1s cubic-bezier(0,0,.25,1) 0s,opacity .1s ease 0s;
// }

.node, .node-inner {
	ol.ui-marked {
		li:before {
			color: $primary;
		}
	}
}

ymaps {
	max-width: 100vw !important;
	max-height: calc((var(--vh, 1vh) * 100)) !important;
}