.video {
  &-item {
    margin-bottom: 100px;

    &-desc {
      &-text {
        @include fz(28);
        line-height: 1.35;
        margin-bottom: 32px;
  
        @media (max-width: 1439px) {
          @include fz(24);
        }
        @media (max-width: 1259px) {
          max-width: 600px;
        }
      }
  
      &-date {
        color: $primary;
        @include fz(22);
        margin-bottom: 32px;
        @media (max-width: 1439px) {
          @include fz(18);
        }
      }
    }

    @media (min-width: 1440px) {
      .ui-video-play {
        width: 140px;
        height: 140px;
      }
    }

    .ui-video {
      margin-bottom: 0;
    }
  }

  @media (max-width: 959px) {
    &-item {
      margin-bottom: 40px;

      &-desc {
        &-text {
          max-width: 100%;
          @include fz(18);
          margin-bottom: 8px;
        }

        &-date {
          margin-bottom: 8px;
          @include fz(14);
          font-weight: 600;
        }
      }
    }
  }

  @media (max-width: 599px) {
    &-item {
      

      &-desc {
        &-text {
          @include fz(16);
        }

        &-date {
          @include fz(12);
        }
      }
    }
  }
}
