<div class="main-block main-activities ui-bg-grayblue" id="main-activities">
  <div class="container">
    <div class="main-block-title h1">С уважением<br> к отрасли</div>

    <div class="main-activities-cols flex" v-if="!isMobile">
      <div class="main-activities-left">
        <div class="main-activities-nav">
          <ul class="ui-tags-list">
            <li>
              <a href="#" class="ui-tags-link" :class="{active: index === 0}" @click.prevent="changeTab(0)" >Научная деятельность</a>
            </li>
            <li>
              <a href="#" class="ui-tags-link" :class="{active: index === 1}" @click.prevent="changeTab(1)">Музей бумаги</a>
            </li>
            <li>
              <a href="#" class="ui-tags-link" :class="{active: index === 2}" @click.prevent="changeTab(2)">Социальные проекты</a>
            </li>
            <li>
              <a href="#" class="ui-tags-link" :class="{active: index === 3}" @click.prevent="changeTab(3)">Корпоративный университет</a>
            </li>
          </ul>
        </div>

        <div class="main-activities-descrs">
          <transition 
            v-on:enter="descrEnter"
            v-on:leave="descrLeave"
            v-bind:css="false"
            mode="out-in"
          >
            <div class="main-acivities-descr" v-if="index === 0" key="0">4 строки Собственные исследования и разработки позволяют улучшать физико-механические параметры продукции. Собственные исследования и разработки позволяют улучшать. Собственные исследования и разработки позволяют улучшать.</div>

            <div class="main-acivities-descr" v-if="index === 1" key="1">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Диких одна языком над дороге себя страна предупреждал курсивных парадигматическая.</div>

            <div class="main-acivities-descr" v-if="index === 2" key="2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit cum, deserunt dicta voluptatem vero suscipit inventore similique corrupti unde!</div>

            <div class="main-acivities-descr" v-if="index === 3" key="3">4 строки Собственные исследования и разработки позволяют улучшать физико-механические параметры продукции. Собственные исследования и разработки позволяют улучшать. Собственные исследования и разработки позволяют улучшать.</div>
          </transition>
        </div>
      </div><!--.left-->

      <div class="main-activities-right">
        <div class="main-activities-tabs">
          <transition 
            v-on:enter="tabEnter"
            v-on:leave="tabLeave"
            v-bind:css="false"
            mode="out-in"
          >
            <div class="main-activities-tab" v-if="index === 0" key="0">
              <div class="main-activities-img">
                <img src="./images/bgs/activities-1.png" alt="alt">
              </div>
              <div class="main-activities-sights">
                <div class="main-activities-sights-btn">
                  <a href="javascript:void(0)" class="ui-btn-circle ui-btn-circle-midi">
                    <div class="ui-btn-circle-circle">
                      <div class="ui-btn-circle-txt">Научная деятельность</div>
                      <svg class="sprite ui-btn-circle-arrow">
                        <use xlink:href="svg/svg/symbols.svg#circle-btn-arrow"></use>
                      </svg>
                    </div>
                  </a>
                </div>

                <div class="main-activities-sights-tezis">
                  <h6>63</h6>
                  <p>чего-то</p>
                  
                  <h6>20 тыс.</h6>
                  <p>чего-то</p>
                </div>
              </div>
            </div>

            <div class="main-activities-tab" v-if="index === 1" key="1">
              <div class="main-activities-img">
                <img src="./images/bgs/activities-2.png" alt="alt">
              </div>
              <div class="main-activities-sights">
                <div class="main-activities-sights-btn">
                  <a href="javascript:void(0)" class="ui-btn-circle ui-btn-circle-midi">
                    <div class="ui-btn-circle-circle">
                      <div class="ui-btn-circle-txt">Музей бумаги</div>
                      <svg class="sprite ui-btn-circle-arrow">
                        <use xlink:href="svg/svg/symbols.svg#circle-btn-arrow"></use>
                      </svg>
                    </div>
                  </a>
                </div>

                <div class="main-activities-sights-tezis">
                  <h6>152 тыс.</h6>
                  <p>чего-то</p>
                </div>
              </div>
            </div>

            <div class="main-activities-tab" v-if="index === 2" key="2">
              <div class="main-activities-img">
                <img src="./images/bgs/activities-3.png" alt="alt">
              </div>
              <div class="main-activities-sights">
                <div class="main-activities-sights-btn">
                  <a href="javascript:void(0)" class="ui-btn-circle ui-btn-circle-midi">
                    <div class="ui-btn-circle-circle">
                      <div class="ui-btn-circle-txt">Социальные проекты</div>
                      <svg class="sprite ui-btn-circle-arrow">
                        <use xlink:href="svg/svg/symbols.svg#circle-btn-arrow"></use>
                      </svg>
                    </div>
                  </a>
                </div>

                <div class="main-activities-sights-tezis">
                  <p>тезис без цифр</p>
                  <p>тезис без цифр</p>
                </div>
              </div>
            </div>

            <div class="main-activities-tab" v-if="index === 3" key="3">
              <div class="main-activities-img">
                <img src="./images/bgs/activities-4.png" alt="alt">
              </div>
              <div class="main-activities-sights">
                <div class="main-activities-sights-btn">
                  <a href="javascript:void(0)" class="ui-btn-circle ui-btn-circle-midi">
                    <div class="ui-btn-circle-circle">
                      <div class="ui-btn-circle-txt">Университет</div>
                      <svg class="sprite ui-btn-circle-arrow">
                        <use xlink:href="svg/svg/symbols.svg#circle-btn-arrow"></use>
                      </svg>
                    </div>
                  </a>
                </div>

                <div class="main-activities-sights-tezis">
                  <p>только тезис без цифр</p>
                </div>
              </div>
            </div>
          </transition>
        </div>
      </div>
    </div>

    <div class="mobile-activities" v-else>
      <div class="mobile-activities-panel" ref="flipPanel">
        <div class="mobile-activities-flip flex valign-center align-justify" ref="flip">
          <div class="mobile-activities-flip-title" ref="flipTitle">Научная деятельность</div>

          <div class="mobile-activities-nav">
            <div class="mobile-activities-prev mobile-activities-arrow"><svg class="sprite"><use xlink:href="svg/svg/symbols.svg#arrow-circle-next"/></svg></div>
            <div class="mobile-activities-next mobile-activities-arrow"><svg class="sprite"><use xlink:href="svg/svg/symbols.svg#arrow-circle-next"/></svg></div>
          </div>
        </div>
      </div>

      <div class="swiper mobile-activities-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide" data-name="Научная деятельность">
            <div class="mobile-activities-slide">
              <div class="mobile-activities-cols flex">
                <div class="mobile-activities-data anim-once">
                  <div class="mobile-activities-tezises">
                    <h6>1000+</h6>
                    <p>сотрудников с ученой степенью</p>
                    <h6>>15 лет</h6>
                    <p>собственных разработок</p>
                  </div>

                  <a href="#" class="ui-btn-circle">
                    <div class="ui-btn-circle-circle">
                      <div class="ui-btn-circle-txt">Подробнее</div>
                      <svg class="sprite ui-btn-circle-arrow">
                        <use xlink:href="svg/svg/symbols.svg#circle-btn-arrow"></use>
                      </svg>
                    </div>
                  </a>
                </div>

                <div class="mobile-activities-img">
                  <img src="./images/bgs/mobile-act-1.png" alt="alt" loading="lazy">
                </div>

              </div>

              <div class="mobile-activities-txt anim-once">Наше производство основано на применении инновационных технологий и собственных научных разработок. Мы сотрудничаем с крупнейшими отраслевыми исследовательскими центрами, сотрудники компании успешно защищают диссертации, публикуются в ведущих научных изданиях в России и за рубежом.</div>
            </div><!--.slide-->


          </div>

          <div class="swiper-slide" data-name="Музей бумаги">
            <div class="mobile-activities-slide">
              <div class="mobile-activities-cols flex">
                <div class="mobile-activities-data anim-once">
                  <div class="mobile-activities-tezises">
                    <h6>1000+</h6>
                    <p>экспонатов</p>
                    <h6>25 тыс.</h6>
                    <p>посетителей в год</p>
                  </div>

                  <a href="#" class="ui-btn-circle">
                    <div class="ui-btn-circle-circle">
                      <div class="ui-btn-circle-txt">Подробнее</div>
                      <svg class="sprite ui-btn-circle-arrow">
                        <use xlink:href="svg/svg/symbols.svg#circle-btn-arrow"></use>
                      </svg>
                    </div>
                  </a>
                </div>

                <div class="mobile-activities-img">
                  <img src="./images/bgs/mobile-act-2.png" alt="alt" loading="lazy">
                </div>

              </div>

              <div class="mobile-activities-txt anim-once">Первый в России интерактивный музей бумаги и целлюлозно-бумажной промышленности «Бузеон» расположен в посёлке Полотняный Завод Калужской области. Вас ждут уникальная экспозиция и интересные мастер-классы для всей семьи.</div>
            </div><!--.slide-->


          </div>

          <div class="swiper-slide" data-name="Социальные проекты">
            <div class="mobile-activities-slide mobile-activities-bird">
              <div class="mobile-activities-cols flex">
                <div class="mobile-activities-data anim-once">
                  <a href="#" class="ui-btn-circle">
                    <div class="ui-btn-circle-circle">
                      <div class="ui-btn-circle-txt">Подробнее</div>
                      <svg class="sprite ui-btn-circle-arrow">
                        <use xlink:href="svg/svg/symbols.svg#circle-btn-arrow"></use>
                      </svg>
                    </div>
                  </a>
                </div>

                <div class="mobile-activities-img">
                  <img src="./images/bgs/mobile-act-3.png" alt="alt" loading="lazy">
                </div>

              </div>

              <div class="mobile-activities-txt anim-once">В своей деятельности компания придерживается принципов ESG. Предприятия ОБФ работают с местными сообществами, НКО, реализуют социальные и благотворительные программы, просветительские проекты.</div>
            </div><!--.slide-->


          </div>

          <div class="swiper-slide" data-name="Корпоративный университет">
            <div class="mobile-activities-slide">
              <div class="mobile-activities-cols flex">
                <div class="mobile-activities-data anim-once">
                  <div class="mobile-activities-tezises">
                    <h6>170</h6>
                    <p>rehcjd</p>
                    <h6>1050</h6>
                    <p>прошедших 
                      обучение 
                      в 2021 году</p>
                  </div>
                </div>

                <div class="mobile-activities-img">
                  <img src="./images/bgs/mobile-act-4.png" alt="alt" loading="lazy">
                </div>

              </div>

              <div class="mobile-activities-txt anim-once">В компании действует многоуровневая система обучения и развития персонала, направленная на формирование у сотрудников всех уровней необходимых навыков и компетенций. Создан собственный банк знаний.</div>
            </div><!--.slide-->


          </div>
        </div>
      </div><!--.swiper-->


    </div><!--.mobile-activities-->
  </div>
</div>